<% if (@qp_id == '1') %>  
  <div>
    <div>Styles 9800 &amp; 6100</div>
    <div>We custom cut and sew covers to fit any table size. Cloths wider than 54" will be seamed. Give us your table size &amp; we will do the math. See the <a href="/how_to_measure">how to measure</a> page for specifics.</div>
    <div>We require table size instead of cloth size for quoting.</div>
    <div>Please be sure you have visited our measuring page for how to measureand table styles.</div>
  </div>
<% elsif (@qp_id == '2') %>  
  <div>
    <div>Styles 1200 &amp; 2000</div>
    <div>We custom cut and sew covers to fit any table size. / Whole roll (25 yards x 54" width) / Cut goods  (any length X 4" width), Cloths wider than 54" will be seamed. Give us your table size &amp; we will do the math, or see how to measure page for specifics.</div>
    <div>We require table size instead of cloth size for quoting.</div>
    <div>Please be sure you have visited our measuring page for how to measureand table styles.</div>
  </div>  
<% elsif (@qp_id == '3') %>  
  <div>
    <div>Classic White Vinyl Padding</div>
    <div>Only available by the Roll (25 yards x 54" width).</div>
  </div> 
<% elsif (@qp_id == '4') %>  
  <div>
    <div>Non-Slip Padding Rolls</div>
    <div>Available by the Roll (25 yards) in either 36", 48", &amp; 72" widths.  Non-Slip Padding is also available in <a href="/lines/new?quote_product_id=5">Custom Cut sizes</a> to accomodate any need.</div>
  </div> 
<% elsif (@qp_id == '5') %>  
  <div>
    <div>Non-Slip Padding Custom Cuts</div>
    <div>Available in any Custom Cut sizes you ned to accomodate any purpose. Non-Slip Padding is also available by the <a href="/lines/new?quote_product_id=4">Roll (25 yards)</a> in either 36", 48", &amp; 72" widths.  </div>
  </div>
<% elsif (@qp_id == '6') %>  
  <div>
    <div>C.O.M. (Customer Own Material)</div>
    <div>Matte or Gloss applied to textured or flat fabrics. WIDTH OF GOODS: 45" to 58"</div>
  </div>
<% elsif (@qp_id == '7') %>  
  <div>
    <div>Vinyl Custom Cuts</div>
    <div>Classic and Premium Vinyl Custom Cut rules, availability and options.</div>
  </div>
<% elsif (@qp_id == '8') %>  
  <div>
    <div>Laminate Custom Cuts</div>
    <div>Designer Laminate Vinyl Custom Cut rules, availability and options.</div>
  </div>
<% elsif (@qp_id == '9') %>  
  <div>
    <div>Upholstery Custom Cuts</div>
    <div>Vinyl Upholstery Fabric Custom Cut rules, availability and options.</div>
  </div>
<% elsif (@qp_id == '10') %>  
   <div>
    <div>Styles 9800 &amp; 6100</div>
    <div>Whole roll (25 yards x 54" width)</div>
  </div>
<% elsif (@qp_id == '11') %>  
  <div>
    <div>Styles 1200 &amp; 2000</div>
    <div>Whole roll (25 yards x 54" width)</div>
  </div>
<% elsif (@qp_id == '12') %>  
  <div>
    <div>Upholstery Styles - Distinction Collection 6111 - 6126</div>
    <div>Whole roll (25 yards x 54" width)</div>
  </div>
<% elsif (@qp_id == '13') %>  
  <div>
    <div>Value Vinyl Ready Made Table Cloths</div>
    <div>Available in 8 ready-made sizes and shapes. </div>
  </div> 
<% end %>

<%= bootstrap_form_for(@line, style: :horizontal, left: "col-sm-2 col-md-2", right: "col-sm-6 col-md-4") do |f| %>

  <% if @line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">

    <%= 
    #f.association :quote_product, selected: @qp_id, disabled: true 
    %>
    
    <%= f.collection_select :quote_product_id, QuoteProduct.all.order("name"), :id, :name, { selected: @qp_id, label: false  } %>
    

    <%= # f.hidden_field :quote_product_id, :as => :hidden, :input_html => { :value => @qp_id } 
    %>


    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.collection_select :shape_id, Shape.all.order("id"), :id, :name, { prompt: "Please Choose" }   %>
    </div> 

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.collection_select :cover_id, Cover.all.order("id"), :id, :name, { prompt: "Please Choose" } %>
    </div> 
    
    <% if (@qp_id == '5') %> 
    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="5">
      <%= f.number_field :length, placeholder: "Length (In Inches)" %>
    </div>

    <% else %>
    
    <div class="js-dependent-fields" data-select-id="line_shape_id" data-option-value="2">
      <%= f.number_field :length, placeholder: "Length (In Inches)" %>
    </div>
    <% end %> 


    <% if (@qp_id == '4') %>  
    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="4">
      <%= f.select(:width, [[36, 36], [48, 48], [72, 72]], { prompt: "Please Choose"} )  %>
    </div>

    <% else %>
    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|5|6">
      <%= f.number_field :width, placeholder: "Width (In Inches)" %>
    </div>
    <% end %>    


    <div class="js-dependent-fields" data-select-id="line_cover_id" data-option-value="4|5">
      <%= f.number_field :height, placeholder: "Height (In Inches)" %>
    </div>  
   


    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|7|8|9|10|11|12|13">
        <% if (@qp_id == '1') || (@qp_id == '7') || (@qp_id == '10') %>
         
          <%= f.collection_select(:series_id,  Series.where("style_id = 1 OR style_id = 2").order("name"), :id, :name, {prompt: "Please  Select a Series before Selecting a Color"} ) %>

        <% elsif (@qp_id == '2') || (@qp_id == '8') || (@qp_id == '11') %>

          <%= f.collection_select(:series_id,  Series.where("style_id = 3").order("name"), :id, :name, {prompt: "Please  Select a Series before Selecting a Color"} ) %>


        <% elsif (@qp_id == '9') ||  (@qp_id == '12') %>
          <%= f.collection_select(:series_id,  Series.where("style_id = 7").order("name"), :id, :name, {prompt: "Please  Select a Series before Selecting a Color"} ) %>

        <% elsif (@qp_id == '13') %>
          <%= f.collection_select(:series_id,  Series.where("style_id = 8").order("name"), :id, :name, {prompt: "Please  Select a Series before Selecting a Color"} ) %>
        <% end %>
    </div>  


    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|7|8|9|10|11|12|13">
      <!-- custom fix for unsupported grouped_collection_select-->
      <div class="form-group"><label class="col-sm-2 col-md-2 control-label" for="line_color_id">Color</label><div class="col-sm-6 col-md-4">

        <%= f.grouped_collection_select(:color_id, Series.order(:name), :colors, :name, :id, :name, {prompt: ""}, {class: "form-control"} ) %>
      </div></div> 

    </div>  




    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      

      <%= f.form_group :umbrella, label: { text: "Umbrella Hole?" } do %>
        <%= f.check_box :umbrella do %>
          This is sample extra text if we need to explain more thoroughly
        <% end %>
      <% end %>




    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.form_group :velcro, label: { text: "Booth with Velcro?" } do %>
        <%= f.check_box :velcro do %>
          This is sample extra text if we need to explain more thoroughly
        <% end %>
      <% end %>
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="6|7|8|9">
      <%= f.number_field :yards, label: "Yards Long", placeholder: "Yards Long (in Yards)" %>
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="13">
      <%= f.collection_select(:size_id,  Size.order("id"), :id, :dimension, {prompt: "Choose Your Size" } ) %>
    </div>  

      <%= f.number_field :quantity, placeholder: "Enter Quantity" %>
      <%= f.hidden_field :price, value: "0" %>

  </div>

  <div class="form-actions">
    <%= f.submit 'Add to My Quote', :class => "btn btn-success"  %>
    <%= link_to "Show My Current Quote", @quoteholder, class: "btn btn-info", method: :get %>
    <%= link_to 'Choose a Different Product to Request a Quote For', '/request_quote', class: "btn btn-warning" %>
    <%= link_to 'Back To Request a Quote', '/request_quote',  class: "btn btn-danger" %>
  </div>
<% end %>
