<%= simple_form_for(@line) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :quote_product, selected: @qp_id, disabled: true %>
    
    <%= f.input :quote_product_id, :as => :hidden, :input_html => { :value => @qp_id } %>


    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.association :shape %>
    </div> 

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.association :cover %>
    </div> 

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="5">
      <%= f.input :length %>
    </div>
    <div class="js-dependent-fields" data-select-id="line_shape_id" data-option-value="2">
      <%= f.input :length %>
    </div>

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|5|6">
      <%= f.input :width %>
    </div>

    <div class="js-dependent-fields" data-select-id="line_cover_id" data-option-value="4|5">
      <%= f.input :height %>
    </div>  




    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|7|8|9">

      <%= f.label :series_id %>
       <% if (@qp_id == '1' || '2' || '7' || '8' || '10' || '11' ) %>
         <%= f.collection_select(:series_id,  Series.where("style_id = 1 OR style_id = 2").order("name"), :id, :name, {include_blank: true} ) %>
        <% elsif (@qp_id == '9' || '12') %>
          <%= f.collection_select(:series_id,  Series.where("style_id = 7").order("name"), :id, :name, {include_blank: true} ) %>
        <% elsif (@qp_id == '13') %>
          <%= f.collection_select(:series_id,  Series.where("style_id = 8").order("name"), :id, :name, {include_blank: true} ) %>
        <% end %>

    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2|7|8|9">
      <%= #f.association :color
       %>
        <%= f.label :color_id %>
        <%= f.grouped_collection_select(:color_id, Series.order(:name), :colors, :name, :id, :name, include_blank: true ) %>
      
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.input :umbrella %>
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="1|2">
      <%= f.input :velcro %>
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="7|8|9">
      <%= f.input :yards, label: "Yards Long" %>
    </div>  

    <div class="js-dependent-fields" data-select-id="line_quote_product_id" data-option-value="13">
      <%= f.label :size %>
      <%= f.collection_select(:size_id,  Size.order("id"), :id, :dimension, {prompt: "Choose Your Size" } ) %>

    </div>  

      <%= f.input :quantity %>
      <%= f.input :price %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
