<h1>Listing vinylcuts</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Yards long</th>
      <th>Series</th>
      <th>Color</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vinylcuts.each do |vinylcut| %>
      <tr>
        <td><%= vinylcut.quantity %></td>
        <td><%= vinylcut.yards_long %></td>
        <td><%= vinylcut.series %></td>
        <td><%= vinylcut.color %></td>
        <td><%= vinylcut.price %></td>
        <td><%= link_to 'Show', vinylcut %></td>
        <td><%= link_to 'Edit', edit_vinylcut_path(vinylcut) %></td>
        <td><%= link_to 'Destroy', vinylcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinylcut', new_vinylcut_path %>
