<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @vinylcut.quantity %>
</p>

<p>
  <strong>Yards long:</strong>
  <%= @vinylcut.yards_long %>
</p>

<p>
  <strong>Series:</strong>
  <%= @vinylcut.series %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vinylcut.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinylcut.price %>
</p>

<%= link_to 'Edit', edit_vinylcut_path(@vinylcut) %> |
<%= link_to 'Back', vinylcuts_path %>
