<% provide(:title, 'Free Swatches') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="active"><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    
    <div class="row">
      <div class="col-xs-12 col-sm-7">        
        <h1 class="addmaroon">Free Swatches Help You Choose the Right Pattern</h1>
        <p class="stylesub addblack">Free shipping, No Strings Attached</p>
        <p>Shopping online is certainly convenient, but it's not always easy to tell from a picture whether you would prefer vinyl or laminate, light blue or dark, a solid or a pattern. To help you decide, we are happy to send you FREE 8” x 10” SWATCHES of any of our fabrics or non-slip padding.</p>
        <div class="addmaroon styledesc">Ordering is Easy</div> 
        <p>Go to the style pages of the collections you like and look for the “Order Swatch” button below each color option. Simply click the button and the swatch will be added to your shopping cart. When you finish shopping, go to your shopping cart to check out and place your order.</p>
        <p>We’ll send your FREE 8” x 10” swatches by express mail within 24 hours. Order as many as you need to make your final choice. We always want you to be 100% satisfied.</p>
        <p>If you need a larger sample of a specific vinyl or laminate pattern, you may request a free tablecloth-sized, 52” x 52” cutting from <a href="/contact" class="blacklink">customer service</a>. (Only one free 52” cutting per customer, please.)
        <br>We also can laminate a ½- to 1-yard sample of your material with lamination, in a matte or glossy finish. Go to the <a href="/americlear_laminations_sample" class="blacklink">Americlear Sample Lamination</a> page to learn more.</p>
        <p>Links to request <a href="/categories" class="blacklink">free samples of non-slip padding</a> are also on the specific product pages.</p>
        <div class="addmaroon styledesc">Call Toll-Free for Personal Assistance</div>
        <p>If you are unsure which products will work best for you, call us toll-free at 1-800-626-2350, and let us help you narrow down your options.</p>  
      </div>
      <div class="col-xs-12 col-sm-5">
          <div>
              <%= image_tag("free-swatches.jpg", :class => "img-responsive", alt:"Free Swatches") %>
          </div>
          <div class="top20 addarmy bold larger">
            FREE SWATCHES make finding the right fabric for your project risk-free. Order as many as you like.
          </div>  
      </div>    
    </div>    
  </div>
</div>   