<% provide(:title, 'Table Cloth and Upholstery Photo Galleries | Americo Inc.') %>
<% provide(:description, 'Americo photo galleries.') %>

 <div class="row">
      <div class="col-xs-1">
      </div>

      <div class="col-xs-5 text-center">
        <div class="addmaroon bold larger">Table Cover Photo Gallery</div>
        <%= link_to("/table_cover_gallery") do %><%= image_tag("table/18_6120_premium_vinyl_spring_boquet_tablecloth.jpg", :class => "img-responsive top10" ) %><% end %>
  <%= link_to '/table_cover_gallery', class: "btn btn-default top10" do %>
    Table Cover Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>

      </div>

      <div class="col-xs-5 text-center">
        <div class="addmaroon bold larger">Upholstery Photo Gallery</div>
        <%= link_to("/photo_gallery") do %><%= image_tag("gallery/6111_dustyrose_granite_upholstery_americo.jpg", :class => "img-responsive top10" ) %><% end %>
        <%= link_to '/photo_gallery', class: "btn btn-default top10" do %>
          Upholstery Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
        <% end %>
      </div>

      <div class="col-xs-1">
      </div>
</div>