<% provide(:title, 'Vinyl Table Covers, Vinyl Upholstery Fabrics | Americo Inc.') %>
<% provide(:description, 'See the Americo difference and shop our Vinyl Table Covers, Laminated Vinyl Table Covers, Laminated Fabrics and top-quality coordinating Upholstery Vinyls.') %> 
<div id="statichome"> 
  <div class="row">
    <div class="col-sm-12">
      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <%= image_tag("sliders/slider-vinyl-table-covers.png", alt: "Vinyl table covers in a restaurant", :data => { :thumb => 'slider-vinyl-table-covers.png' } ) %>
          <%= image_tag("sliders/slider-upholstery.png", alt: "Vinyl upholstery fabrics on bar stools", :data => { :thumb => 'slider-upholstery-goods.png' } ) %>
          <%= image_tag("sliders/slider-laminate-table-covers.png", alt: "Laminated designer fabric table covers", :data => { :thumb => 'slider-table-covers.png' } ) %>
          <%= image_tag("sliders/slider-fabrics.png", alt: "Vinyl and Laminated Fabric by the Roll ", :data => { :thumb => 'slider-fabrics.png' } ) %>
          <%= image_tag("sliders/slider-mix-match.png", alt: "Color matched vinyl and upholstery fabrics", :data => { :thumb => 'slider-mix-match.png' } ) %>
          <%= image_tag("sliders/slider-free.jpg", alt: "We offer free sample swatches with free shipping", :data => { :thumb => 'slider-free.jpg' } ) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom"> 
    <div class="col-sm-8">
      <h1 class="styletype addorange">Your Source for Quality Vinyl Table Covers, Vinyl Upholstery and Laminated Fabrics</h1>
      <span class="splashtext">Americo has been manufacturing top-quality vinyl and laminated fabrics for table covers and upholstery projects at competitive prices for more than half a century. Whether your décor is contemporary or traditional, upscale or casual, Americo's easy-care table covers and coordinating upholstery vinyls can create the perfect ambience. We also offer the best terms in the industry with low or no minimums, free swatches, made-to-order table covers, and custom cuts from in-stock roll goods.</span>
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <h4>AMERICO NEWS</h4>
      <p><a href="/tradeshows" class="bold">Tradeshow Schedule</a></p>
      <p><a href="/satisfied_customers" class="bold">Our Satisfied Customers</a></p>
      <p><a href="/about" class="bold">In Business Since 1945</a></p>
      <div class="row">
        <div class="col-xs-6">
          <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg", :class => "img-responsive", alt: "Free Swatches", :id => 'home-swatches' ) %><% end %>

        </div>
        <div class="col-xs-6">
          <%= image_tag("made-in-usa.png", :class => "pull-right img-responsive", alt: "Made in the USA", :id => 'made-usa' ) %>
        </div>
      </div>
    </div>
  </div> 

  <div class="row" id="more-colors"> 
    <div class="col-xs-12">
      <h3><span class="">More Styles. More choices. More colors.</span></h3>
      <p><span class="bigger">Choose your Vinyl table covers from one of our collections.</span></p>
    </div>
  </div> 

  <div class="row" id="table-covers-1"> 
    <div class="col-xs-12 col-md-6 tcitem">
      
      <h3><a href="/styles/value-vinyl-7100" class="addmaroon">VALUE Collection</h3>
      Ready-Made Vinyl Table Covers</a>
      <p class="top10">Our <a href="/styles/value-vinyl-7100" class="std">Value Vinyl Collection</a> features ready made vinyl table covers with low minumums. These vinyl table covers are a budget-friendly alternative to buying or renting table linens for special events.</p> 
      <p>Value Vinyls are also available by the <a href="/roll_goods" class="std">roll</a>.</p>
    </div>
    <div class="col-xs-12 col-md-6 tcitem">
      <h3><a href="/styles/classic-vinyl-9800" class="addgold">CLASSIC Collection</h3>
      Custom-Made Vinyl Table Covers</a>
      <p class="top10">Our <a href="/styles/classic-vinyl-9800" class="std">Classic Vinyl Collection</a> offers custom made table covers that are hard working and a great alternative to buying or renting table linens. This collection has a designer look without the upkeep.</p>
      <p>Classic Vinyls are also available by the <a href="/roll_goods" class="std">piece or roll</a>, and as <a href="/styles/classic-vinyl-9800" class="std">placemats, table runners and overlays</a>.</p>
    </div>
  </div> 

  <div class="row top10" id="table-covers-2"> 
    <div class="col-xs-12 col-md-6 tcitem">
      <h3><a href="/styles/premium-vinyl-6100" class="addarmy">PREMIUM Collection</h3>
      Custom-Made Vinyl Table Covers</a>
      <p class="top10">Our <a href="/styles/premium-vinyl-6100" class="std">Premium Vinyl Collection</a> table covers are more durable, but still beautiful. These vinyl table covers last longer and are ideal for the most demanding enviroments. Some patterns in this line can be used for <a href="/styles/vinyl-upholstery-fabric" class="std">upholstery</a>.</p>
      <p>Premium Vinyls are also available by the <a href="/roll_goods" class="std">piece or roll</a>, and as <a href="/styles/classic-vinyl-9800" class="std">placemats, table runners and overlays</a>.</p>

    </div>
    <div class="col-xs-12 col-md-6">
      
      <h3><a href="/styles/designer-laminate-1200-2000" class="addpurple">DESIGNER Collection</h3>
      Custom-Made Laminate Table Covers</a>
      <p class="top10">Our <a href="/styles/designer-laminate-1200-2000" class="std">Designer Laminate Collection</a> features woven fabrics that are a snap to maintain. Plus, laminates are suitable for upholstery projects.</p>
      <p>Designer Laminates are also available by the <a href="/roll_goods" class="std">piece or roll</a>.</p>
      <p>We can also laminate your fabric or material with our <a href="/categories/laminated-fabric" class="std">Americlear Lamination</a> process.</p>
    </div>
  </div> 


  <div class="row" id="home-inspire"> 
    <div class="col-xs-12 col-sm-4">
      <h4><span class="hl bold">Need Inspiration?</span></h4>
      <p class="splashtext">Our Photo Galleries are filled with design ideas for every decorating style and taste.</p>
      <p><a href="/table_cover_gallery" class="bold">View Table Covers Photo Gallery <span class="hl glyphicon glyphicon-play"></span></a></p>
      <p><a href="/photo_gallery" class="bold">View Upholstery Photo Gallery <span class="hl glyphicon glyphicon-play"></span></a></p>
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= link_to('/gallery', :class =>"no-under") do %>
        <%= image_tag("vinyl-table-cloth-square.jpg", :class => "img-responsive" ) %>
      <% end %>  
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= link_to('/gallery', :class =>"no-under") do %>
        <%= image_tag("upholstery-goods-square.jpg", :class => "img-responsive" ) %>
      <% end %>  
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= link_to('/gallery', :class =>"no-under") do %>
        <%= image_tag("fabric-on-stools-square.jpg", :class => "img-responsive" ) %>
      <% end %>
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= link_to('/gallery', :class =>"no-under") do %>
        <%= image_tag("table-cloth-square.jpg", :class => "img-responsive" ) %>
      <% end %> 
    </div>
  </div>
</div>