 <div id="statichome"> 
  <div class="row">
    <div class="col-sm-12">

      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <%= image_tag("sliders/slider-vinyl-table-covers.png", alt: "slider1", :data => { :thumb => 'slider-vinyl-table-covers.png' } ) %>
          <%= image_tag("sliders/slider-upholstery.png", alt: "slider2", :data => { :thumb => 'slider-upholstery-goods.png' } ) %>
          <%= image_tag("sliders/slider-laminate-table-covers.png", alt: "slider3", :data => { :thumb => 'slider-table-covers.png' } ) %>
          <%= image_tag("sliders/slider-fabrics.png", alt: "slider4", :data => { :thumb => 'slider-fabrics.png' } ) %>
          <%= image_tag("sliders/slider-mix-match.png", alt: "slider5", :data => { :thumb => 'slider-mix-match.png' } ) %>
        </div>
        
        <!--     
        <div id="vinylslidecaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Vinyl Tablecloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        
        </div>

        <div id="upholsteryslidecaption" class="nivo-html-caption" style="display:none">
        <div class="nivo-1">
            <strong>Upholstery Goods</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>
        <div id="tableslidecaption" class="nivo-html-caption" style="display:none">
           <div class="nivo-1">
            <strong>Table Cloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
         
        </div>
        <div id="fabricslidecaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Vinyl Fabrics</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        
        </div>
        -->
        
      </div>
    </div>
  </div>  
  
  <div class="row"> 
    <div class="col-sm-8">
      <h3>Your Source for Quality Vinyl Table Covers, Vinyl Upholstery and Laminated Fabrics</h3>
      <span class="splashtext">Americo has been manufacturing top-quality vinyl and laminated fabrics for table covers and upholstery projects at competitive prices for more than half a century. Whether your décor is contemporary or traditional, upscale or casual, Americo's easy-care table covers and coordinating upholstery vinyls can create the perfect ambience. We also offer the best terms in the industry with low or no minimums, free swatches, made-to-order table covers, and custom cuts from in-stock roll goods.</span>

    </div>
    <div class="col-sm-4" id="home-made-usa">

      <h4>AMERICO NEWS</h4>
      <p><a href="#">Tradeshow Schedule</a></p>
      <p><a href="#">Our Satisfied Customers</a></p>
      <p><a href="/about">In Business Since 1945</a></p>
       
      <div class="row">
       
        <div class="col-xs-6">
          <%= image_tag("swatch-image.png", :class => "img-responsive", alt: "Free Swatches", :id => 'home-swatches' ) %>
        </div>
       
        <div class="col-xs-6">
          <%= image_tag("made-in-usa.png", :class => "pull-right img-responsive", alt: "Made in the USA", :id => 'made-usa' ) %>
        </div>

      </div>
    </div>
  </div>  

  <div class="row" id="home-inspire"> 
    <div class="col-sm-4">
      <h4><span class="hl bold">Need Inspiration?</span></h4>
      <p class="splashtext">Our Photo Gallery is filled with design ideas for every decorating style and taste.</p>
      <p><a href="/photo_gallery" class="bold">View Photo Gallery <span class="hl glyphicon glyphicon-play"></span></a></p>

    </div>
    <div class="col-sm-2">
      <%= image_tag("vinyl-table-cloth-square.jpg", :class => "img-responsive" ) %>
    </div>
    <div class="col-sm-2">
      <%= image_tag("upholstery-goods-square.jpg", :class => "img-responsive" ) %>
    </div>
    <div class="col-sm-2">
      <%= image_tag("fabric-on-stools-square.jpg", :class => "img-responsive" ) %>
    </div>
    <div class="col-sm-2">
      <%= image_tag("table-cloth-square.jpg", :class => "img-responsive" ) %>
    </div>
  </div>


</div>



