<% provide(:title, 'How to Measure') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Question</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li  class="active"><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/how_to_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Measuring Instructions</span></h1>
    <div class="row">
        
      <div class="col-xs-12 col-sm-7">
        <div class="styledesc addgray">You do the Measurements, We'll do the Math</div>
        <div class="style-title addmaroon">Choose a cover style or styles from the table cover types <span class="glyphicon glyphicon-play"></span></div>
        


        <div class="backed tenpad">
          <div class="addmaroon styledesc bold">DRAPED Table Covers</div>  
          <div class=""><u>Drape-Retangular and Square</u>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
              <li>We add an 8” drop to all draped covers</li>
            </ul>    
          </div> 
          <div class=""><u>Drape-Round</u>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
              <li>We add an 8” drop to all draped covers</li>
            </ul>    
          </div> 
        </div>







<!-- Button trigger modal -->

<a href="#" class="" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


        <div class="tenpad">
          <div class="addgold styledesc bold">FITTED Table Covers</div>  
          <div class=""><u>Fitted-Retangular and Square</u>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
              <li>We add an 6” drop to all fitted covers</li>
            </ul>    
          </div> 
          <div class=""><u>Fitted-Round</u>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
              <li>We add an 6” drop to all fitted covers</li>
            </ul>    
          </div> 
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold">TO THE FLOOR Table Covers</div>  
          <div class=""><u>To The Floor</u>
            <ul>
              <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
            </ul>    
          </div>  
        </div>

        <div class="tenpad">
          <div class="addgold styledesc bold">BOOTHS - Attached to Wall</div>  
          <div class=""><u>Booths</u>
            <ul>
              <li>For booths attached to wall measure the width of the table, then the length in inches from wall examples: 24” x 42”)</li>
              <li>Specify optional umbrella holes or Velcro</li>
              <li>We add an 8” drop (3 sides) to all booth covers</li>
            </ul>    
          </div>
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold">ELASTIC FIT Table Covers</div>  
          <div class=""><u>Elastic Fit -Retangular and Square</u>
            <ul>
              <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
            </ul>    
          </div> 
          <div class=""><u>Elastic Fit-Round</u>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes</li>
              <li>These cloths are made to accommodate a table thinkness of up to 1 1/2”</li>
            </ul>    
          </div>  
        </div>

        <div class="tenpad">
          <div class="addgold larger bold">Table Toppers</div>  
          <div class=""><u>Rectangular and Square</u>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”)</li>
            </ul>    
          </div>
          <div class=""><u>Round</u>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”)</li>
            </ul>    
          </div>
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold">Table Runners</div>  
          <div class=""><u>Rectangular and Square Runner</u>
            <ul>
              <li>Measure the length of the table.</li>  
              <li>Determine how wide you want the runner to be—12”, 16” or 24”.</li>
              <li>add an 8” drop to all table runners</li>
            </ul>    
          </div>  
        </div>

        <div class="tenpad top20">
          <div class="addmaroon bold">ROLL GOODS</div>
          <p>All vinyls and laminates are 54” wide and may be purchased in 25-yard rolls or cuts of 5-yards or more per SKU.</p>
          <p>A 25-yard roll yields 17 52” x 52” table covers. If you have a variety of table sizes, call us with your table measurements, and we’ll help you determine how much material you need.</p>
          <p>For upholstery applications, ask your upholsterer or chair manufacturer to calculate how much fabric to order.</p>
        </div>

        
      </div>

      <div class="col-xs-12 col-sm-5">
        <div id="stylename addmaroon">TABLE COVER TYPES</div>
        <div class="row grayback">
          <div class="col-xs-6"><%= image_tag('drape.png', :class=> "img-responsive") %><br>DRAPE<br>Standard throw cover with 8” drop</div>
          <div class="col-xs-6"><%= image_tag('drape-to-floor.png', :class=> "img-responsive") %><br>DRAPE TO FLOOR<br>Oversized throw cover, brushes the floor</div>
        </div>
        <div class="row grayback">
          <div class="col-xs-6"><%= image_tag('fitted.png', :class=> "img-responsive") %><br>FITTED<br>Fits like a box top, with 6” drop</div>
          <div class="col-xs-6"><%= image_tag('fitted-to-floor.png', :class=> "img-responsive") %><br>FITTED TO FLOOR<br>Fits like a box top, brushes the floor</div>
        </div>
        <div class="row grayback">
          <div class="col-xs-6"><%= image_tag('elastic-fit.png', :class=> "img-responsive") %><br>ELASTIC FIT<br>Cups under tabletop with elastic hem</div>
          <div class="col-xs-6"><%= image_tag('umbrella-hole.png', :class=> "img-responsive") %><br>UMBRELLA HOLE<br>Available with any custom-made styles</div>
        </div>
        <div class="row grayback">
          <div class="col-xs-6"><%= image_tag('booth-with-velcro.png', :class=> "img-responsive") %><br>BOOTH with VELCRO
                                <br>Velcro at one end, for custom-made styles
          </div>
          <div class="col-xs-6 top20"><br><a href="how_to_measure">Measuring Instructions</a></div>
        </div>
      </div>    
    </div>    
  

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>    

  
</div>   