<% provide(:title, 'How to Measure | Americo.com') %>
<% provide(:description, 'How to Measure') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li  class="active"><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Measuring Instructions</span></h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="styledesc addgray">You do the Measurements, We'll do the Math.</div>
        <div class="style-title addmaroon top10 bottom10">Click a cover style below for specifics on how to measure.  <span class="glyphicon glyphicon-play"></span></div>
        <div class="backed tenpad">
          <div class="addmaroon styledesc bold bottom10">DRAPED Table Covers</a></div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalDrapeRect"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Drape-Rectangular and Square</a>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
              <li>We add an 8” drop to all draped covers</li>
            </ul>
          </div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalDrapeRound"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Drape-Round</a>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
              <li>We add an 8” drop to all draped covers</li>
            </ul>
          </div>
        </div>
        <div class="tenpad">
          <div class="addgold styledesc bold bottom10">FITTED Table Covers</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalFitRect"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Fitted-Rectangular and Square</a>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
              <li>We add an 6” drop to all fitted covers</li>
            </ul>
          </div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalFitRound"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Fitted-Round</a>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
              <li>We add an 6” drop to all fitted covers</li>
            </ul>
          </div>
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold bottom10">TO THE FLOOR Table Covers</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalFloorRect"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> To The Floor - Rectangular and Square</a>
            <ul>
              <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
            </ul>
          </div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalFloorRound"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> To The Floor - Round</a>
            <ul>
              <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
            </ul>
          </div>
        </div>

        <div class="tenpad">
          <div class="addgold styledesc bold bottom10">BOOTHS - Attached to Wall</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalBooth"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Booths</a>
            <ul>
              <li>For booths attached to wall measure the width of the table, then the length in inches from wall examples: 24” x 42”)</li>
              <li>Specify optional umbrella holes or Velcro</li>
              <li>We add an 8” drop (3 sides) to all booth covers</li>
            </ul>
          </div>
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold bottom10">ELASTIC FIT Table Covers</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalElasticRect"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Elastic Fit - Rectangular and Square</a>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”). Specify optional umbrella holes.</li>
              <li>These cloths are made to accommodate a table thinkness of up to 1 1/2”</li>
            </ul>
          </div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalElasticRound"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Elastic Fit - Round</a>
            <ul>
              <li>Measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
              <li>These cloths are made to accommodate a table thinkness of up to 1 1/2”</li>
            </ul>
          </div>
        </div>

        <div class="tenpad">
          <div class="addgold styledesc bold bottom10">Table Toppers</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalTopperRect"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Rectangular and Square</a>
            <ul>
              <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”)</li>
            </ul>
          </div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalTopperRound"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Round</a>
            <ul>
              <li>For round tables, measure from side to side across the middle of the table. (example: 30”)</li>
            </ul>
          </div>
        </div>

        <div class="backed tenpad">
          <div class="addmaroon styledesc bold bottom10">Table Runners</div>
          <div class=""><a href="#" class="blacklink bigger" data-toggle="modal" data-target="#modalRectRunner"><%= image_tag('table-icon.png', class: "col-xs-1 img-responsive") %> Rectangular and Square Runner</a>
            <ul>
              <li>Measure the length of the table.</li>
              <li>Determine how wide you want the runner to be—12”, 16” or 24”.</li>
              <li>add an 8” drop to all table runners</li>
            </ul>
          </div>
        </div>

        <div class="tenpad top20">
          <div class="addmaroon styledesc bold bottom10">ROLL GOODS</div>
          <p>All vinyls and laminates are 54” wide and may be purchased in 25-yard rolls or cuts of 5-yards or more per SKU.</p>
          <p>A 25-yard roll yields 17 52” x 52” table covers. If you have a variety of table sizes, call us with your table measurements, and we’ll help you determine how much material you need.</p>
          <p>For upholstery applications, ask your upholsterer or chair manufacturer to calculate how much fabric to order.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= image_tag('how-to-measure.jpg', :class=> "img-responsive") %>
        <%= image_tag('measuring.jpg', :class=> "img-responsive") %>
      </div>
    </div>
  </div>
</div>
<!-- MODAL WINDOWS -->
        <!-- modalDrapeRect -->
        <div class="modal fade" id="modalDrapeRect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Drape-Rectangular and Square</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">
                    <%= image_tag('rectangle-square_drape.jpg', :class => "img-responsive") %>
                    <ul>
                      <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
                      <li>We add an 8” drop to all draped covers</li>
                    </ul>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalDrapeRound -->
        <div class="modal fade" id="modalDrapeRound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Drape-Round</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('round_drape.jpg', :class => "img-responsive") %>
                <ul>
                  <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
                  <li>We add an 8” drop to all draped covers</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- modalFitRect -->
        <div class="modal fade" id="modalFitRect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fitted-Rectangular and Square</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('rectangle-square_fitted.jpg', :class => "img-responsive") %>
                <ul>
                <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”) Specify optional umbrella holes.</li>
                <li>We add an 6” drop to all fitted covers</li>
              </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalFitRound -->
        <div class="modal fade" id="modalFitRound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fitted-Round</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('round_fitted.png', :class => "img-responsive") %>

                <ul>
                  <li>For round tables, measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes.</li>
                  <li>We add an 6” drop to all fitted covers</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalFloorRect -->
        <div class="modal fade" id="modalFloorRect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">To The Floor - Rectangular and Square</a></h4>
              </div>
              <div class="modal-body">
                <%= image_tag('rectangle-square_to-floor.jpg', :class => "img-responsive") %>
                <ul>
                  <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

         <!-- modalFloorRound -->
        <div class="modal fade" id="modalFloorRound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">To The Floor - Round</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('round_to-floor.jpg', :class => "img-responsive") %>
                <ul>
                  <li>For covers that drape to the floor, measure taple top and measure from the top of table to the floor. Specify optional umbrella holes.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



        <!-- modalBooth -->
        <div class="modal fade" id="modalBooth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Booth with Velcro </h4>
              </div>
              <div class="modal-body">
                <%= image_tag('booth-drape.jpg', :class => "img-responsive") %>
                <ul>
                  <li>For booths attached to wall measure the width of the table, then the length in inches from wall examples: 24” x 42”)</li>
                  <li>Specify optional umbrella holes or Velcro</li>
                  <li>We add an 8” drop (3 sides) to all booth covers</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- modalElasticRect -->
        <div class="modal fade" id="modalElasticRect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Elastic Fit Rectangle and Square</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('rectangle-square_elastic-fit.jpg', :class => "img-responsive") %>
                <ul>
                  <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”). Specify optional umbrella holes.</li>
                  <li>These cloths are made to accommodate a table thinkness of up to 1 1/2”</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalElasticRound -->
        <div class="modal fade" id="modalElasticRound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Elastic Fit Round</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('round_elastic-fit.jpg', :class => "img-responsive") %>
                <ul>
                  <li>Measure from side to side across the middle of the table. (example: 30”) Specify optional umbrella holes</li>
                  <li>These cloths are made to accommodate a table thinkness of up to 1 1/2”</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalTopperRect-->
        <div class="modal fade" id="modalTopperRect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Table Toppers Rectangular and Square</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('rectangle-square_topper-overlay.jpg', :class => "img-responsive") %>
                <ul>
                  <li>Measure the width of the table, then the length in inches (examples: 24” x 42” or 24” x 24”)</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalTopperRound -->
        <div class="modal fade" id="modalTopperRound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Table Toppers Round</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('round_topper-overlay.jpg', :class => "img-responsive") %>
                <ul>
                  <li>For round tables, measure from side to side across the middle of the table. (example: 30”)</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- modalRectRunner -->
        <div class="modal fade" id="modalRectRunner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Rectangle &amp; Square Table Runners</h4>
              </div>
              <div class="modal-body">
                <%= image_tag('rectangle-square_runner.jpg', :class => "img-responsive") %>
                <ul>
                  <li>Measure the length of the table.</li>
                  <li>Determine how wide you want the runner to be — 12”, 16” or 24”.</li>
                  <li>Add an 8” drop to all table runners.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>