<% provide(:title, 'Photo Gallery') %>

<div class="row">

  <div class="col-sm-6 col-md-3 col-md-offset-1">
    <%= link_to '/gallery', class: "btn btn-info btn-block" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Photo Gallery Index  
    <% end %>
  </div>

  <div class="visible-xs top10">&nbsp;</div>

  <div class="col-sm-6 col-md-4 col-md-offset-3">  
    <%= link_to '/table_cover_gallery', class: "btn btn-primary btn-block" do %>
    Table Cover Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>

</div>

 <div class="row top20">
      <div id="galleria" class="col-xs-12"> 
        <%= link_to(image_path("gallery/6111_dustyrose_granite_upholstery_americo.jpg")) do %><%= image_tag("gallery/6111_dustyrose_granite_upholstery_americo.jpg", :data => { :description => "Color: Dusty Rose and Granite" , :title => "6111 - Distinctions Upholstery Vinyl"}) %><% end %>
        
        <%= link_to(image_path("gallery/6112_guacomole_6114-pine_upholstery_americo.jpg")) do %><%= image_tag("gallery/6112_guacomole_6114-pine_upholstery_americo.jpg", :data => { :description => "Color: Guacomole and 6114 - Pine", :title => "6112 - Distinctions Upholstery Vinyl"}) %><% end %>
        
        <%= link_to(image_path("gallery/6113_rainforest_upholstery_americo.jpg")) do %><%= image_tag("gallery/6113_rainforest_upholstery_americo.jpg", :data => { :description => "Color: Rainforest", :title => "6113 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6114_terracotta_upholstery_americo.jpg")) do %><%= image_tag("gallery/6114_terracotta_upholstery_americo.jpg", :data => { :description => "Color: Terra Cotta", :title => "6114 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6115_trumpet_vine_upholstery_americo.jpg")) do %><%= image_tag("gallery/6115_trumpet_vine_upholstery_americo.jpg", :data => { :description => "Color: Trumpet Vine", :title => "6115 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6116_buckskin_upholstery_americo.jpg")) do %><%= image_tag("gallery/6116_buckskin_upholstery_americo.jpg", :data => { :description => "Color: Buckskin", :title => "6116 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6117_athenia_patina_upholstery_americo.jpg")) do %><%= image_tag("gallery/6117_athenia_patina_upholstery_americo.jpg", :data => { :description => "Color: Athenian Patina", :title => "6117 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6117_tuscan_sunset_upholstery.jpg")) do %><%= image_tag("gallery/6117_tuscan_sunset_upholstery.jpg", :data => { :description => "Color: Tuscun Sunset", :title => "6117 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6117_tuscan-sun_upholstery_americo.jpg")) do %><%= image_tag("gallery/6117_tuscan-sun_upholstery_americo.jpg", :data => { :description => "Color: Tuscun Sunset", :title => "6117 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6118_hemlock_upholstery_americo.jpg")) do %><%= image_tag("gallery/6118_hemlock_upholstery_americo.jpg", :data => { :description => "Color: Hemlock", :title => "6118 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6119_tequila_celery_upholstery_americo.jpg")) do %><%= image_tag("gallery/6119_tequila_celery_upholstery_americo.jpg", :data => { :description => "Color: Tequila Sunrise and Celery", :title => "6119 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6119_latte_upholstery_americo.jpg")) do %><%= image_tag("gallery/6119_latte_upholstery_americo.jpg", :data => { :description => "Color: Latte", :title => "6119 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6120_fruit_punch_upholstery_americo.jpg")) do %><%= image_tag("gallery/6120_fruit_punch_upholstery_americo.jpg", :data => { :description => "Color: Fruit Punch", :title => "6120 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6121_golden_lilly_upholstery_americo.jpg")) do %><%= image_tag("gallery/6121_golden_lilly_upholstery_americo.jpg", :data => { :description => "Color: Golden Lily", :title => "6121 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6122_hibiscus_6116_wheat_upholstery_americo.jpg")) do %><%= image_tag("gallery/6122_hibiscus_6116_wheat_upholstery_americo.jpg", :data => { :description => "Color: Hibiscus and 6116 Wheat", :title => "6122 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6123_atlantic_waves_upholstery_americo.jpg")) do %><%= image_tag("gallery/6123_atlantic_waves_upholstery_americo.jpg", :data => { :description => "Color: Atlantic Waves", :title => "6123 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6124_cherokee_upholstery_americo.jpg")) do %><%= image_tag("gallery/6124_cherokee_upholstery_americo.jpg", :data => { :description => "Color: Cherokee", :title => "6124 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6125_jade_sea_6116_pea_upholstery_americo.jpg")) do %><%= image_tag("gallery/6125_jade_sea_6116_pea_upholstery_americo.jpg", :data => { :description => "Color: Sea Jade and 6116 Pea", :title => "6125 - Distinctions Upholstery Vinyl"}) %><% end %>

        <%= link_to(image_path("gallery/6126_chili_pepper_upholstery_americo.jpg")) do %><%= image_tag("gallery/6126_chili_pepper_upholstery_americo.jpg", :data => { :description => "Color: Chili Pepper", :title => "6126 - Distinctions Upholstery Vinyl"}) %><% end %>

      </div>
    </div>
      

<div class="row top20">

  <div class="col-sm-6 col-md-3 col-md-offset-1">
    <%= link_to '/gallery', class: "btn btn-info btn-block" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Photo Gallery Index  
    <% end %>
  </div>

  <div class="visible-xs top10">&nbsp;</div>

  <div class="col-sm-6 col-md-4 col-md-offset-3">  
    <%= link_to '/table_cover_gallery', class: "btn btn-primary btn-block" do %>
    Table Cover Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>

</div>




    <script>      
Galleria.run('#galleria', {
  responsive:true, 
  showCounter:true, 
  showCaption:true,
    showInfo:true, 
  showImageNav:true,
  swipe:true, 
  thumbnails:true, 
  height: 0.5,
  thumbDisplayOrder:true,
 _toggleInfo: false});
    </script>

