<% provide(:title, 'Request a Quote') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li class="active"><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>


  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Request a Quote</span></h1>
    <hr>
    <div class="bold addgray styledesc bottom10">Table Covers</div>
    
    <div class="row">
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=1", class: "") do %>
          <%= image_tag("quote_vinyl-table.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">VINYL TABLE COVERS</div>
          <div class="addgray">Classic (9800) Premium (6100)</div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=10", class: "") do %>
          <%= image_tag("quote_vinyl-and-upholstery-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">VINYL ROLL GOODS</div>
          <div class="addgray">Classic (9800) Premium (6100) </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=7", class: "") do %>
          <%= image_tag("quote_vinyl-cut.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">VINYL CUSTOM CUTS</div>
          <div class="addgray">Classic (9800) Premium (6100) </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=2", class: "") do %>
          <%= image_tag("quote_laminate-table.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">LAMINATE TABLE COVERS</div>
          <div class="addgray">Designer Collection (1200/2000)</div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=11", class: "") do %>
          <%= image_tag("quote_laminate-americlear-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">LAMINATE ROLL GOODS</div>
          <div class="addgray">Designer Collection (1200/2000)</div>
        <% end %>
      </div>
  
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=8", class: "") do %>
          <%= image_tag("quote_laminate-cut.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">LAMINATE CUSTOM CUTS</div>
          <div class="addgray">Designer Collection (1200/2000)</div>
        <% end %>
      </div>
  
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=13", class: "") do %>
          <%= image_tag("quote_vinyl-cut.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">VALUE VINYL TABLE COVERS</div>
          <div class="addgray">Ready-Made Table Covers (7000)</div>
        <% end %>
      </div>
    </div> 
  
    <hr>
    <div class="bold addgray styledesc bottom10">Upholstery</div>
    
    <div class="row">
       <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=12", class: "") do %>
          <%= image_tag("quote_upholstery.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">UPHOLSTERY ROLL GOODS</div>
          <div class="addgray">Distinctions Collection (6111-6126)</div>
        <% end %>
      </div>  

      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=9", class: "") do %>
          <%= image_tag("quote_upholstery-cut.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">UPHOLSTERY CUSTOM CUTS</div>
          <div class="addgray">Distinctions Collection (6111-6126)</div>
        <% end %>
      </div>  
    </div> 
  
    <hr>
    <div class="bold addgray styledesc bottom10">Non-Slip Padding</div>
    
    <div class="row">  



      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=4", class: "") do %>
          <%= image_tag("quote_non-slip.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">NON-SLIP PADDING</div>
          <div class="addmaroon bold">ROLL GOODS</div>
        <% end %>
      </div>  
      
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=5", class: "") do %>
          <%= image_tag("quote_non-slip.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">NON-SLIP PADDING</div>
          <div class="addmaroon bold">CUSTOM CUTS</div>
        <% end %>
      </div>  
      
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=3", class: "") do %>
          <%= image_tag("quote_white-padding.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">VINYL PADDING ROLL GOODS</div>
          <div class="addgray">Classic White Vinyl Padding</div>
        <% end %>
      </div>  
    </div> 
  
    <hr>
    <div class="bold addgray styledesc bottom10">Americlear Lamination</div>
    
    <div class="row">  


      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("/lines/new?quote_product_id=6", class: "") do %>
          <%= image_tag("quote_laminate-americlear-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">AMERICLEAR LAMINATION</div>
          <div class="addgray">Laminate Your Own Fabric</div>
        <% end %>
      </div>  
    </div>

  </div>    
  

   <hr>
    <div class="bold addgray styledesc bottom10">Accessories</div>
    
    <div class="row">  
      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("#", class: "") do %>
          <%= image_tag("quote_laminate-americlear-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">PLACEMATS</div>
          <div class="addgray">Filler Text</div>
        <% end %>
      </div>


      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("#", class: "") do %>
          <%= image_tag("quote_laminate-americlear-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">RUNNERS</div>
          <div class="addgray">Filler Text</div>
        <% end %>
      </div>  


      <div class="col-sm-6 col-md-4 bottom20">
        <%= link_to("#", class: "") do %>
          <%= image_tag("quote_laminate-americlear-roll.jpg", class: "img-responsive") %>
          <div class="addmaroon bold">TOPPERS</div>
          <div class="addgray">Filler Text</div>
        <% end %>
      </div>                
    </div>

  </div>    

  
</div>   
