<% provide(:title, 'Request a Quote') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li class="active"><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= image_tag("swatch-image.jpg") %>
      <%= image_tag("free-catalog.jpg") %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Request a Quote</span></h1>
    
    <p>&nbsp;</p>     
    <ul>  
      <li><%= link_to "Vinyl Table Covers", "/lines/new?quote_product_id=1", class: "" %></li> 
      <li><%= link_to "Vinyl Roll Goods", "/lines/new?quote_product_id=10", class: "" %></li>   
      <li><%= link_to "Vinyl Custom Cuts", "/lines/new?quote_product_id=7", class: "" %></li>
      <li><%= link_to "Laminate Table Covers", "/lines/new?quote_product_id=2", class: "" %></li> 
      <li><%= link_to "Laminate Roll Goods", "/lines/new?quote_product_id=11", class: "" %></li>   
      <li><%= link_to "Laminate Custom Cuts", "/lines/new?quote_product_id=8", class: "" %></li>
      <li><%= link_to "Upholstery Roll Goods", "/lines/new?quote_product_id=12", class: "" %></li>  
      <li><%= link_to "Upholstery Custom Cut", "/lines/new?quote_product_id=9", class: "" %></li>  
      <li><%= link_to "Non-Slip Padding Roll Goods", "/lines/new?quote_product_id=4", class: "" %></li>  
      <li><%= link_to "Non-Slip Padding Custom Cuts", "/lines/new?quote_product_id=5", class: "" %></li> 
      <li><%= link_to "Vinyl Padding", "/lines/new?quote_product_id=3", class: "" %></li> 
      <li><%= link_to "Americlear Lamination", "/lines/new?quote_product_id=6", class: "" %></li>
      <li><%= link_to "Value Vinyl", "/lines/new?quote_product_id=13", class: "" %></li>
    </ul>

    <p></p>
    <p></p>
  </div>    

  
</div>   