<% provide(:title, 'Roll Goods') %>
<% provide(:description, "When you need fabric fast, we're happy to sell you any of our exclusive Americo fabrics or non-slip padding by the roll or by the cut.") %>

 <div class="row">
      <div class="col-sm-12">
        <div class="slider-wrapper theme-default">
          <div id="slider" class="nivoSlider">
              <%= image_tag("rollgoods-slider.jpg", alt: "sliderimg", :title => "", :data => { :thumb => 'rollgoods-slider.jpg' } ) %> 
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-9 ">
        <h1 class="addmaroon">For Flexibility, Order Fabric or Padding by the Roll</h1>
        <div class="stylesub">We Have a Huge Supply of Roll Goods Ready to Ship Today!</div>
          <div>
            <p class="splashtext top20">When you need fabric fast, we’re happy to sell you any of our exclusive Americo fabrics or non-slip padding by the roll or by the cut. All vinyls and laminate roll goods are 54” wide and come in 25-yard rolls. We also offer custom cuts, starting at just 5 yards!</p>
            
            <p class="splashtext">Non-slip padding can also be ordered in by the 33-yard roll and is available in three widths—26”, 48” and 72”. Our Classic vinyl (style 9808) also makes great table padding and comes in 25-yard rolls of 54” fabric. For your convenience, we custom cut padding to any length. No minimums!</p>

            <p class="splashtext">Order today and we’ll pack and ship your goods within 1 business day. If you need help selecting patterns or colors, let us send you FREE 8” x 10” swatches. Browse through our collections below to select roll goods or order swatches.</p>
          </div>
        </div>
        <div id="vinyl-land" class="col-sm-3 visible-md visible-lg">
          <%= link_to('/free_swatches', :class => "img-responsive top20", alt: "Free Swatches", :id => 'home-swatches') do %><%= image_tag("swatch-image.jpg") %><% end %>
          <%= link_to('/request_catalog', :class => "img-responsive top20", alt: "Free Swatches", :id => 'home-swatches') do %><%= image_tag("free-catalog.jpg") %><% end %>
        </div>
      </div>       
         <div class="row top10">
             <div class="col-xs-12 col-sm-3">
              <a href="/styles/value-vinyl-7100" class=""><%= image_tag('7100-value-vinyls.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/styles/value-vinyl-7100" class="addmaroon">VALUE VINYLS</a></div>
              <p>4 Designs | 26 Colors
              <br>Our most cost-effective option
              <br>6-mil PVC vinyl
              <br>For everyday use and special events</p>
            </div>
           

            <div class="col-xs-12 col-sm-3">
              <a href="/styles/classic-vinyl-9800" class=""><%= image_tag('9828-lasagna_vinyl-table-cover.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/styles/classic-vinyl-9800" class="addgold">CLASSIC VINYLS</a></div>
              <p>29 Designs | 172 Colors
              <br>Hard-working, but affordable
              <br>10-mil PVC vinyl
              <br>Good for commercial use</p>
            </div>
            
            <div class="col-xs-12 col-sm-3">
              <a href="/styles/premium-vinyl-6100" class=""><%= image_tag('6125_black-mocha_vinyl-table-cover.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/styles/premium-vinyl-6100" class="addarmy">PREMIUM VINYLS</a></div>
              <p>26 Designs | 270 Colors
              <br>Heavy duty, versatile fabric
              <br>13-mil PVC vinyl
              <br>Some designs suitable for upholstery</p>
            </div>

           
            <div class="col-xs-12 col-sm-3">
              <a href="/styles/designer-laminate-1200-2000" class=""><%= image_tag('2013-white_laminated-table-cover.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/styles/designer-laminate-1200-2000" class="addpurple">DESIGNER LAMINATES</a></div>
              <p>7 Designs | 26 Colors
              <br>Long lasting, easy care fabrics
              <br>6-mil clear PVC film
              <br>Good for upholstery, too</p>
              </p>
            </div>
          </div>

           <div class="row top20"> 
            <div class="col-xs-12 col-sm-3">
              <a href="/categories/non-slip-padding" class=""><%= image_tag('non-slip-pad-rugs.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/categories/non-slip-padding" class="addmaroon">NON-SLIP PAD</a></div>
              <p>Flame Retardant
              <br>Cuts with Scissors
              <br>Will not Fray or Roll</p>
              </p>
            </div>

            <div class="col-xs-12 col-sm-3">
              <a href="/categories/non-slip-padding" class=""><%= image_tag('classic-vinyl-non-slip-pad.jpg', :class => "img-responsive") %></a>
              <div class="bold stylebox top10 bottom5"><a href="/categories/non-slip-padding" class="addmaroon">CLASSIC VINYL PAD</a></div>
              <p>9808-White
              <br>Cuts with Scissors
              <br>Will not Fray or Roll</p>
              </p>
            </div>
          </div>  
          <div class="row top10 border-top">
            <div class="col-xs-4"><a href="/americlear_laminations_sample" class="larger">Ordering Information</a></div>
            <div class="col-xs-4"><a href="/technical_specs" class="larger">Technical Specs</a></div>
            <div class="col-xs-4"><a href="/request_quote" class="larger">Request A Quote</a></div>
          </div> 
      