<% provide(:title, 'Table Cover Photo Gallery | Americo Inc.') %>
<% provide(:description, 'Americo table cover and table cloth photo gallery') %>

<div class="row">

  <div class="col-sm-6 col-md-3 col-md-offset-1">
    <%= link_to '/gallery', class: "btn btn-info btn-block" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Photo Gallery Index  
    <% end %>
  </div>

  <div class="visible-xs top10">&nbsp;</div>

  <div class="col-sm-6 col-md-4 col-md-offset-3">  
    <%= link_to '/photo_gallery', class: "btn btn-primary btn-block" do %>
    Upholstery Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>

</div>

 <div class="row top20">
    <div id="galleria" class="col-xs-12"> 
        <%= link_to(image_path("table/0_9802_classic_mandarin_tablecloth.jpg")) do %><%= image_tag("table/0_9802_classic_mandarin_tablecloth.jpg", :data => { :description => "Color: Mandarin<br>Type: Square Drape", :title => "9802 Classic Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/1_9805_classic_indigo_tablecloth.jpg")) do %><%= image_tag("table/1_9805_classic_indigo_tablecloth.jpg", :data => { :description => "Color: Indigo Tablecloth<br>Type: Square Drape", :title => "9805 - Classic Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/2_9805_classci_-vinyl_cayenne_tablecloth.jpg")) do %><%= image_tag("table/2_9805_classci_-vinyl_cayenne_tablecloth.jpg", :data => { :description => "Color: Cayenne<br>Type: Round Elastic Fit", :title => "9805 - Classic Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/3_9806_classic_vinyl_hunter_tablecloth.jpg")) do %><%= image_tag("table/3_9806_classic_vinyl_hunter_tablecloth.jpg", :data => { :description => "Color: Hunter<br>Type: Round Drape with Umbrella Hole", :title => "9806 - Classic Vinyl"}) %><% end %>

        <%= link_to(image_path("table/4_9808_classic_vinyl_white_tablecloth.jpg")) do %><%= image_tag("table/4_9808_classic_vinyl_white_tablecloth.jpg", :data => { :description => "Color: White<br>Type: Round Drape to the Floor", :title => "9808 - Classic Vinyl"}) %><% end %>

        <%= link_to(image_path("table/5_9815_classic_vinyl_9808_white_topper.jpg")) do %><%= image_tag("table/5_9815_classic_vinyl_9808_white_topper.jpg", :data => { :description => "Color: Dijon<br>Style: Rectangle Drape to the Floor with<br>9808- White Topper", :title => "9815 - Classic Vinyl"}) %><% end %>

        <%= link_to(image_path("table/6_9829_vinyl_lasagna_tablecloth.jpg")) do %><%= image_tag("table/6_9829_vinyl_lasagna_tablecloth.jpg", :data => { :description => "Color: Lasagna<br>Type: Square Fitted", :title => "9829 - Classic Vinyl"}) %><% end %>

        <%= link_to(image_path("table/7_9808_tablecloth_9828_overlay.jpg")) do %><%= image_tag("table/7_9808_tablecloth_9828_overlay.jpg", :data => { :description => "Color: White<br>Type: Rectangle Fitted to the Floor with<br>9829 - Mustard Topper", :title => "9808 - Classic Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/8_9809_classic_golden_rod_tablecloth.jpg")) do %><%= image_tag("table/8_9809_classic_golden_rod_tablecloth.jpg", :data => { :description => "Color: Golden Rod<br>Type: Round Fitted", :title => "9809 - Classic Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/9_9824_classic_vinyl_wheatberry_tablecloth.jpg")) do %><%= image_tag("table/9_9824_classic_vinyl_wheatberry_tablecloth.jpg", :data => { :description => "Color: Wheatberry<br>Style: Round Fitted to the Floor", :title => "9824 - Classic Vinyl"}) %><% end %>

        <%= link_to(image_path("table/10_6107_premium_vinyl_hunter_tablcloth.jpg")) do %><%= image_tag("table/10_6107_premium_vinyl_hunter_tablcloth.jpg", :data => { :description => "Color: Hunter<br>Style: Square Fitted", :title => "6107- Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/11_6109_premium_vinyl_coral_mist_tablecloth.jpg")) do %><%= image_tag("table/11_6109_premium_vinyl_coral_mist_tablecloth.jpg", :data => { :description => "Color: Coral Mist<br>Style: Round Fitted", :title => "6109 - Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/12-6113_premium_vinyl_rainforest_tablecloth.jpg")) do %><%= image_tag("table/12-6113_premium_vinyl_rainforest_tablecloth.jpg", :data => { :description => "Color: Rainforest<br>Style: Square Elastic Fit", :title => "6113 - Premium Vinyl"}) %><% end %>
      
        <%= link_to(image_path("table/13_6115_premium-vinyl_ebony_tablecloth.jpg")) do %><%= image_tag("table/13_6115_premium-vinyl_ebony_tablecloth.jpg", :data => { :description => "Color: Ebony<br>Style: Round and Square Drape", :title => "6115 - Premium Vinyl"}) %><% end %>

        <%= link_to(image_path("table/14_6117_premium_vinyl_malago-moss_tablecloth.jpg")) do %><%= image_tag("table/14_6117_premium_vinyl_malago-moss_tablecloth.jpg", :data => { :description => "Color: Malaga Moss<br>Style: Rectangle Drape Booth with Velcro", :title => "6117 - Premium Vinyl"}) %><% end %>

        <%= link_to(image_path("table/15_6118_premium_vinyl_turquoise_tablecloth.jpg")) do %><%= image_tag("table/15_6118_premium_vinyl_turquoise_tablecloth.jpg", :data => { :description => "Color: Turquoise<br>Style: Round Drape with Umbrella Hole", :title => "6118 - Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/16_6118_premium_vinyl_tablecloth.jpg")) do %><%= image_tag("table/16_6118_premium_vinyl_tablecloth.jpg", :data => { :description => "Color: Turquoise<br>Style: Rectangle Drape with Umbrella Hole", :title => "6118 - Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/17_6120_premium_vinyl_tablecloth_9820_flambe_overlay.jpg")) do %><%= image_tag("table/17_6120_premium_vinyl_tablecloth_9820_flambe_overlay.jpg", :data => { :description => "Color: Cornucopia<br>Style: Fitted to the Floor with<br>9820 - Classic Vinyl -Flambe Topper", :title => "6120 - Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/18_6120_premium_vinyl_spring_boquet_tablecloth.jpg")) do %><%= image_tag("table/18_6120_premium_vinyl_spring_boquet_tablecloth.jpg", :data => { :description => "Color: Spring Boquet<br>Style: Round Elastic Fit", :title => "6120- Premium Vinyl"}) %><% end %>

       <%= link_to(image_path("table/19_6124_premium_vinyldakota_tablecloth.jpg")) do %><%= image_tag("table/19_6124_premium_vinyldakota_tablecloth.jpg", :data => { :description => "Color: Dakota<br>Style: Rectangle Fitted", :title => "6124 - Premium Vinyl"}) %><% end %>

        <%= link_to(image_path("table/20_6125_premium_vinyl_balck_mocha_tablecloth.jpg")) do %><%= image_tag("table/20_6125_premium_vinyl_balck_mocha_tablecloth.jpg", :data => { :description => "Color: Black Mocha<br>Style: Round Fitted", :title => "6125- Premium Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/6125_premium_vinyl_eucalyptus_tablecloth.jpg")) do %><%= image_tag("table/6125_premium_vinyl_eucalyptus_tablecloth.jpg", :data => { :description => "Color: Eucalyptus<br>Style: Elastic Fit", :title => "6125 - Premium Vinyl"}) %><% end %>


        <%= link_to(image_path("table/21_2068_laminate-_wildfire_tablecloth.jpg")) do %><%= image_tag("table/21_2068_laminate-_wildfire_tablecloth.jpg", :data => { :description => "Color: Wildfire<br>Style: Round and Square Drape", :title => "2068 - Designer Laminate"}) %><% end %>

        <%= link_to(image_path("table/22_2013_laminated_vinyl_white_tablecloth.jpg")) do %><%= image_tag("table/22_2013_laminated_vinyl_white_tablecloth.jpg", :data => { :description => "Color: White<br>Style: Square Drape", :title => "2013 - Designer Laminate"}) %><% end %>
        
        <%= link_to(image_path("table/23_2013_laminte_white_table_overlay.jpg")) do %><%= image_tag("table/23_2013_laminte_white_table_overlay.jpg", :data => { :description => "Laminated with Americlear<br>Style: Square Drape with<br>9821 Denim Topper", :title => "Customers Own Material (COM)"}) %><% end %>
        
        <%= link_to(image_path("table/24_1291_laminate_garden_tablecloth.jpg")) do %><%= image_tag("table/24_1291_laminate_garden_tablecloth.jpg", :data => { :description => "Laminated with Americlear<br>Style: Square Fitted", :title => "Customers Own Material (COM)"}) %><% end %>
        
        <%= link_to(image_path("table/25_customer_material_americlear_tablecloth.jpg")) do %><%= image_tag("table/25_customer_material_americlear_tablecloth.jpg", :data => { :description => "Laminated with Americlear<br>Style: Square Fitted", :title => "1291 Garden"}) %><% end %>
        
        <%= link_to(image_path("table/26_customer_material_americlear_tablecloth.jpg")) do %><%= image_tag("table/26_customer_material_americlear_tablecloth.jpg", :data => { :description => "Laminated with Americlear<br>Style: Square Fitted", :title => "Customers Own Material (COM)"}) %><% end %>
        
        <%= link_to(image_path("table/27_customer_material_americlear_tablecloth.jpg")) do %><%= image_tag("table/27_customer_material_americlear_tablecloth.jpg", :data => { :description => "Laminated with Americlear<br>Style: Drape", :title => "Customers Own Material (COM)"}) %><% end %>

        <%= link_to(image_path("table/7101_value_sapphire_vinyl_tablecloth.jpg")) do %><%= image_tag("table/7101_value_sapphire_vinyl_tablecloth.jpg", :data => { :description => "Color: Sapphire<br>Style: Square Drape", :title => "7101 - Value Vinyl"}) %><% end %>

        <%= link_to(image_path("table/7101_value_vinyl_scarlet_coal_tablecloth.jpg")) do %><%= image_tag("table/7101_value_vinyl_scarlet_coal_tablecloth.jpg", :data => { :description => "Color: Scarlet and Coal<br>Style: Square Drape", :title => "7101 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7101_value_winter-wheat_vinyl_tablecloth.jpg")) do %><%= image_tag("table/7101_value_winter-wheat_vinyl_tablecloth.jpg", :data => { :description => "Color: Winter Wheat<br>Style: Square Drape", :title => "7101 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7102_value_canvas_vinyl_tablecloth.jpg")) do %><%= image_tag("table/7102_value_canvas_vinyl_tablecloth.jpg", :data => { :description => "Color: Canvas<br>Style: Square  and Rectangle Drape", :title => "7102 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7103_value_vinyl_crimson_tablecloth.jpg")) do %><%= image_tag("table/7103_value_vinyl_crimson_tablecloth.jpg", :data => { :description => "Color: Crimson<br>Style: Rectangle Drape", :title => "7103 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7103_value_vinyl_jet_black_tablecloth.jpg")) do %><%= image_tag("table/7103_value_vinyl_jet_black_tablecloth.jpg", :data => { :description => "Color: Jet Black<br>Style: Rectangle Drape", :title => "7103 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7104_value_vinyl_merlot_tablecloth.jpg")) do %><%= image_tag("table/7104_value_vinyl_merlot_tablecloth.jpg", :data => { :description => "Color: Merlot<br>Style: Square Drape", :title => "7104 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7104_value_vinyl_ochre_tablecloth.jpg")) do %><%= image_tag("table/7104_value_vinyl_ochre_tablecloth.jpg", :data => { :description => "Color: Ochre<br>Style: Round Drape", :title => "7104 - Value Vinyl"}) %><% end %>
        
        <%= link_to(image_path("table/7104_value_vinyl_tablecloth.jpg")) do %><%= image_tag("table/7104_value_vinyl_tablecloth.jpg", :data => { :description => "Colors: Chili Pepper, Marine Blue, Ochre, Olive Green<br>Style: Rectangle Drape", :title => "7104 - Value Vinyl"}) %><% end %>

   
               
    </div>
</div>

<div class="row top20">

  <div class="col-sm-6 col-md-3 col-md-offset-1">
    <%= link_to '/gallery', class: "btn btn-info btn-block" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Photo Gallery Index  
    <% end %>
  </div>

  <div class="visible-xs top10">&nbsp;</div>

  <div class="col-sm-6 col-md-4 col-md-offset-3">  
    <%= link_to '/photo_gallery', class: "btn btn-primary btn-block" do %>
    Upholstery Photo Gallery <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>

</div>


    <script>      
Galleria.run('#galleria', {
  responsive:true, 
  showCounter:true, 
  showCaption:true,
    showInfo:true, 
  showImageNav:true,
  swipe:true, 
  thumbnails:true, 
  height: 0.5,
  thumbDisplayOrder:true,
 _toggleInfo: false});
    </script>

