<% provide(:title, 'Technical Specs') %>

<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li class="active"><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-9 border-left addgray" id="clean">
      <h1 class="addmaroon">Technical Specifications</h1>    
  </div>
    
  <div class="row">
    <div class="col-sm-12 col-md-5 border-left addgray" id="clean">
    	<p class="addmaroon bold">9800 SERIES<br>Classic (VINYL FABRICS)</p>
      <p>10 MIL Printed PVC Film, Laminated to a 4 oz. per sq. yd. non-woven with upholstery grade foam F.R. Test our 9800 Series will pass as is: State of California, Bureau or Home Furnishings as Specified in their Regulation Technical Bulletin<br>No.117, SECTION E</p>
      <p>Motor Vehicle Safety Standard No. 302 (MVSS302) Commercial Standard for Flammability</p>
      <p>CS191-53, CLASS I, Normal Flammability</p>

    	<p class="addmaroon bold">1200 &amp; 2000 SERIES<br>Designer (LAMINATED FABRICS)</p>
      <p>F.R. Test our 1200 &amp; 2000 Series will Pass As Is:</p>
  	<p>State of California, Bureau of Home Furnishings as Specified in their Regulation Technical Bulletin <br>No. 117, SECTION E</p>
      <p>Motor Vehicle Safety Standard No. 302 (MVSS302)<br>Commercial Standard for Flammability</p>
      <p>Commercial Standard for Flammability<br>CS191-53, CLASS I, Normal Flammability</p>
      

      <p class="addmaroon bold">7100 SERIES<br>Value (VINYL FABRICS)</p>
      <p>Composition-6 mil printed film.<br>Laminated to 2.5 oz. per sq. yd. polyester.  F.R. Test our 7100 Series will pass as is: State of California, Bureau or Home Furnishings as Specified in their Regulation Technical Bulletin. </p>
      <p>Motor Vehicle Safety Standard No. 302 (MVSS302) Commercial Standard for Flammability</p>
      <p>CS191-53, CLASS I, Normal Flammability</p>

      <p class="addmaroon bold">LAMINATED FABRIC/AMERICLEAR</p>
    	<p>FILM: Translucent, .0006 gauge<br>FLAME RETARDANCE: Meets or exceeds federal standards. americlear lamination are fire-resistant when bonded to chemical flame-retardant fabrics</p>
      <p>COLD CRACK FACTOR:<br>Vinyl lamination withstands temps to -10° F.
      					<br>WIDTH oF GooDs: 45” to 58”
      					<br>APPEARANCE: Because of the idiosyncrasies of pigments used for dyeing fabrics, the lamination process may change the fabric color slightly.</p>
      

       
      <p class="addmaroon bold">NON-SLIP PAD</p>
    	<p>Flame retardant: Meets or exceeds Department of Commerce FF170 and FMVss 302.</p>
      
      
      <p class="addmaroon bold">CLASSIC VINYL PAD / 9808 -White</p>
    	<p>9800 series vinyls are 10-mil printed Pvc film laminated to a 4 oz. per square yard non-woven polyester.</p>
    </div>

    <div class="col-sm-12 col-md-4 addgray" id="">
      <div class="addmaroon bold">
        <p class="addmaroon bold">6100 SERIES<br>Premium (VINYL FABRICS)</p>
        <%= image_tag('6100-specs.png', class: "img-responsive") %>
      </div>
      <div class="top25"><%= image_tag("made-in-usa.png", :class => "pull-right") %></div>
    </div> 
  </div> <!-- end row -->   
</div>   