<h1>Listing upholsteryrolls</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Series</th>
      <th>Color</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @upholsteryrolls.each do |upholsteryroll| %>
      <tr>
        <td><%= upholsteryroll.quantity %></td>
        <td><%= upholsteryroll.series.name %></td>
        <td><%= upholsteryroll.color.name %></td>
        <td><%= upholsteryroll.price %></td>
        <td><%= link_to 'Show', upholsteryroll %></td>
        <td><%= link_to 'Edit', edit_upholsteryroll_path(upholsteryroll) %></td>
        <td><%= link_to 'Destroy', upholsteryroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upholsteryroll', new_upholsteryroll_path %>
