<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @upholsteryroll.quantity %>
</p>

<p>
  <strong>Series:</strong>
  <%= @upholsteryroll.series.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @upholsteryroll.color.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @upholsteryroll.price %>
</p>

<%= link_to 'Edit', edit_upholsteryroll_path(@upholsteryroll) %> |
<%= link_to 'Back', upholsteryrolls_path %>
