<%= form_for(@nonslippad) do |f| %>
  <% if @nonslippad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nonslippad.errors.count, "error") %> prohibited this nonslippad from being saved:</h2>

      <ul>
      <% @nonslippad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
	  
	  <div class="row">
	    <div class="col-sm-12 col-md-5">
	      <div class="field">
			<%= f.label :quantity %>
			<%= f.number_field :quantity %>
	      </div>
	    </div>
	  </div>

      <div class="row">
	    <div class="col-sm-12 col-md-5">
	      <div class="field">
	        <%= f.label :width %>
	        <%= f.select(:width, options_for_select([['36 inches', '36 inches'],  ['48 inches', '48 inches'], ['72 inches', '72 inches']]), { :prompt => "Please Choose"}) %>
	      </div>
	    </div>
	  </div>
 
      <div class="row">
	    <div class="col-sm-12 col-md-6">
	      <div class="field">
	        <%= f.hidden_field :price, :value => 0  %>
	      </div>
	    </div>  
	  </div>
      
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
