<h1>Listing nonslippads</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Width</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nonslippads.each do |nonslippad| %>
      <tr>
        <td><%= nonslippad.quantity %></td>
        <td><%= nonslippad.width %></td>
        <td><%= nonslippad.price %></td>
        <td><%= link_to 'Show', nonslippad %></td>
        <td><%= link_to 'Edit', edit_nonslippad_path(nonslippad) %></td>
        <td><%= link_to 'Destroy', nonslippad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nonslippad', new_nonslippad_path %>
