<div id="contact-form">

<%= bootstrap_form_for(@message, style: :horizontal, left: "col-sm-2 col-md-2", right: "col-sm-6 col-md-8") do |f| %>

 <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.select :reason, Message::CONTACT_REASONS, prompt: "Please select a Reason for Contacting Us", :input_html => { :id => "message_reason" } %>

    <div class="js-dependent-fields" data-select-id="message_reason" data-option-value="Question about a Previous Order">
      <%= f.number_field :order_id, :label => "Order Number" %>
    </div>

   <div class="js-dependent-fields" data-select-id="message_reason" data-option-value="Question about a Previous Quote">
      <%= f.number_field :quote_id%>
    </div>

    <%= f.email_field :email %>
    <%= f.text_field :name %>
    <%= f.text_area :message, rows: 7, cols: 70 %>
    <%= f.telephone_field :phone %>
  </div>

  <div class="form-actions">
    <%= f.form_group do %>
      <%= f.submit "Send Message", class: "btn btn-med btn-success" %>
    <% end %>
  </div>
<% end %>

</div>