<p id="notice"><%= notice %></p>

<p>
  <%= link_to user_path(current_user), class: "btn btn-primary btn-med" do %>
  <i class="glyphicon glyphicon-circle-arrow-left"></i> Back to My Dashboard   
<% end %>
</p>

<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-info">
      
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-12 col-md-8">     
            <h1>QUOTE ID #<%= @quote.id %></h1>
          </div>
        </div>  
      </div>

      <div class="panel-body">

        <div class="row">

          <div class="col-sm-4 col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                CUSTOMER DETAILS
              </div>
              <div class="panel-body">
                <% if @quote.company %>
                <strong><%= @quote.company %></strong><br>
                <% end %>
                
                <%= @quote.firstname %> <%= @quote.lastname %>
                <br><%= @quote.ship_street_address %>
                <br><%= @quote.ship_city %>, <%= @quote.ship_state %>  <%= @quote.ship_zipcode %> 
                <br><%= @quote.ship_country %>
              </div>
            </div>  
          </div>
          <div class="col-sm-4 col-md-4 pull-right">
             <p><strong>Quote Date:</strong> <%= @quote.created_at.strftime("%B %d, %Y") %></p>
             <p><strong>Quote Status:</strong> <%= @quote.status %></p>
             <p><strong>Customer Phone:</strong> <%= @quote.telephone %></p>
             <p><strong>Email:</strong> <%= @quote.email %></p>
          </div>
 
        </div>
        
        <div class="row">
          <div class="col-xs-12">     
            Items in this Quote are listed below. Click on the individual quote items to see details for each one.
          </div>  
          
        </div>  
        <hr>
        <% @quote.lines.each do |line| %>

        <div class="row bottom10">
            <div class="col-xs-12 larger">
               Quote Product: <span class="bold"><%= line.quote_product.name.upcase if line.quote_product_id %></span>
            </div>
        </div>

        <div class="row">
          
            

            <div class="col-xs-2">
                <% if line.color_id %>
                    <%= image_tag(line.color.image_url, class: "img-responsive") if line.color_id %>
                <% end %>    
            </div>
    
            <div class="col-xs-3">
                <% if line.series_id %>
                  <div class="quotespace border-top">
                    <strong>SERIES:</strong>
                    <%= line.series.name %>
                  </div>  
                <% end %>    


                <% if line.color_id %>
                <div class="quotespace">
                    <strong>COLOR:</strong>
                    <%= line.color.name %>
                  </div>  
                <% end %>


                <% if line.cover_id %>
                  <div class="quotespace border-top">
                    <strong>FINISH COVER:</strong><br>
                    <%= line.cover.name %>
                  </div>  
                <% end %>
            </div>
            
  
            <% if (line.quote_product_id = 13) %>  
              <% if line.size %>
            <div class="col-xs-2 col-xs-offset-1">
                <strong>DIMENSIONS</strong><br>
                <%= line.size.dimension %>
            </div>
              <% end %>  
            <% end %>  
            
            <!-- If this column is not Value Vinyl-->
              
            <div class="col-xs-3">
              <% if line.shape %>  
                <div class="quotespace">
                  <strong>TABLE SHAPE:</strong>
                  <%= line.shape.name %>
                </div>
              <% end %>   

              <% if line.length %>  
                <div class="quotespace">
                  <strong>LENGTH:</strong>
                  <%= line.length %>"  
                </div>
              <% end %>   

              <% if line.width %>  
                <div class="quotespace">
                  <strong>WIDTH:</strong>
                  <%= line.width %>"
                </div>
              <% end %>  
              
              <% if line.height %>
                <div class="quotespace">
                  <strong>TABLE HEIGHT:</strong>
                  <%= line.height %>"
                </div>
              <% end %>

              <% if line.umbrella %>
                <div class="quotespace">
                  <strong>UMBRELLA?</strong>
                  <%= boolean_to_words(line.umbrella) %>
                </div>
              <% end %>

              <% if line.velcro %>
                <div class="quotespace">
                  <strong>BOOTH WITH VELCRO?</strong>
                  <%= boolean_to_words(line.velcro) %>
                </div>
              <% end %>
            </div>
            
          
           <!-- End If this column is not Value Vinyl-->



            <div class="col-xs-2 text-center">
              <% if line.quantity %>
                <strong>QUANTITY</strong>
                <div><%= line.quantity %></div>
              <% end %>  
            </div>

            <div class="col-xs-2 text-right">
              <% if line.price %>
                <strong>UNIT PRICE</strong><br>
                  <% if line.price == 0 %>
                    Waiting on Pricing
                  <% else %>  
                    <%= number_to_currency(line.price) %>
                  <% end %> 
                  <br><br>
                  <strong>PRICE:</strong><br>
                  <% if line.price == 0 %>
                    Submit for Pricing
                  <% else %>  
                    <%= number_to_currency(line.total_price) %>
                  <% end %>
 
              <% end %>  
            </div>

        </div>     

        <hr>
        <% end %>
        
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Sub-Total:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quote.subtotal) %>
          </div>
        </div>    
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Shipping:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quote.shipping) %>
          </div>
        </div>   
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Sales Tax:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quote.sales_tax) %>
          </div>
        </div>   

        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Total:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quote.total) %>
          </div>
        </div>   
        
        <hr>   
         
         Thank you for your choosing Americo!
      </div>
    
    </div>

  </div>
</div>



<%= link_to user_path(current_user), class: "btn btn-primary btn-med" do %>
  <i class="glyphicon glyphicon-circle-arrow-left"></i> Back to My Dashboard   
<% end %>
<p></p>
