<h1>Listing vinylpads</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vinylpads.each do |vinylpad| %>
      <tr>
        <td><%= vinylpad.quantity %></td>
        <td><%= vinylpad.price %></td>
        <td><%= link_to 'Show', vinylpad %></td>
        <td><%= link_to 'Edit', edit_vinylpad_path(vinylpad) %></td>
        <td><%= link_to 'Destroy', vinylpad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinylpad', new_vinylpad_path %>
