<%= bootstrap_form_for([:admin, @user_group]) do |f| %>

  <% if @user_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group.errors.count, "error") %> prohibited this user_group from being saved:</h2>

      <ul>
      <% @user_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, label: "User Group Name" %>
  </div>
  <div class="field">
    <%= f.text_field :kind, label: "User Group Kind/For" %>
  </div>

  <div class="actions">
    <%= f.submit "Update User Group", class: "btn btn-primary" %>
  </div>
  <br>
<% end %>