<div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-users"></i> User Groups
            </li>
        </ol>
        <h1 class="page-header">User Groups</h1>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
  </div>
</div>

<div class="row">
  <div class="no-more-tables">
    <table class="col-md-12 table table-hover table-striped">
      <thead>
        <tr>
          <th>User Group ID</th>
          <th>Name</th>
          <th>User Count</th>
          <th>Group Kind</th>
          <th>Last Email Sent</th>
          <th>Last sent on</th>
          <th>Date Created</th>
          <th></th>
          <% if current_admin_user.email == 'dustinschaerer@gmail.com' %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @user_groups.order(:name).each do |user_group| %>
          <tr>
            <td data-title="user_group_id"><%= link_to "#{user_group.id}", [:admin, user_group], class: "user-link" %></td>
            <td data-title="name"><%= user_group.name %></td>
            <td data-title="count"><%= user_group.users.count %></td>
            <td data-title="kind"><%= user_group.try(:kind) %></td>
            <td data-title="last_message_sent">
              <%= user_group.try(:email_message).try(:subject) %></td>
            <td data-title="last_sent_on"><%= user_group.last_sent_on %></td>
            <td data-title="created_at"><%= user_group.created_at %></td>
            <td><%= link_to 'Show', [:admin, user_group] %></td>
            <% if current_admin_user.email == 'dustinschaerer@gmail.com' %>
              <td><%= link_to 'Edit', edit_admin_user_group_path(user_group) %></td>
              <td><%= link_to 'Destroy', [:admin, user_group], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-12">

    <%= bootstrap_form_for(@user_group, url: admin_user_groups_path, layout: :inline) do |f| %>
      <%= f.alert_message "Please fix the following errors:" %>
      <p>Create a New User Group</p>
      <%= f.text_field :name, :placeholder => "User Group Name", :required => true, hide_label: true, input_html: { maxlength: 140 }  %>
      <br><br>
      <p>User Group For / Kind of Group</p>
      <%= f.text_field :kind, :placeholder => "Kind of Group", :required => true, hide_label: true %>
      <br><br>
      <%= f.form_group do %>
        <%= f.submit "Add New User Group", class: "btn btn-primary"  %>
      <% end %>
    <% end -%>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <h3>Actions to Perform on All Users</h3>
    <%= button_to 'Sort All Users Into Default Groups', sort_users_into_groups_admin_user_groups_path, class: "btn btn-warning", method: :get, data: { confirm: 'WARNING! Are you sure you want to resort all users?' } %> <i>Warning: This will remove users from current groups and re-sort all of them into groups.</i>
   <br><br>

  </div>
</div>