<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
              <a href="/admin/index"><i class="fa fa-dashboard"></i>  Dashboard</a>
            </li>
            <li>
               <a href="/admin/user_groups"> <i class="fa fa-user"></i> User Group</a>
            </li>
            <li class="active">
              <%= @user_group.id %>
            </li>
        </ol>

    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <p id="notice"><%= notice %></p>
    <h4>
      <strong>User Group Name:</strong>
      <%= @user_group.name %>
    </h4>

    <h4>
      <strong>Last Email Sent:</strong>
      <%= @user_group.email_message.subject if @user_group.email_message %>
    </h4>

    <h4>
      <strong>Last Email Sent On:</strong>
      <%= @user_group.last_sent_on %>
    </h4>

    <%= link_to 'Edit', edit_admin_user_group_path(@user_group) %> |
    <%= link_to 'Back', admin_user_groups_path %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_form_tag url: remove_from_group_for_admin_users_url, method: :patch do |f| %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>User Id</th>
            <th>User Email</th>
            <th>Created At</th>
            <th></th>
          </tr>
        </thead>
        <%= @user_group.users.each do |user| %>
          <tr>
            <td><%= check_box_tag "user_ids[]", user.id %></td>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td></td>
          </tr>
        <% end %>
      </table>

      <%= submit_tag "Remove Checked from User Group", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
