<%= form_for(@prospect_group) do |f| %>
  <% if @prospect_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect_group.errors.count, "error") %> prohibited this prospect_group from being saved:</h2>

      <ul>
      <% @prospect_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Prospect Group Name" %><br>
    <%= f.text_field :name %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <br>
<% end %>
