<%= bootstrap_form_for([:admin, @prospect_group]) do |f| %>

  <% if @prospect_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect_group.errors.count, "error") %> prohibited this prospect_group from being saved:</h2>

      <ul>
      <% @prospect_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, label: "Prospect Group Name" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Prospect Group", class: "btn btn-primary" %>
  </div>
  <br>
<% end %>