<div class="row">
    <div class="col-lg-12">
    	<ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
              <i class="fa fa-bullhorn"></i><i class="fa fa-bullhorn"></i> Prospect Groups
            </li>
        </ol>
        <h1 class="page-header">Prospect Groups</h1>
    </div>
</div>

<div class="row">
  <div class="no-more-tables">
      <table class="col-md-12 table table-hover table-striped">
        <thead>
            <tr>
              <th>Prospect Group ID</th>
              <th>Group Name</th>
              <th>Number of Prospects</th>
              <th>Last Email Sent</th>
              <th>Last Sent On</th>
              <th>Date Created</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @prospect_groups.sort.reverse.each do |prospect_group| %>
            <tr>
              <td data-title="prospect_group_id"><%= link_to "#{prospect_group.id}", [:admin, prospect_group], class: "prospect-link" %>
              </td>
              <td data-title="name"><%= prospect_group.name %></td>
              <td data-title="count"><%= prospect_group.prospects.count %></td>
              <td data-title="last_message_sent">
                <%= prospect_group.try(:email_message).try(:subject) %></td>
              <td data-title="last_sent_on"><%= prospect_group.last_sent_on %></td>
              <td data-title="created_at"><%= prospect_group.created_at.strftime("%b/%d/%Y") %></td>
              <td><%= link_to 'Show', admin_prospect_group_path(prospect_group) %></td>
              <td><%= link_to 'Edit', edit_admin_prospect_group_path(prospect_group) %></td>
              <td><%= link_to 'Destroy', admin_prospect_group_path(prospect_group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-12">

    <%= bootstrap_form_for(@prospect_group, url: admin_prospect_groups_path, layout: :inline) do |f| %>
      <%= f.alert_message "Please fix the following errors:" %>
      <p>Create a New Prospect Group</p>
      <%= f.text_field :name, :placeholder => "Prospect Group Name", :required => true, hide_label: true, input_html: { maxlength: 140 }  %>

      <%= f.form_group do %>
        <%= f.submit "Add New Prospect Group", class: "btn btn-primary"  %>
      <% end %>
    <% end -%>

  </div>
</div>