<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
              <a href="/admin/index"><i class="fa fa-dashboard"></i>  Dashboard</a>
            </li>
            <li>
               <a href="/admin/prospect_groups"> <i class="fa fa-bullhorn"></i><i class="fa fa-bullhorn"></i> Prospect Group</a>
            </li>
            <li class="active">
              <%= @prospect_group.id %>
            </li>
        </ol>

    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <p id="notice"><%= notice %></p>

    <h4>
      <strong>Prospect Group Name:</strong>
      <%= @prospect_group.name %>
    </h4>

    <h4>
      <strong>Last Email Sent:</strong>
      <%= @prospect_group.try(:email_message).try(:subject) %>
    </h4>

    <h4>
      <strong>Last sent on:</strong>
      <%= @prospect_group.last_sent_on %>
    </h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_form_tag url: remove_from_group_for_admin_prospects_url, method: :patch do %>

      <h4 class="text-center">Prospects in this Prospect Group</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Prospect Id</th>
            <th>Prospect Email</th>
            <th>Prospect Name</th>
            <th></th>
          </tr>
        </thead>
        <% @prospect_group.prospects.each do |prospect| %>
          <tr>
            <td><%= check_box_tag "prospect_ids[]", prospect.id %></td>
            <td><%= link_to prospect.id, admin_prospect_path(prospect) %></td>
            <td><%= prospect.email %></td>
            <td><%= prospect.name %></td>
            <td></td>
          </tr>
        <% end %>
      </table>

      <%= submit_tag "Remove Checked from Prospect Group", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-12">
    <%= link_to 'Edit', edit_admin_prospect_group_path(@prospect_group) %> |
    <%= link_to 'Back', admin_prospect_groups_path %>
  </div>
</div>