<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
        <h1 class="page-header">
            Americo Inc.  <small>Dashboard</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
           <a href="/admin/users">
             <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-users fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @new_users.count %></div>
                          <div>New Users this Month</div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                  <span class="pull-left">View Users</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-dark">
        <a href="/admin/orders">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @orders_this_month.count %></div>
                <div>Orders this Month</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Orders</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="/admin/quotes">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-tags fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @quotes_this_month.count %></div>
                          <div>Quotes this Month</div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Quotes</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <a href="/admin/purchases">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-credit-card fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @purchases_this_month.count %></div>
                          <div>Purchases this Month</div>
                      </div>
                  </div>
              </div>

              <div class="panel-footer">
                  <span class="pull-left">View Purchases</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-dark">
            <div class="panel-heading">
                <h3 class="panel-title no-block"><i class="fa fa-shopping-cart fa-fw"></i> Recent Orders</h3>
                <%= link_to "Pending: #{@pending_orders.count}", admin_orders_path(:status => "Submitted"), class: "pull-right white"  %>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover table-striped">

                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Customer</th>
                        </tr>
                    </thead>

                    <tbody>
                      <% @orders.each do |order| %>
                        <tr>
                            <td><%= link_to "#{order.id}", [:admin, order], class: "order-dash" %></td>
                            <td><span class="<%= order.current_color %> label-status"><%= order.status %></span></td>
                            <td><%= order.firstname %> <%= order.lastname %></td>
                        </tr>
                      <% end  %>

                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title no-block"><i class="fa fa-tags fa-fw"></i> Recent Quotes</h3>

                <%= link_to "Pending: #{@pending_quotes.count}", admin_quotes_path(:status => "Submitted"), class: "pull-right white"  %>
            </div>
            <div class="panel-body">
                <!--<div id="morris-area-chart"></div>-->


                <div class="table-responsive">
                  <table class="table table-hover table-striped">

                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Customer</th>
                          <th></th>
                        </tr>
                    </thead>

                    <tbody>
                      <% @quotes.each do |quote| %>
                        <tr>
                            <td><%= link_to "#{quote.id}", [:admin, quote], class: "quote-dash" %></td>
                             <td><span class="<%= quote.current_color %> label-status"><%= quote.status %></span></td>
                            <td><%= quote.firstname %> <%= quote.lastname %></td>
                        </tr>
                      <% end  %>

                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h3 class="panel-title no-block"><i class="fa fa-credit-card fa-fw"></i> Recent Purchases</h3>
                <%= link_to "Pending: #{@pending_purchases.count}", admin_purchases_path(:status => "Purchased"), class: "pull-right white"  %>
            </div>
            <div class="panel-body">
                <!--<div id="morris-area-chart"></div>-->
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Customer</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @purchases.each do |purchase| %>
                        <tr>
                            <td><%= link_to "#{purchase.id}", [:admin, purchase], class: "purchase-dash" %></td>
                            <td><span class="<%= purchase.current_color %> label-status"><%= purchase.status %></span></td>
                            <td><%= purchase.firstname %> <%= purchase.lastname %></td>
                        </tr>
                      <% end  %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>