 <div class="col-xs-12">
  <div class="sidebar-nav-fixed" id="sidequote">

	<div class="cart_title"><h4>Your Current Quote<h4></div> 

    	 <% if (@quotecart.items.empty?) %>
    	<div class="row">
        	<div class="col-xs-12">
				You Quote cart is empty!
	    	</div>
    	</div>
        <% end %>
<!--
        <div class="row">
        	<div class="col-xs-2 col-md-1">
				#
	    	</div>
	
	    	<div class="col-xs-6 col-md-4">
				Quote Item Type
	    	</div>
    
        	<div class="col-xs-2 col-md-1">
				Remove
	    	</div>
	    	<div class="col-xs-2 col-md-1">
				Edit
	    	</div>
	    </div>
-->

    <%= render(@quotecart.items) %>
	
	<div class="totals_line">Number of Items in Quote <%= @quotecart.items.count %></div>


<%= 
#button_to 'Remove All Quote Items', @quotecart, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you Sure?' } 
%>
<%= link_to 'Remove All Quote Items', @quotecart, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you Sure?' } %>

<%= link_to "Add Another Item to Quote", "/request_quote#add", class: "btn btn-primary" %>
<%= link_to "Review Quote Now", @quotecart, class: "btn btn-warning" %>

<%= link_to "Submit Quote for Pricing Now", new_quote_path, class: "btn btn-success" %>
<div>
	<%= link_to 'Edit', edit_quotecart_path(@quotecart) %> |
	<%= link_to 'Back', quotecarts_path %>
</div>

</div>
</div>