<h1>Listing sent_emails</h1>

<table>
  <thead>
    <tr>
      <th>Email message ID</th>
      <th>Email message subject</th>
      <th>Sendable</th>
      <th>Actual recipients</th>
      <th>Recipient count</th>
      <th>Sent at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_emails.each do |sent_email| %>
      <tr>
        <td><%= sent_email.email_message.id %></td>
        <td><%= sent_email.email_message.subject %></td>
        <td><%= sent_email.sendable %></td>
        <td><%= sent_email.actual_recipients %></td>
        <td><%= sent_email.recipient_count %></td>
        <td><%= sent_email.sent_at %></td>
        <td><%= link_to 'Show', [:admin, sent_email] %></td>
        <td><%= link_to 'Edit', edit_admin_sent_email_path(sent_email) %></td>
        <td><%= link_to 'Destroy', [:admin, sent_email], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sent email', new_admin_sent_email_path %>
