<h1>Scheduled Emails / Sent Email History</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email Subject</th>
      <th>Email Message ID#</th>
      <th>Send To</th>
      <th>Actual Recipients</th>
      <th>Recipient count</th>
      <th>Sent at</th>
      <th></th>
      <th></th>
      <!--
      <th></th>
      -->
    </tr>
  </thead>

  <tbody>
    <% @sent_emails.each do |sent_email| %>
      <tr>
        <td><%= link_to sent_email.id, [:admin, sent_email]  %></td>
        <td><%= sent_email.email_message.subject %></td>
        <td><%= link_to sent_email.email_message.id, [:admin, sent_email.email_message] %></td>
        <td><%= sent_email.sendable_type.humanize %> <%= sent_email.sendable_id %></td>
        <td>
          <% if sent_email.recipient_count.nil? %>
            Not yet sent</td><td>N/A</td>
          <% else %>
            <%= link_to "Show Recipients", admin_sent_email_path(sent_email.id) %></td><td><%= sent_email.recipient_count %></td>
        <% end %>
        <td><%= sent_email.sent_at %></td>
        <td><%= link_to 'Show', [:admin, sent_email] %></td>
        <td><%= link_to 'Destroy', [:admin, sent_email], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!--<td>
        <%=
        #link_to 'Edit', edit_admin_sent_email_path(sent_email)
        %>
        </td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Schedule an Email to Send', new_admin_sent_email_path %>
