<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
              <a href="/admin/index"><i class="fa fa-dashboard"></i>  Dashboard</a>
            </li>
            <li>
               <a href="/admin/sent_emails"> <i class="fa fa-envelope"></i> Sent / Scheduled Emails</a>
            </li>
            <li class="active">
              <%= @sent_email.id %>
            </li>
        </ol>

    </div>
</div>
<!-- /.row -->

<h1>Sent / Scheduled Email <%= @sent_email.id %></h1>

<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <strong>Email Message:</strong>
  <%= @sent_email.email_message.subject %>
</p>

<p>
  <strong>Send To:</strong>
  <%= @sent_email.sendable_type.titleize %> <%= @sent_email.sendable_id %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @sent_email.sent_at %>
</p>

<p>
  <strong>Number of Recipients:</strong>
  <%= @sent_email.recipient_count %>
</p>

<p>
  <strong>Mandrill Tag:</strong>
  <%= @sent_email.email_message.mandril_tag %>
</p>

 <p>
  <strong>Shared Stats for this Email Message:</strong>
  <%
  # stats = Rails.cache.fetch([sent_email.email_message, 'stats'], expires_in: 10.minutes) { sent_email.email_message.get_mandrill_stats }
  stats = @sent_email.email_message.get_mandrill_stats
  %>
  <%= stats.blank? ? "No stats" : render(partial: "stats", locals: {stats: stats}) %>
</p>

<hr>
<p>
  <strong>Actual recipients:</strong>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Link To</th>
        <th>Email</th>
        <th>Count</th>
      </tr>
    </thead>
    <% arbitrary_count = 0 %>
    <% @sent_email.actual_recipients.each do |key, value| %>
      <% arbitrary_count += 1 %>
      <% value.each do |id, kind| %>
        <tr>
          <td>
            <% case kind %>
            <% when "user" %>
              <%= link_to kind.capitalize + " ##{id}", admin_user_path(id) %>
            <% when "prospect" %>
              <%= link_to kind.capitalize + " ##{id}", admin_prospect_path(id) %>
            <% when "user_group" %>
              <%= link_to kind.capitalize + " ##{id}", admin_user_group_path(id) %>
            <% when "prospect_group" %>
              <%= link_to kind.capitalize + " ##{id}", admin_prospect_group_path(id) %>
            <% end %>
          </td>
          <td><%= key %></td>
          <td><%= arbitrary_count %></td>
        </tr>
    <% end %>
  <% end %>
  </table>

</p>
</div>
<hr>
<%= link_to 'Back', admin_sent_emails_path %>
