<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @vinylroll.quantity %>
</p>

<p>
  <strong>References:</strong>
  <%= @vinylroll.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @vinylroll.references %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinylroll.price %>
</p>

<%= link_to 'Edit', edit_vinylroll_path(@vinylroll) %> |
<%= link_to 'Back', vinylrolls_path %>
