<p id="notice"><%= notice %></p>

Vinyl Roll Goods 

<p>
  <strong>Quantity:</strong>
  <%= @vinylroll.quantity %>
</p>

<p>
  <strong>Series ID:</strong>
  <%= @vinylroll.series_id %>
</p>

<p>
  <strong>Color ID:</strong>
  <%= @vinylroll.color_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinylroll.price %>
</p>

<%= link_to 'Edit', edit_vinylroll_path(@vinylroll) %> |
<%= link_to 'Back', vinylrolls_path %>
