<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shipping_profile.user_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @shipping_profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @shipping_profile.lastname %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shipping_profile.company %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @shipping_profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipping_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shipping_profile.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @shipping_profile.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @shipping_profile.country %>
</p>

<%= link_to 'Edit', edit_shipping_profile_path(@shipping_profile) %> |
<%= link_to 'Back', shipping_profiles_path %>
