<%= form_for(@vinyl, :html => { :class => "form-horizontal" }) do |f| %>
 

  <% if @vinyl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vinyl.errors.count, "error") %> prohibited this vinyl from being saved:</h2>

      <ul>
      <% @vinyl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-inputs">  
 
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="field">
          <%= f.label :cover_id %>
          <%= collection_select(:vinyl, :cover_id, Cover.all.order("id"), :id, :name ) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="field">
        <%= f.label :shape_id %>
        <%= f.collection_select(:shape_id, Shape.all.order("id"), :id, :name ) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="js-dependent-fields" data-select-id="vinyl_shape_id" data-option-value="2|3">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :width %>
          <%= f.number_field :width %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="js-dependent-fields" data-select-id="vinyl_shape_id" data-option-value="2">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :length %>
          <%= f.number_field :length %>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="js-dependent-fields" data-select-id="vinyl_shape_id" data-option-value="1">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :diameter %>
          <%= f.number_field :diameter %>
        </div>
      </div>
    </div>
  </div>  


  <div class="row">
  <div class="js-dependent-fields" data-select-id="vinyl_cover_id" data-option-value="4|5">
    <div class="col-sm-12 col-md-5">
      <div class="field">
        <%= f.label :height %>
        <%= f.number_field :height %>
      </div>
    </div>
  </div>
  </div>  
<!--
  <div class="row">

    <div class="js-dependent-fields" data-select-id="vinyl_cover_id" data-option-value="Regular Drape|Fitted (Hat Box)">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :drop %>        
          <% grouped_options = [
  ['Regular Drape',  
     ['6 inch', '8 inch (We Recommend this length for this Regular Drape Cover)', '10 inch'], '8 inch (We Recommend this length for this Regular Drape Cover)'],
  ['Fitted (Hat Box)',  
     ['4 inch', '6 inch (We Recommend this length for the Fitted (Hat Box) Cover)', '8 inch']]
  ] %>
          <%= f.select("drop", grouped_options_for_select(grouped_options)) %>
        </div>
      </div>
    </div>

  </div>  
-->

  <div class="row">

    <div class="js-dependent-fields" data-select-id="vinyl_cover_id" data-option-value="1">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :drop %>        
          <% grouped_options = [
  ['Regular Drape',  
     ['6 inch', '8 inch (We Recommend this length for the Regular Drape Cover)', '10 inch'], '8 inch (We Recommend the length for the Regular Drape Cover)']
  ] %>
          <%= f.select("drop", grouped_options_for_select(grouped_options, "8 inch (We Recommend this length for the Regular Drape Cover)")) %>
        </div>
      </div>
    </div>

  </div>  




  <div class="row">

    <div class="js-dependent-fields" data-select-id="vinyl_cover_id" data-option-value="2">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :drop %>        
          <% grouped_options = [
  ['Fitted (Hat Box)',  
     ['4 inch', '6 inch (We Recommend this length for the Fitted (Hat Box) Cover)', '8 inch'], '6 inch (We Recommend this length for the Fitted (Hat Box) Cover)']
  ] %>
          <%= f.select("drop", grouped_options_for_select(grouped_options, "6 inch (We Recommend this length for the Fitted (Hat Box) Cover)")) %>
        </div>
      </div>
    </div>

  </div>  

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :series_id %>
        <%= f.collection_select(:series_id,  Series.where("style_id = 1 OR style_id = 2").order("name"), :id, :name, {include_blank: true} ) %>
      </div>
    </div>
  </div>  

  <div class="row"> 
    
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :color_id %>
        <%= f.grouped_collection_select(:color_id, Series.order(:name), :colors, :name, :id, :name, include_blank: true ) %>
      </div>
    </div>
  
  </div>  

  <div class="row">

    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :umbrella %>
        <%= f.check_box :umbrella %>
      </div>
    </div>

  </div>  

  <div class="row">

    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :velcro %>
        <%= f.check_box :velcro %>
      </div>
    </div>
  
  </div>  

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.hidden_field :price, :value => 0  %>
      </div>
    </div>  
  </div>

</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>