<h1>Listing vinyls</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Shape</th>
      <th>Width</th>
      <th>Length</th>
      <th>Diameter</th>
      <th>Height</th>
      <th>Drop</th>
      <th>Series</th>
      <th>Color</th>
      <th>Umbrella</th>
      <th>Velcro</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vinyls.each do |vinyl| %>
      <tr>
        <td><%= vinyl.cover_id %></td>
        <td><%= vinyl.shape_id %></td>
        <td><%= vinyl.width %></td>
        <td><%= vinyl.length %></td>
        <td><%= vinyl.diameter %></td>
        <td><%= vinyl.height %></td>
        <td><%= vinyl.drop %></td>
        <td><%= vinyl.series.name %></td>
        <td><%= vinyl.color.id %></td>
        <td><%= vinyl.umbrella %></td>
        <td><%= vinyl.velcro %></td>
        <td><%= vinyl.price %></td>
        <td><%= vinyl.quantity %></td>
        <td><%= link_to 'Show', vinyl %></td>
        <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
        <td><%= link_to 'Destroy', vinyl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinyl', new_vinyl_path %>
