<p id="notice"><%= notice %></p>

<p>
  <strong>Cover:</strong>
  <%= @vinyl.cover %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @vinyl.shape %>
</p>

<p>
  <strong>Width:</strong>
  <%= @vinyl.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @vinyl.length %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @vinyl.diameter %>
</p>

<p>
  <strong>Height:</strong>
  <%= @vinyl.height %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @vinyl.drop %>
</p>

<p>
  <strong>Series:</strong>
  <%= @vinyl.series %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vinyl.color %>
</p>

<p>
  <strong>Umbrella:</strong>
  <%= @vinyl.umbrella %>
</p>

<p>
  <strong>Velcro:</strong>
  <%= @vinyl.velcro %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @vinyl.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinyl.price %>
</p>

<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>
