<% provide(:title ,'User Profile') %>

<h1>Hello, <%= @user.username %></h1> 
<p>Your email address: <strong><%= @user.email %></strong> <%= link_to 'Change', edit_user_registration_path %></p>

<h3>My Swatch Order History</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Order #</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Street Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Status</th>
			<th></th>
		</tr>
		<% @orders.each do |order|%>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.firstname %> <%= order.lastname %></td>
			<td><%= order.email %></td>
			<td><%= order.street_address %></td>
			<td><%= order.city %></td>
			<td><%= order.state %></td>
			<td><%= order.zipcode %></td>
			<td><%= order.status %></td>
			<td><%= link_to 'Show Order Details', order_path(order) %></td>
		</tr>
		<% end %>
	</table>
</div>

<h3>My Quote Request History</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Quote #</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Date Submitted</th>
			<th>Subtotal</th>
			<th>Shipping</th>
			<th>Sales Tax</th>
			<th>Total</th>
			<th>Show Quote</th>
			<th>Buy Now</th>
		</tr>	
		<% @quotes.each do |quote|%>
		<tr>
			<td><%= quote.id %></td>
			<td><%= quote.firstname %> <%= quote.lastname %></td>
			<td><%= quote.email %></td>
			<td><%= quote.created_at %></td>
			<td><%= number_to_currency(quote.subtotal) %></td>
			<td><%= number_to_currency(quote.shipping) %></td>
			<td><%= number_to_currency(quote.sales_tax) %></td>
			<td><%= number_to_currency(quote.total) %></td>
	        <td><%= link_to 'Show Quote Details', quote %></td>
	        <td><%= link_to 'Buy This Now', "/purchases/new?quote_id=#{quote.id}", method: :get %></td>
		</tr>
		<% end %>
	</table>
</div>

<h3>My Purchases</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Purchase #</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>	
		
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
	</table>
</div>