<% provide(:title ,'User Profile') %>

<h1>Hello, <%= @user.username %></h1>
<p>Your email address: <%= @user.email %> <%= link_to 'Change', edit_user_registration_path %></p>

<h3>My Swatch Order History</h3>
<table>
	<tr>
		<th>Order #</th>
		<th>First and Last Name</th>
		<th>Email Address</th>
		<th>Street Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
	</tr>
	<% @orders.each do |order|%>
	<tr>
		<td><%= order.id %></td>
		<td><%= order.firstname %> <%= order.lastname %></td>
		<td><%= order.email %></td>
		<td><%= order.street_address %></td>
		<td><%= order.city %></td>
		<td><%= order.state %></td>
		<td><%= order.zipcode %></td>
	</tr>
	<% end %>
</table>

<h3>My Quote Request History</h3>
<table>
	<tr>
		<th>Quote #</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>	
	
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
</table>

<h3>My Purchases</h3>
<table>
	<tr>
		<th>Purchase #</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>	
	
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
</table>
