<% provide(:title ,'User Profile') %>


<h1 style="display:inline;">Hello, <%= @user.email %></h1>     <%= link_to 'Change My Email Address', edit_user_registration_path %> 
<p>&nbsp;</p>
<h3>My Swatch Order History</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Order #</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Street Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Status</th>
			<th></th>
		</tr>
		<% @orders.each do |order|%>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.firstname %> <%= order.lastname %></td>
			<td><%= order.email %></td>
			<td><%= order.street_address %></td>
			<td><%= order.city %></td>
			<td><%= order.state %></td>
			<td><%= order.zipcode %></td>
			<td><%= order.status %></td>
			<td><%= link_to 'Show Order Details', order_path(order) %></td>
		</tr>
		<% end %>
	</table>
</div>

<h3>My Quote Request History</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Quote #</th>
			<th>Status</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Date Submitted</th>
			<th>Subtotal</th>
			<th>Shipping</th>
			<th>Sales Tax</th>
			<th>Total</th>
			<th>Show Quote</th>
			<th>Buy Now</th>
		</tr>	
		<% @quotes.each do |quote|%>
		<tr>
			<td><%= quote.id %></td>
			<td><%= quote.status %></td>
			<td><%= quote.firstname %> <%= quote.lastname %></td>
			<td><%= quote.email %></td>
			<td><%= quote.created_at %></td>
			<td><%= number_to_currency(quote.subtotal) %></td>
			<td><%= number_to_currency(quote.shipping) %></td>
			<td><%= number_to_currency(quote.sales_tax) %></td>
			<td><%= number_to_currency(quote.total) %></td> 
	        <td><%= link_to 'Show Quote Details', quote %></td>
	        <td><% if (quote.status == "Priced") %>
                       <%= link_to 'Buy This Now', new_purchase_path(quote_id: quote), method: :get %>
             	<% elsif (quote.status == "Purchased") %>
                  Purchased  
                <% else %>
                Waiting on Pricing  
                <% end %>
	        </td>

		</tr>
		<% end %>
	</table>
</div>

<h3>My Purchases</h3>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>Purchase #</th>
			<th>Status</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Date Submitted</th>
			<th>Subtotal</th>
			<th>Shipping</th>
			<th>Sales Tax</th>
			<th>Total</th>
			<th>Show purchase</th>
			<th></th>
		</tr>	
		<% @purchases.each do |purchase|%>
		<tr>
			<td><%= purchase.id %></td>
			<td><%= purchase.status %></td>
			<td><%= purchase.firstname %> <%= purchase.lastname %></td>
			<td><%= purchase.email %></td>
			<td><%= purchase.created_at %></td>
			<td><%= number_to_currency(purchase.subtotal) %></td>
			<td><%= number_to_currency(purchase.shipping) %></td>
			<td><%= number_to_currency(purchase.sales_tax) %></td>
			<td><%= number_to_currency(purchase.total) %></td> 
	        <td><%= link_to 'Show Purchase Details', purchase %></td>
	        <td></td>

		</tr>
		<% end %>
	</table>

	
</div>