<%= bootstrap_form_for(@purchase, action: :new, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f| %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-12 bottom20">
        <p>To purchase all the items from your submitted <strong>Quote #<%= @quote.id %></strong>, fill out the shipping and billing information below.  Our checkout is 100% secure and fully encrypted. Click this green button to review your detailed quote without leaving this page.
          <a href="#" class="btn btn-info btn-med top4" data-toggle="modal" data-target="#quoteModal">
            Review My Quote <i class="glyphicon glyphicon-circle-search"></i>
          </a></p>

        <!-- Modal -->
        <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-sm-12 col-md-12">
                            <h1>QUOTE ID #<%= @quote.id %></h1>
                          </div>
                        </div>
                      </div>

                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-4 col-md-4">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                CUSTOMER DETAILS
                              </div>
                              <div class="panel-body">
                                <% if @quote.company %>
                                <strong><%= @quote.company %></strong><br>
                                <% end %>
                                <% if @quote.tax_id %>
                                Tax ID: <%= @quote.tax_id %><br>
                                <% end %>
                                <%= @quote.firstname %> <%= @quote.lastname %>
                                <br><%= @quote.ship_street_address %>
                                <br><%= @quote.ship_city %>, <%= @quote.ship_state %>  <%= @quote.ship_zipcode %>
                                <br><%= @quote.ship_country %>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-4 col-md-4 pull-right">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                QUOTE DETAILS
                              </div>
                              <div class="panel-body">
                            <p><strong>Date:</strong> <%= @quote.created_at.strftime("%B %d, %Y") %></p>
                            <p><strong>Status:</strong> <%= @quote.status %></p>
                            <p><strong>Phone:</strong> <%= @quote.telephone %></p>
                            <p><strong>Email:</strong> <%= @quote.email %></p>
                          </div>
                        </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            Items in this Quote are listed below.
                          </div>
                        </div>
                        <hr>

                        <% @quote.lines.each do |line| %>
                          <div class="row bottom10">
                            <div class="col-xs-12 larger">
                              Quote Product: <span class="bold"><%= line.quote_product_name.upcase if line.quote_product_id %></span> <% if (line.quote_product_id == 3 || line.quote_product_id == 10 || line.quote_product_id == 11 || line.quote_product_id == 12 || line.quote_product_id == 17) %>
                                - 25 yard rolls / 54" wide
                              <% elsif (line.quote_product_id == 4) %>
                                - 33 yard rolls
                              <% end %>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xs-2">
                              <% if line.color_id %>
                                <%= image_tag(line.color_image_url, class: "img-responsive") if line.color_id %>
                              <% end %>
                              <% if line.finish %>
                                <strong>FINISH:</strong>
                                <%= line.finish %>
                              <% end %>
                            </div>

                            <div class="col-xs-3">
                              <% if line.series_id %>
                                <div class="quotespace border-top">
                                  <strong>SERIES:</strong>
                                  <%= line.series_name %>
                                </div>
                              <% end %>

                              <% if line.color_id %>
                              <div class="quotespace">
                                  <strong>COLOR:</strong>
                                  <%= line.color_name %>
                                </div>
                              <% end %>


                              <% if line.cover_id %>
                                <div class="quotespace border-top">
                                  <strong>FINISH COVER:</strong><br>
                                  <%= line.cover_name %>
                                </div>
                              <% end %>

                              <% if line.laminate_side %>
                                 <strong>Side to Laminate:</strong><br>
                                 <%= line.laminate_side %>
                              <% end %>
                            </div>

                            <% if (line.quote_product_id = 13) %>
                              <% if line.size %>
                                <div class="col-xs-2 col-xs-offset-1">
                                    <strong>DIMENSIONS</strong><br>
                                    <%= line.size_dimension %>
                                </div>
                              <% end %>
                            <% end %>

                            <!-- If this column is not Value Vinyl-->
                            <div class="col-xs-3">
                              <% if line.shape %>
                                <div class="quotespace">
                                  <strong>TABLE SHAPE:</strong>
                                  <%= line.shape_name %>
                                </div>
                              <% end %>

                              <% if line.length %>
                                <div class="quotespace">
                                  <strong>LENGTH:</strong>
                                  <%= line.length %>"
                                </div>
                              <% end %>

                              <% if line.width %>
                                <div class="quotespace">
                                  <strong>WIDTH:</strong>
                                  <%= line.width %>"
                                </div>
                              <% end %>

                              <% if line.height %>
                                <div class="quotespace">
                                  <strong>TABLE HEIGHT:</strong>
                                  <%= line.height %>"
                                </div>
                              <% end %>

                              <% if line.umbrella %>
                                <div class="quotespace">
                                  <strong>UMBRELLA?</strong>
                                  <%= boolean_to_words(line.umbrella) %>
                                </div>
                              <% end %>

                              <% if line.velcro %>
                                <div class="quotespace">
                                  <strong>BOOTH WITH VELCRO?</strong>
                                  <%= boolean_to_words(line.velcro) %>
                                </div>
                              <% end %>

                              <% if line.yards %>
                                <div class="quotespace">
                                  <strong>TOTAL YARDS:</strong>
                                  <%= line.yards %> yards
                                </div>
                              <% end %>
                            </div>

                           <!-- End If this column is not Value Vinyl-->

                            <div class="col-xs-2 text-center">
                              <% if line.quantity %>
                                <strong>QUANTITY</strong>
                                <div><%= line.quantity %></div>
                              <% end %>
                            </div>

                            <div class="col-xs-2 text-right">
                              <% if line.price %>
                                <strong>UNIT PRICE</strong><br>
                                  <% if line.price == 0 %>
                                    Waiting on Pricing
                                  <% else %>
                                    <%= number_to_currency(line.price) %>
                                  <% end %>
                                  <br><br>
                                  <strong>PRICE:</strong><br>
                                  <% if line.price == 0 %>
                                    Submit for Pricing
                                  <% else %>
                                    <%= number_to_currency(line.total_price) %>
                                  <% end %>
                              <% end %>
                            </div>
                        </div>

                        <hr>
                        <% end %>

                        <div class="row">
                          <div class="col-xs-2 col-xs-offset-8 text-right">
                            <strong>Sub-Total:</strong>
                          </div>
                          <div class="col-xs-2 text-right">
                            <%= number_to_currency(@quote.subtotal) %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-2 col-xs-offset-8 text-right">
                            <strong>Shipping:</strong>
                          </div>
                          <div class="col-xs-2 text-right">
                            <%= number_to_currency(@quote.shipping) %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-2 col-xs-offset-8 text-right">
                            <strong>Sales Tax:</strong>
                          </div>
                          <div class="col-xs-2 text-right">
                            <%= number_to_currency(@quote.sales_tax) %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-2 col-xs-offset-8 text-right">
                            <strong>Total:</strong>
                          </div>
                          <div class="col-xs-2 text-right">
                            <%= number_to_currency(@quote.total) %>
                          </div>
                        </div>

                         Thank you for your choosing Americo!
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <%= f.alert_message "Please fix the following errors:" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Step 1: Shipping Address &amp; Details</h3>
          </div>
          <div class="panel-body">
            <p>This purchase will be shipped to:</p>
            <%= f.text_field :firstname, label: 'First Name' %>
            <%= f.text_field :lastname, label: 'Last Name' %>
            <%= f.text_field :company, placeholder: 'Company Name (Optional)' %>
            <%= f.text_field :tax_id, label: "Tax ID Number", readonly: true %>
            <%= f.text_field :telephone, label: 'Telephone Number', placeholder: 'Telephone Number'   %>
            <%= f.text_field :ship_street_address, label: 'Street Address', placeholder: 'Street Address', readonly: true %>
            <%= f.text_field :ship_city, label: 'City', placeholder: 'City', readonly: true %>
            <%= f.text_field :ship_zipcode, label: 'Zip Code', placeholder: 'Zip Code', readonly: true %>
            <%= f.text_field :ship_state, label: 'State/Province', placeholder: 'State', readonly: true %>
            <%= f.text_field :ship_country, label: 'Country', placeholder: 'Country', readonly: true %>

            <%= f.hidden_field :user_id, size: 40, value: current_user.id, readonly: true %>
            <%= f.select(:contactby, options_for_select(['Email', 'Telephone']), prompt: 'Choose your Contact Preference ', label: 'Contact By') %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="display: inline;">Step 2: Payment Address &amp; Details</h3>
          </div>
          <div class="panel-body">
            <div class="well">
              <%= check_box_tag(:checkbox_use_same_address, value = "1", checked = false, {class: 'make_same_address', id: 'make_same_address' }) %> Check if Payment Information is the same as Shipping
            </div>
            <%= f.text_field :pay_firstname, label: 'First Name', placeholder: 'First Name' %>
            <%= f.text_field :pay_lastname, label: 'Last Name', placeholder: 'Last Name' %>
            <%= f.text_field :pay_company, placeholder: 'Company Name (Optional)', label: 'Company' %>
            <%= f.text_field :pay_telephone, label: 'Telephone Number', placeholder: 'Telephone Number'   %>
            <%= f.text_field :pay_street_address, placeholder: 'Street Address', label: 'Street Address' %>
            <%= f.text_field :pay_city, placeholder: 'City', label: 'City' %>
            <%= f.text_field :pay_zipcode, placeholder: 'Zipcode', label: 'Zip Code' %>
            <%= f.select :pay_country, ::COUNTRIES, prompt: 'Select Country', label: 'Country' %>
            <%= f.select :pay_state, ::REGIONS, prompt: 'Select State/Province', label: 'State/Province' %>
          </div>
        </div>
      </div>
    </div>
    <%= f.hidden_field :email, value: current_user.email %>
    <%= f.hidden_field :status, value: "Submitted" %>
    <%= f.hidden_field :pay_status, value: "Pending" %>
    <%= f.hidden_field :subtotal, readonly: true %>
    <%= f.hidden_field :shipping, readonly: true %>
    <%= f.hidden_field :sales_tax, readonly: true %>
    <%= f.hidden_field :total, readonly: true %>
    <%= f.hidden_field :amount, readonly: true, value: @quote.amount %>
    <%= f.hidden_field :quote_id, readonly: true, value: @quote.id %>
    <%= f.hidden_field :tax_id, readonly: true %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <table class="table table-bordered table-striped">
          <tr>
            <th colspan="2">Order Totals:</th>
          </tr>
          <tr>
            <td>Subtotal:</td>
            <td><%= number_to_currency(f.object.subtotal, :precision => 2) %></td>
          </tr>
          <tr>
            <td>Sales Tax:</td>
            <td><%= number_to_currency(f.object.sales_tax, :precision => 2) %></td>
          </tr>
          <tr>
            <td>Shipping:</td>
            <td><%= number_to_currency(f.object.shipping, :precision => 2) %></td>
          </tr>
          <tr>
            <td><strong>Total:</strong></td>
            <td><strong><%= number_to_currency(f.object.total, :precision => 2) %></strong></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="display: inline;">Step 3: Payment Card Details</h3>
          </div>
          <div class="panel-body">
            <%= f.select :pay_type, Purchase::PAYMENT_TYPES, {}, { label: 'Payment Type' } %>
            <%=  f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
            <%=  f.text_field :card_number %>
            <%=  f.text_field :card_verification, label: 'Card Verification Value (CVV)' %>
            <%= f.date_select :card_expires_on, discard_day: true, :add_month_numbers => true, start_year: Date.today.year, end_year: (Date.today.year+10), prompt: { month: 'Select month', year: 'Select year' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <%= f.submit  'Place Order Now', :class => "btn btn-success btn-block"  %>
      </div>
    </div>
  </div>
<% end %>