<%= bootstrap_form_for(@purchase, style: :horizontal, left: "col-sm-5 col-md-4", right: "col-sm-7 col-md-8") do |f| %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-12">      
        User Details
        <%= f.text_field :user, size: 40, value: current_user.id, readonly: true %> 
        <%= f.select(:contactby, options_for_select(['Email', 'Telephone']), { prompt: 'Choose your Contact Preference '} , { label: 'Contact By' }) %>
      </div>

      <div class="col-md-6">
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shipping Details</h3>
          </div>
          <div class="panel-body">
            <%= f.text_field :firstname, label: 'First Name' %>
            <%= f.text_field :lastname, label: 'Last Name' %>
            <%= f.text_field :company, placeholder: 'Company Name (Optional)' %>
            <%= f.text_field :telephone, label: 'Telephone Number', placeholder: 'Telephone Number'   %>
            <%= f.text_field :ship_street_address, label: 'Street Address', placeholder: 'Street Address' %>
            <%= f.text_field :ship_city, label: 'City', placeholder: 'City' %>
            <%= f.text_field :ship_zipcode, label: 'Zip Code', placeholder: 'Zip Code' %>
            <%= f.select :ship_state, Order::STATES, { prompt: 'Select State'}, { label: 'State' } %>
            <%= f.select :ship_country, options_for_select(['United States']), {}, { label: 'Country'} %>    
          </div>
        </div>
      </div>     




      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Payment Details</h3> 
            <%= check_box_tag(:checkbox_use_same_address, value = "1", checked = false, {class: 'use_same_address', id: 'make_same_address' }) %>
          </div>
          <div class="panel-body">
            
            <%= f.text_field :pay_firstname, label: 'First Name', placeholder: 'First Name' %>
            <%= f.text_field :pay_lastname, label: 'Last Name', placeholder: 'Last Name' %>
            <%= f.text_field :pay_company, placeholder: 'Company Name (Optional)', placeholder: 'Copmany (Optional)' %>
            <%= f.text_field :pay_telephone, label: 'Telephone Number', placeholder: 'Telephone Number'   %>
            <%= f.text_field :pay_street_address, placeholder: 'Street Address' %>
            <%= f.text_field :pay_city, placeholder: 'City' %>
            <%= f.text_field :pay_zipcode, placeholder: 'Zipcode' %>
            <%= f.select :pay_state, Order::STATES, { prompt: 'Select State'}, { label: 'State' } %>
            <%= f.select :pay_country, options_for_select(['United States']), {}, { label: 'Country'} %>
          </div>
        </div>
      </div>     
    </div>     

    <%= f.hidden_field :status, value: "Submitted" %>
    <%= f.hidden_field :pay_status, value: "Unpaid" %>

    <%= f.number_field :subtotal, readonly: true %>
    <%= f.number_field :shipping, readonly: true %>
    <%= f.number_field :sales_tax, readonly: true %>
    <%= f.number_field :total, readonly: true %>
    <%= f.select :pay_type, Purchase::PAYMENT_TYPES, { prompt: 'Select Payment Type'}, { label: 'Payment Type' } %>
        

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
