<h1>Listing email_messages</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Intended Audience</th>
      <th>Content</th>
      <th>Mandril tags</th>
      <th>Template</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @email_messages.each do |email_message| %>
      <tr>
        <td><%= email_message.subject %></td>
        <td><%= email_message.headers %></td>
        <td><%= email_message.content %></td>
        <td><%= email_message.mandril_tags %></td>
        <td><%= email_message.template %></td>
        <td><%= link_to 'Show', email_message %></td>
        <td><%= link_to 'Edit', edit_email_message_path(email_message) %></td>
        <td><%= link_to 'Destroy', email_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email message', new_email_message_path %>
