<%= form_for([:admin, @create_inhouse_group]) do |f| %>
  <% if @create_inhouse_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create_inhouse_group.errors.count, "error") %> prohibited this create_inhouse_group from being saved:</h2>

      <ul>
      <% @create_inhouse_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :email_message_id %><br>
    <%= f.text_field :email_message_id %>
    </div>
  <div class="field">
      <%= f.label :last_sent_on %><br>
    <%= f.date_select :last_sent_on %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
