<h1>Listing create_inhouse_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email message</th>
      <th>Last sent on</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @create_inhouse_groups.each do |create_inhouse_group| %>
      <tr>
        <td><%= create_inhouse_group.name %></td>
        <td><%= create_inhouse_group.email_message %></td>
        <td><%= create_inhouse_group.last_sent_on %></td>
        <td><%= link_to 'Show', [:admin, create_inhouse_group] %></td>
        <td><%= link_to 'Edit', edit_admin_create_inhouse_group_path(create_inhouse_group) %></td>
        <td><%= link_to 'Destroy', [:admin, create_inhouse_group], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Create inhouse group', new_admin_create_inhouse_group_path %>
