<%= bootstrap_form_for(@order, style: :horizontal, left: "col-sm-2 col-md-2", right: "col-sm-6 col-md-4") do |f| %>

 <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :email, size: 40, value: current_user.email, readonly: true %>  
    <%= f.text_field :firstname, label: 'First Name', size: 35 %>
    <%= f.text_field :lastname, label: 'Last Name', size: 35 %>
    <%= f.text_field :company, size: 50 %>
    <%= f.text_field :street_address, label: 'Street Address', size: 50 %>
    <%= f.text_field :city, size: 30 %>
    <%= f.text_field :zipcode, label: 'Zip Code', size: 10 %>
    <%= f.select :state, Order::STATES, prompt: 'Select State' %>
    <%= f.select(:country, options_for_select(['United States'] )) %>
    <%= f.text_field :telephone, label: 'Telephone Number' %>
    <%= f.hidden_field :status, value: "Submitted"  %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
  
  <div class="form-actions">
    <%= f.form_group do %>
      <%= f.submit 'Submit Order Now', :class => "btn btn-success"  %>
    <% end %>
  </div>
<% end %>
