<% if @order.new_record? %>


  <%= bootstrap_form_for(@order, style: :horizontal, left: "col-sm-3 col-md-3", right: "col-sm-7 col-md-5") do |f| %>

   <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.text_field :email, size: 40, value: current_user.email, readonly: true %>  
      <%= f.text_field :firstname, label: 'First Name', size: 35 %>
      <%= f.text_field :lastname, label: 'Last Name', size: 35 %>
      <%= f.text_field :company, size: 50 %>
      <%= f.text_field :street_address, label: 'Street Address', size: 50 %>
      <%= f.text_field :city, size: 30 %>
      <%= f.text_field :zipcode, label: 'Zip Code', size: 10 %>
      <%= f.select(:country, options_for_select(['United States', 'Canada'] ), prompt: 'Select Country') %>

      <% grouped_options = ::REGIONS %>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label" for="order_state">State/Province</label>
        <div class="col-sm-7 col-md-5">
          <select class="form-control" id="order_state" name="order[state]">
          <option value="">Please Choose</option>
          <%= grouped_options_for_select(grouped_options) %>
          </select>
        </div>
      </div>

      <%= f.text_field :telephone, label: 'Telephone Number' %>
      <%= f.hidden_field :status, value: "Submitted"  %>
      <%= f.hidden_field :user_id, value: current_user.id  %>
    
    <div class="form-actions">
      <%= f.form_group do %>
        <%= f.submit 'Submit Order Now', :class => "btn btn-success"  %>
      <% end %>
    </div>
  <% end %>

<% else %>

  <%= bootstrap_form_for(@order, style: :horizontal, left: "col-xs-12 col-md-3", right: "col-xs-12 col-md-8") do |f| %>


  <div class="larger top10">
  </div>

  <% if @order.question %>
    <p>Please review the questions/comments in the box below in regards to your order. If you'd like to reply, just add your message to the box and click the "Update or Edit Comments" button.</p>
  <% else %>
    <p>There have not been questions attached to this order yet.</p> 
  <% end %>


  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <% if @order.question %>
  <div class="form-inputs top20">,
    <%= f.text_area :question, label: 'Question or Comments', rows: 8,  value: @order.question.html_safe %> 
  </div>
  <% end %>  

  <div class="form-actions">
    <%= f.form_group do %>
      <% if @order.question %>
        <%= f.submit 'Update or Edit Comments',  class: "btn btn-success btn-large"  %>
        <%= link_to 'Cancel Reply', order_path(@order), class: "btn btn-danger btn-large" %>
      <% else %>
        <%= link_to 'Go Back', order_path(@order), class: "btn btn-danger btn-large" %>
      <% end %>
    <% end %>
  </div>

 <% end %>


<% end %>