<h1>All Styles</h1>

<% @styles.in_groups_of(4, false).each do |group| %>  

  <div class="entry">
    <div class="row-fluid">

      <% group.each do |style| %>

        <%= link_to(style) do %>
        <div class="span3">
          <div class="well">
            <%= image_tag(style.image_url) %>
            <h4><%= style.name %></h4>
            <%= sanitize(style.description) %>
          </div>
        </div>
        <% end %>
        
      <% end %>

    </div>
  </div>

<% end %>










<table>
  <thead>
    <tr>
      <th>StyleID</th>
      <th>Product</th>
      <th>Title</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Sort Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= style.id %></td>
        <td><%= style.product_id %></td>
        <td><%= style.title %></td>
        <td><%= style.name %></td>
        <td><%= style.description %></td>
        <td><%= style.image_url %></td>
        <td><%= style.sort %></td>
        <td><%= link_to 'Show', style %></td>
        <td><%= link_to 'Edit', edit_style_path(style) %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path %>
