<h1><%= @style.name %> - <%= @style.title %></h1>

<div class="row">
    <div class="col-sm-12">

      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <% if (params[:id] == '1') %>
            <%= image_tag("sliders/classic-9828-lasagna_vinyl-table-cover_slider.jpg", alt: "sliderimg", :title => "#classiccaption" ) %>
          <% elsif (params[:id] == '2') %>
            <%= 
            # image_tag("sliders/premium-6125-black-mocha_vinyl-table-cover_slider.jpg", alt: "sliderimg", :title => "#premiumcaption", :data => { :thumb => 'sliders/premium-6125-black-mocha_vinyl-table-cover_slider.jpg' } ) 
            %> 
            <%= image_tag("sliders/premium-6125-black-mocha_vinyl-table-cover_slider.jpg", alt: "sliderimg", :title => "#premiumcaption" ) %> 
 

          <% elsif (params[:id] == '3') %>
            <%= image_tag("sliders/designer-2013-white-laminated-table-cover-slider.jpg", alt: "sliderimg", :title => "#designercaption", :data => { :thumb => 'sliders/designer-2013-white-laminated-table-cover-slider.jpg' } ) %>  
          <% elsif (params[:id] == '7') %>
            <%= image_tag("sliders/vinyl-upholstry_6124-cherokee_slider.jpg", alt: "sliderimg", :title => "#upholsterycaption", :data => { :thumb => 'slider-vinyl-upholstery.png' } ) %> 
          <% elsif (params[:id] == '8') %>
            <%= image_tag("umbrella-drape-1170.png", alt: "sliderimg", :title => "#upholsterycaption" ) %> 
          <% end %>


      

        </div>
        <div id="classiccaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Vinyl Tablecloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>

         <div id="premiumcaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Premium Vinyl Tablecloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>

         <div id="designercaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Laminated Tablecloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>

         <div id="upholsterycaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Vinyl Upholstery Fabric</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>

      </div>
    </div>
  </div>  
  
  <div class="row" id="styleinfobox"> 
    
    <% if (params[:id] == '1') %>
    <!-- Turn this into partials, one for each main category -->
    <div class="col-sm-8">
      <div class="stylename"><%= @style.name %> — <%= @style.series.count %> patterns and <%= @style.colors.count %> colors</div>
      <div class="styletype weighty">CLASSIC VINYL</div>
      <div class="stylesub">Table Covers Or Roll Goods</div>
      <div class="styletext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</div>
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">9800 series vinyls are 10-mil printed Pvc film laminated to a 4 oz. per square yard non-woven polyester.<br />
      <a href="#" class="addgray underline">Additional specs.</a></p>

      <p class="addgreen"><b>OTHER TEXT CAN GO HERE</b><br>
      Other text can go here</p>
    </div>
    <!-- Turn this into a partial, one for each main category -->
    <% elsif (params[:id] == '2') %>
    <!-- Turn this into partials, one for each main category -->
    <div class="col-sm-8">
      <div class="stylename"><%= @style.name %> — <%= @style.series.count %> patterns and <%= @style.colors.count %> colors</div>
      <div class="styletype weighty">PREMIUM VINYL</div>
      <div class="stylesub">Table Covers Or Roll Goods</div>
      <div class="styletext">When your situation requires fabrics with greater resiliency, we have the solution. Our Premium vinyl collection offers fabrics that are 30 percent heavier than our classic vinyls. So they last longer, even in the most demanding environments. In addition, many of our premium vinyls are also a part of our upholstery Distinctions Collection.</div>
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">6100 series vinyls are 13-mil printed Pvc film laminated to a 4 oz. per square yard non-woven, with a 30-mil upholsterygrade foam.<br />
      <a href="#" class="addgray underline">Additional specs.</a></p>

      <p class="addgreen"><b>STYLES 6111—6126</b><br>
      are part of our Distinctions Collections and are suitable for upholstery.</p>
       
      <p><a href="/styles/5">View Upholstery <span class="glyphicon glyphicon-play"></a></p>
    </div>
    <!-- Turn this into a partial, one for each main category -->
    <% elsif (params[:id] == '3') %>
    <!-- Turn this into partials, one for each main category -->
    <div class="col-sm-8">
      <div class="stylename"><%= @style.name %> — <%= @style.series.count %> designs and <%= @style.colors.count %> colors</div>
      <div class="styletype weighty">DESIGNER LAMINATES</div>
      <div class="styletype weighty">Table Covers or Roll Goods</div>
      <div class="stylesub">Laminated Fabrics Make Tables Shine</div>
      <div class="styletext top10">Americo’s Designer Laminates come in 7 wonderful patterns, each in a variety of colors. Like vinyls, laminated fabrics are low maintenance – just wipe clean. and, of course, all laminate table linens are made to order so they fit tables perfectly, including those that require umbrella holes, elastic, or velcro for booth ends. Laminates can also be used for upholstery fabic.</div>
      <div class="styletext top10"><strong>For your convenience, laminates are also available by the roll. Each 54”-wide roll holds 25 yards of fabric.</strong></div>
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">1200 and 2000 series decorative printed fabrics are laminated with a 6-mil matte finish on 100% cotton fabric.<br />
      <a href="#" class="addgray underline">Additional specs.</a></p>

      <p><a href="/categories/3">Laminate your own fabric <span class="glyphicon glyphicon-play"></span></a></p>

      <p><a href="/categories/3">We Can<br>CUSTOM<br>LAMINATE<br>your fabric, too. </a></p>

    </div>
    <!-- Turn this into a partial, one for each main category -->
    <% elsif (params[:id] == '7') %>
    <!-- Turn this into partials, one for each main category -->
    <div class="col-sm-8">
      <div class="stylename"><%= @style.name %> — <%= @style.series.count %> patterns and <%= @style.colors.count %> colors</div>
      <div class="styletype weighty">DISTINCTIONS Upholstery Vinyl Fabric</div>
      <div class="stylesub">Practical and Gorgeous Upholstery Vinyls</div>
      <div class="styletext top10">Looking for exciting new design options for your upholstery projects? Let Americo inspire you with our Distinctions Collection. This exclusive line of premium upholstery vinyl features 16 unique patterns in 149 color choices.</div>
      <div class="styletext top10">Custom cuts available! Minimum order is just 5 yards. Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</div>
      
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">Distinctions vinyls are13-mil printed PVC film laminated to a 4 oz. per square yard non-woven polyester with a 30-mil upholstery grade foam.<br />
      <a href="#" class="addgray underline">Additional specs.</a></p>

      <p class="addbrown top25"><b>EASY MAINTENANCE.</b><br>
      No fabric is easier to clean. Most spills are easily removed with soap and water.</p>
    </div>
    <!-- Turn this into a partial, one for each main category -->
    <% elsif (params[:id] == '8') %>
    <!-- Turn this into partials, one for each main category -->
    <div class="col-sm-8">
      <div class="stylename"><%= @style.name %> — <%= @style.series.count %> patterns and <%= @style.colors.count %> colors</div>
      <div class="styletype weighty">VALUE VINYLS</div>
      <div class="stylesub">Table Covers Or Roll Goods</div>
      <div class="styletext">Value vinyl lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</div>
    </div>
    <div class="col-sm-4" id="home-made-usa">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">7000 series vinyls are 6-mil printed Pvc film laminated to a 2.5 oz. per square yard non-woven polyester.<br />
      <a href="#" class="addgray underline">Additional specs.</a></p>

      <p class="addgreen"><b>OTHER TEXT</b><br>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
       
    </div>
    <!-- Turn this into a partial, one for each main category -->
    
    <% end %>

  </div>  

  <div class="row">    
  </div>

  <div class="entry">
   
    <div class="row">
      <div class="col-xs-9 col-sm-10">   
   

        <div class="row">
        <% @style.series.each do |swatch| %>
          <div class="col-xs-6 col-sm-3">   
              <%= link_to(swatch, :class => "no-under") do %>
                <%= image_tag(swatch.image_url, :class => "img-responsive imgbottompad" ) %>
                 <p class="text-center addblack"><strong>STYLE <%= swatch.name %></strong><br><small><%= pluralize swatch.colors.count, 'Color' %>  Available</small></p>
                 <% end %> 
          </div>
        <% end %>
        </div>

      </div>
      <div class="col-xs-3 col-sm-2">   
        <div><%= image_tag("swatch-image.jpg", alt:"Free Swatches") %></div>
        <div><%= image_tag("free-catalog.jpg", alt:"Free Catalog") %></div>
        <div></div>
      </div>
        

    </div>
  
  </div>

<p>
  <strong>Product:</strong>
  <%= @style.product_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @style.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @style.image_url %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
