 <div class="row">
    <div class="col-sm-12">

      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') ) %>
            <% provide(:title, 'Vinyl Table Covers, Upholstery and Laminated Fabric | Americo Inc.') %>
            <% provide(:description, 'Americo\'s easy-care, vinyl table covers and placemats give you more design options for your dining venue. All Classic covers are custom made in 2-3 weeks.') %>
            <%= image_tag("sliders/classic-9828-lasagna_vinyl-table-cover_slider.jpg", alt: "sliderimg", :title => "#classiccaption" ) %>
          <% elsif ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') ) %>
            <% provide(:title, 'Premium Vinyl Table Covers, Upholstery and Laminated Fabric | Americo Inc.') %>
            <% provide(:description, 'Americo\'s high-resiliency, Premium vinyl table covers and placemats and are ideal for busy dining venues. All Premium covers are custom made in 2-3 weeks.') %>
            <%= image_tag("sliders/premium-6125-black-mocha_vinyl-table-cover_slider.jpg", alt: "sliderimg", :title => "#premiumcaption" ) %> 
          <% elsif ( (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>
            <% provide(:title, 'Designer Vinyl Table Covers, Upholstery and Laminated Fabric | Americo Inc.') %>
            <% provide(:description, 'Americo\'s laminated Designer table covers offer decorator appeal at reasonable prices. Transform any venue with easy-care covers—custom made in 2-3 weeks.') %>
            <%= image_tag("sliders/designer-2013-white-laminated-table-cover-slider.jpg", alt: "sliderimg", :title => "#designercaption", :data => { :thumb => 'sliders/designer-2013-white-laminated-table-cover-slider.jpg' } ) %>  
          <% elsif ( (params[:id] == '7') || (params[:id] == 'vinyl-upholstery-fabric') ) %>   
            <% provide(:title, 'Vinyl Table Covers, Upholstery and Laminated Fabric | Americo Inc.') %>
            <% provide(:description, 'Americo\'s easy-care, vinyl upholstery fabrics offer colors and patterns for every decor.  Transform chairs, booths, stools, and other furnishing with  fabric that really lasts.') %>
            <%= image_tag("vinyl-upholstry_1621-g_opt.jpeg", alt: "sliderimg", :title => "#upholsterycaption", :data => { :thumb => 'vinyl-upholstry_1621-g_opt.jpeg' } ) %> 
          <% elsif ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>   
            <% provide(:title, 'Value Vinyl Table Covers, Upholstery and Laminated Fabric | Americo Inc.') %>
            <% provide(:description, 'Americo\'s easy-care vinyl table covers are an affordable option to renting or buying tablecloths for your venue or special events. Vinyl Table Covers come in many size and colors.') %>
              <%= image_tag("sliders/value-7104-vinyl-table-cover-slider.jpg", alt: "Value Vinyl Table Covers", :title => "#valuecaption", :data => { :thumb => 'sliders/value-7104-vinyl-table-cover-slider.jpg' } ) %>
          <% end %>
        </div>
        <div id="classiccaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
          </div>
          <div class="nivo-1a">
             <strong>Classic vinyl table</strong> covers are ideal for restaurants, cafeterias, healthcare facilities,  convention centers, hotels and more.
          </div>
        </div>

         <div id="premiumcaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong></strong> 
          </div>
          <div class="nivo-1a">
             <strong>Premium vinyl table covers</strong> last and last, even in high-traffic restaurants, cafeterias, healthcare facilities and hotels.
          </div>
        </div>

         <div id="designercaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong></strong> 
          </div>
          <div class="nivo-1a">
             <strong>Laminated Designer</strong> table covers are right at home in casual or upscale restaurants, cafeterias, healthcare facilities and hotels.
          </div>
        </div>

         <div id="upholsterycaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong></strong> 
          </div>
          <div class="nivo-1a">
             <strong>The Distinctions Collection</strong> of vinyl upholstery fabric is an Americo exclusive. Discover wonderful designs, textures and leather-like finishes.
           </div>
        </div>

        <div id="valuecaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong></strong> 
          </div>
          <div class="nivo-1a">
             <strong>Value vinyl table covers</strong> are affordable for special events or when you just want a fresh, new look for your dining venue.
          </div>
        </div>

      </div>
    </div>
  </div>  
  
  <div class="row" id="styleinfobox"> 
    
    <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') ) %>
    <div class="col-sm-9 border-right">
      <div class="styletype weighty addgold">Classic Vinyls Only Look Expensive</div>
      <div class="stylesub bottom20">Custom Table Covers and Accessories without Custom Pricing</div>
      <div class="styletext">
        <p>Americo's Classic vinyl table covers series are a great alternative to buying or renting woven table linens. You get a designer look, but without the upkeep—vinyl wipes clean with soapy water. Bye-bye laundry bills!</p>
        <p><strong>No minimums.</strong> Our Classic (9800 series) Vinyl table covers are available in 29 designs and are custom sewn to your exact specifications. Order as many or as few as you like. (See <a href="/how_to_measure">Measuring Instructions</a> for details.)</p>
        <p><strong>Available by the piece or the roll.</strong> We sell custom cuts of 5 yards or more. Or you can order a 25-yard roll. (Fabric is 54” wide). Most roll goods are in stock and ship within 1 business day.</p>
      </div>
    </div>
    <div class="col-sm-3" id="techspecs">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">9800 series vinyls are 10-mil printed Pvc film laminated to a 4 oz. per square yard non-woven polyester.<br />
      <a href="/technical_specs" class="addgray underline top10">Additional specs.</a></p>

      <p class="addgreen larger bold top25">Also Available as Placemats, Table Runners and Overlays</p>
    </div>   

    <% elsif ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') ) %>
    <div class="col-sm-9 border-right">
      <div class="styletype weighty addgreen">Striking Premium Vinyls Offer Maximum Durability</div>
      <div class="stylesub bottom20">Custom Table Covers and Accessories are Budget Friendly</div>
      <div class="styletext">
        <p>Americo's Premium vinyl table covers are 30% heavier than our Classic series for longer lasting beauty. Enjoy decorator style along with easy maintenance and lower replacement costs over time. What's not to love?</p>
        <p><strong>No minimums. </strong> Vinyl table covers are available in 26 designs that are custom sewn to your exact specifications. Order as many or as few as you like. (See <a href="/how_to_measure">Measuring Instructions</a> for details.)</p>

        <p><strong>Available by the piece or the roll.</strong> We sell custom cuts of 5 yards or more, as well as 25-yard rolls. Fabric is 54” wide and some styles are suitable for upholstery. Most roll goods are in stock and ship within 1 business day.</p>
      </div>
    </div>
    <div class="col-sm-3" id="techspecs">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">6100 Series Classic Vinyls are 13-mil printed PVC film laminated to a 4 oz. per square yard non-woven, with a 30-mil upholstery grade foam.<br />
      <a href="/technical_specs" class="addgray underline top10">Additional specs.</a></p>

      <p class="addpurple larger bold top25">Also Available as Placemats, Table Runners and Overlays</p>
    </div>

    <% elsif ( (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>

     <div class="col-sm-9 border-right">
      <div class="styletype weighty addpurple">Designer Laminates Expand Decorating Options</div>
      <div class="stylesub bottom20">Custom Table Covers are Just the Beginning</div>
      <div class="styletext">
        <p>Americo’s laminated Designer table covers make woven fabrics a snap to maintain. No laundering necessary. Plus, laminates are suitable for upholstery projects. Don’t see a design you like? No problem. We also can laminate your decorator fabric with our exclusive <a href="/categories/3">Americlear</a> process.</p>
        <p><strong>No minimums. </strong> Vinyl table covers are available in 6 designs that are custom sewn to your exact specifications. Order as many or as few as you like. (See <a href="/how_to_measure">Measuring Instructions</a> for details.)</p>
        <p><strong>Available by the piece or the roll.</strong> We sell custom cuts of 5 yards or more, as well as 25-yard rolls. Fabric is 54” wide and some styles are suitable for upholstery. Most roll goods are in stock and ship within 1 business day.</p>
      </div>
    </div>
    <div class="col-sm-3" id="techspecs">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">1200 and 2000 Series Designer Fabrics are laminated on the front side using 6-mil, clear PVC film with a matte finish.<br />
      <a href="/technical_specs" class="addgray underline top10">Additional specs.</a></p>

      <p class="addgreen larger bold top40">Also Suitable for Upholstery Projects!</p>

    </div>
    <% elsif ( (params[:id] == '7') || (params[:id] == 'vinyl-upholstery-fabric') ) %>   
    <div class="col-sm-9 border-right">
      <div class="styletype weighty addorange">Vinyl Upholstery Fabric is Practical and Beautiful</div>
      <div class="stylesub bottom20">Your Projects Will Look Great for Years!</div>
      <div class="styletext">
        <p>Americo's premium upholstery vinyls are ideal for commercial upholstery applications—chairs, booths, barstools, cushions, sofas and more. Top designers, contractors and architects trust Americo because our upholstery fabrics are stylish, versatile, low-maintenance and highly abrasion resistant.</p>
        <p><strong>Low minimums. </strong> Upholstery vinyls are available in custom cuts, starting at just 5 yards. Or you can order by the 25-yard roll. (Fabric is 54” wide). Most roll goods are in stock and ship within 1 business day.</p>
      </div>
    </div>
    <div class="col-sm-3" id="techspecs">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">Distinctions vinyls are 13-mil printed PVC film laminated to a 4 oz. per square yard non-woven polyester with a 30-mil upholstery grade foam.<br />
      <a href="/technical_specs" class="addgray underline top10">Additional specs.</a></p>
      <p class="addbrown top25"><b>EASY-CARE FABRIC</b><br>
      <b>Most spills are easily removed with soap and water.</b></p>
    </div>

    <% elsif ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>   
      
     <!--<div class="styletype weighty">Coming Fall 2014</div>
     <div class="styletype weighty">VALUE VINYLS</div>-->
    

     <div class="col-sm-9 border-right">
      <div class="styletype weighty addmaroon">Value Vinyl Table Covers Make Decor Changes Easy</div>
      <div class="stylesub bottom20">Ready-Made Table Covers Combine Quality and Great Pricing!</div>
      <div class="styletext">
        <p>Americo's Value line of vinyl table covers is a budget-friendly alternative to buying or renting table linens for special events.  Or if you like change your decor with the season, these coevers can make yor vision a reality without spending a bundle.</p>
        <p><strong>Low minimums. </strong> Our Value (7100 Series) Vinyl table covers are available in 7 popular sizes. Low minimum requirements range from 3 to 6 covers per color, depending on the size.</p>

        <p><strong>Available by the roll, too.</strong> We sell 25-yard rolls of the Value Vinyl series, which are 54" wide. Most roll goods are in stock and ship within 1 business day.</p>
      </div>
    </div>
    <div class="col-sm-3" id="techspecs">
      <div class="stylename  weighty">TECHNICAL SPECS</div>

      <p class="addgray">7000 series vinyls are 6-mil printed PVC film laminated to a 2.5 oz. per square yard non-woven polyester fabric.<br />
      <a href="/technical_specs" class="addgray underline top10">Additional specs.</a></p>

      <p class="addarmy larger bold top25">Don't Forget to order the Non-Sip Pads</p>
    </div>

<!--
    <div class="col-sm-8">
     
      <div class="styletype weighty">Coming Fall 2014</div>
      <div class="styletype weighty">VALUE VINYLS</div>
      <!--<div class="stylesub">Table Covers Or Roll Goods</div>
      <div class="styletext">Value Vinyl table covers are available in 8 ready-made sizes and shapes. </div>-->
 <!--   </div>

    <div class="col-sm-4" id="home-made-usa">
      <!--
      <div class="stylename  weighty">TECHNICAL SPECS</div>
      <p class="addgray">7000 series vinyls are 6-mil printed Pvc film laminated to a 2.5 oz. per square yard non-woven polyester.<br />
      <a href="/technical_specs" class="addgray underline">Additional specs.</a></p>
      <p class="addgreen"><b>OTHER TEXT</b><br>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
    </div>
-->
    <% end %>

  </div>

  <div class="row">    
    <div class="col-xs-12 col-sm-7"> 
      <div class="style-head">
        <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') ) %>
        <div class="addgold">
        <% elsif ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') ) %>
        <div class="addgreen">
         <% elsif ( (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>
        <div class="addpurple">
        <% elsif ( (params[:id] == '7') || (params[:id] == 'vinyl-upholstery-fabric') ) %>
        <div class="addorange">
        <% elsif ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>
        <div class="addmaroon">
        <% end %>
        <% unless ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %> 
          <%= @style.name %> | <%= @style.series.count %> designs | <%= @style.colors.count %> colors
        <% end %>
        </div>
      </div>
      <div class="stylename weighty addblack bold">
        <% unless ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %> 
          <%= @style.title %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 hidden-xs"> 
      <div class="choices top25">
      <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') ) %>
        <div class="addgold">
      <% elsif ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') ) %>
        <div class="addgreen">
      <% elsif ( (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>
        <div class="addpurple">
      <% elsif ( (params[:id] == '7') || (params[:id] == 'vinyl-upholstery-fabric') ) %>
        <div class="addorange">
      <% elsif ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>
        <div class="addmaroon">
      <% end %>
      <% unless ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %> 
          Click on a style to see all your color choices.
      <% end %>    
        </div>
      </div>  
    </div>
  </div>

  <% unless ( (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %> 
  <div class="entry">
    <div class="row top10">
      <div class="col-xs-12 col-sm-10">   
        <div class="row">
          <% @style.series.order("name").each do |swatch| %>
          <div class="col-xs-6 col-sm-3">   
              <%= link_to(swatch, :class => "no-under") do %>
                <%= image_tag(swatch.image_url, :class => "img-responsive" ) %>
                 <div class="addblack"><strong>STYLE <%= swatch.name %></strong></div>
                 <div class="addblack bottom20 up5"><small><%= pluralize swatch.colors.count, 'Color' %>  Available</small></div>
              <% end %> 
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">  
        <% if ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') ) %>
        <div class="top40">
           <%= link_to('/styles/vinyl-upholstery-fabric', :class => "no-under onesix addorange") do %>
            <strong>Some Styles are Suitable For Upholstery</strong>
          <% end %>
        </div>
        <% elsif ( (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>
        <div class="top10 text-center">
           <%= link_to('/categories/laminated-fabric', :class => "no-under onesix addpurple") do %>
            <strong>Custom<br>Lamination<br><span class="smaller">With Americlear<br>Also Available</span></strong>
          <% end %>
        </div>
        <% end %>

        <div class="hidden-xs">
          <%= link_to('/free_swatches', :class => "no-under") do %>
            <%= image_tag("swatch-image.jpg", :class => "top40", alt:"Free Swatches") %>
          <% end %>
        </div>
        <div class="hidden-xs">
           <%= link_to('/request_catalog', :class => "no-under") do %>
            <%= image_tag("free-catalog.jpg", :class => "top40", alt:"Free Catalog") %>
          <% end %>
        </div> 

        <% if (params[:id] == 1..3) || (params[:id] == 'classic-vinyl-9800') || (params[:id] == 'premium-vinyl-6100') || (params[:id] == 'designer-laminate-1200-2000') %>

        <div class="top40 hidden-xs">
           <%= link_to('/categories/non-slip-padding', :class => "no-under onesix addarmy") do %>
            <strong>Don't Forget</strong><br>to order the<br>Non-Slip Pads
          <% end %>
        </div>
        <% elsif ( (params[:id] == '7') || (params[:id] == 'vinyl-upholstery-fabric') ) %>
        <div class="top40 ">
           <%= link_to('/styles/laminated-fabric', :class => "no-under onesix addornage") do %>
            <span class="addorange"><strong>Americo laminated fabrics are also suitable for upholstery.</strong></span>
            <div><a class="blacklink" href="/styles/designer-laminate-1200-2000">View laminates <span class="glyphicon glyphicon-play"></span></a></div>

          <% end %>
        </div>
        
        <% end %>

      </div>
    </div>
  </div>
  <% end %>    
  <hr />

  <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') || 
          (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') || 
          (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') || 
          (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>

  <div class="row top10">
    <div class="col-xs-12">   
      <p class="larger bold">Also see our other collections available:</h4>
    </div>
  </div>
        
  <div class="row">
    
        <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') || 
                (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') || 
                (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') ) %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 top10">   
          <div class="style-link">
            
            <div style="border: solid 1px #ccc">
              <%= link_to('/styles/value-vinyl-7100', :class => "no-under") do %>
                <div class="stylebox">
                <div class="style-title addmaroon top10" style="letter-spacing:-0.6px;font-size:1.3em;">VALUE COLLECTION</div>
                              
                  <%= image_tag("coming-soon.jpg", :class => "img-responsive", :style => "padding:10px;", alt: "Value Vinyls" ) %>

                <div class="style-series">SERIES 7100</div>
                <div class="style-design">5 Designs | 25 Colors</div>
                <a class="btn btn-primary btn-sm bottom10" role="button" href="/styles/value-vinyl-7100">View Designs &amp; Patterns</a>
                </div>
              <% end %>
            </div>

          </div>
        </div>

        <% end %>

        <% if ( (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') || 
                (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') || 
                (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 top10">   
          <div class="style-link">
            
            <div style="border: solid 1px #ccc">
              <%= link_to('/styles/classic-vinyl-9800', :class => "no-under") do %>
                <div class="stylebox">
                <div class="style-title addgold top10" style="letter-spacing:-0.6px;font-size:1.3em;">CLASSIC COLLECTION</div>
                              
                  <%= image_tag("9828-lasagna_vinyl-table-cover.jpg", :class => "img-responsive", :style => "padding:10px;", alt: "Value Vinyls" ) %>
                <div class="style-series">SERIES 9800</div>
                <div class="style-design">29 Designs | 152 Colors</div>
                <a class="btn btn-primary btn-sm bottom10" role="button" href="/styles/classic-vinyl-9800">View Designs &amp; Patterns</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <% end %>

        <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') || 
                (params[:id] == '3') || (params[:id] == 'designer-laminate-1200-2000') || 
                (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 top10">   
          <div class="style-link">
            <div style="border: solid 1px #ccc">
              <%= link_to('/styles/premium-vinyl-6100', :class => "no-under") do %>
                <div class="stylebox">
                <div class="style-title addarmy top10" style="letter-spacing:-0.6px;font-size:1.3em;">PREMIUM COLLECTION</div>
                              
                  <%= image_tag("6125_black-mocha_vinyl-table-cover.jpg", :class => "img-responsive", :style => "padding:10px;", alt: "Premium Vinyls" ) %>
                
                <div class="style-series">SERIES 6100</div>
                <div class="style-design">29 Designs | 152 Colors</div>
                <a class="btn btn-primary btn-sm bottom10" role="button" href="/styles/premium-vinyl-6100">View Designs &amp; Patterns</a>
                </div>
              <% end %>
            </div>

          </div>
        </div>
        <% end %>
       
        <% if ( (params[:id] == '1') || (params[:id] == 'classic-vinyl-9800') || 
                (params[:id] == '2') || (params[:id] == 'premium-vinyl-6100') || 
                (params[:id] == '8') || (params[:id] == 'value-vinyl-7100') ) %>
         <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 top10">   
          <div class="style-link">
            <div style="border: solid 1px #ccc">
              <%= link_to('/styles/designer-laminate-1200-2000', :class => "no-under") do %>
                <div class="stylebox">
                <div class="style-title addpurple top10" style="letter-spacing:-0.6px;font-size:1.3em;">DESIGNER COLLECTION</div>
                  <%= image_tag("2013-white_laminated-table-cover.jpg", :class => "img-responsive", :style => "padding:10px;", alt: "Designer Vinyls" ) %>
                <div class="style-series">SERIES 1200/2000</div>
                <div class="style-design">29 Designs | 152 Colors</div>
                <a class="btn btn-primary btn-sm bottom10" role="button" href="/styles/designer-laminate-1200-2000">View Designs &amp; Patterns</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>        
        <% end %>
   </div>
   <% end %>