<%= simple_form_for(@laminateroll) do |f| %>
  <% if @laminateroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laminateroll.errors.count, "error") %> prohibited this laminateroll from being saved:</h2>

      <ul>
      <% @laminateroll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :series_id %>
        <%= f.collection_select(:series_id, Series.where("style_id = 3").order("name"), :id, :name, include_blank: true ) %>
      </div>
    </div>
  </div>  

  <div class="row"> 
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :color_id %>
        <%= #f.collection_select(:color_id, @color, :id, :name) 
        %>
        <%= f.grouped_collection_select(:color_id, Series.order(:name), :colors, :name, :id, :name, include_blank: true ) %>
      </div>
    </div>
  </div>  

  
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="field">
        <%= f.hidden_field :price, :value => 0  %>
      </div>
    </div>        
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>