<h1>Listing laminaterolls</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Series</th>
      <th>Color</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @laminaterolls.each do |laminateroll| %>
      <tr>
        <td><%= laminateroll.quantity %></td>
        <td><%= laminateroll.series %></td>
        <td><%= laminateroll.color %></td>
        <td><%= laminateroll.price %></td>
        <td><%= link_to 'Show', laminateroll %></td>
        <td><%= link_to 'Edit', edit_laminateroll_path(laminateroll) %></td>
        <td><%= link_to 'Destroy', laminateroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laminateroll', new_laminateroll_path %>
