<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @laminateroll.quantity %>
</p>

<p>
  <strong>Series:</strong>
  <%= @laminateroll.series %>
</p>

<p>
  <strong>Color:</strong>
  <%= @laminateroll.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laminateroll.price %>
</p>

<%= link_to 'Edit', edit_laminateroll_path(@laminateroll) %> |
<%= link_to 'Back', laminaterolls_path %>
