<%= bootstrap_form_for([:admin, @inhouse_customer],  layout: :horizontal, label_col: "col-sm-2 col-md-2", control_col: "col-sm-10 col-md-8") do |f| %>
  <% if @inhouse_customer.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@inhouse_customer.errors.count, "error") %> prohibited this inhouse_customer from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @inhouse_customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.text_field :email %>
  <%= f.text_field :name %>
  <%=
  # f.date_select :date, { start_year: 2005 }, { label: "Choose your favorite fruit:", class: 'date-select' }
  %>
  <%= f.number_field :account_number %>
  <%= f.text_field :contact %>

  <%= f.form_group :is_user do %>
    <%= f.check_box :is_user, label: 'Is User?' %>
  <% end %>

  <%= f.form_group :subscribed do %>
    <%= f.check_box :subscribed, label: 'Subscribed?' %>
  <% end %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
