<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-user"></i> Inhouse Customers
            </li>
        </ol>
        <h1 class="pull-left">Inhouse Customers</h1>
        <div class="pull-right top5">
          Search for Inhouse Customer:<br>
          <%= bootstrap_form_tag url: "/admin/inhouse_customers", method: :get, layout: :inline do %>

            <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Search by Email", :data => {autocomplete_source: retrieve_for_autocomplete_admin_inhouse_customers_path } %>
            <%= submit_tag "Search", name: 'search', class: "btn btn-info" %>
          <% end %>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>
Add New Customer:
<%= bootstrap_form_for(@new_inhouse_customer, url: admin_inhouse_customers_path, layout: :inline) do |f| %>
  <%= f.alert_message "Please fix the following errors:" %>
  <%= f.email_field :email, :placeholder => "Enter Email", :required => true, hide_label: true, input_html: { maxlength: 140 }  %>
  <%= f.text_field :name, :placeholder => "Enter Name", hide_label: true, input_html: { maxlength: 100 }  %>
  <%= f.date_select :date, hide_label: true %>
  <%=
  #f.collection_select :inhouse_customer_group_id, InhouseCustomerGroup.all.sort, :id, :name, :prompt => "Please Choose Group", :hide_label => true
  %>
  <%= f.form_group do %>
    <%= f.submit "Add New Inhouse Customer", class: "btn btn-success", name: 'create_new'  %>
  <% end %>
<% end -%>
<hr>

<% if params[:page]  %>
  <%= paginate @inhouse_customers %>
<% end %>
<div class="row">
  <div class="no-more-tables">
    <%= bootstrap_form_tag url: assign_groups_for_admin_inhouse_customers_url, method: :patch do |f| %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th><%= sortable :email, "Email" %></th>
          <th>Name</th>
          <th>Inhouse Group</th>
          <th><%= sortable :date, "Purchase Date" %></th>
          <th><%= sortable :is_user, "Is User?" %></th>
          <th><%= sortable :subscribed, "Subscribed?" %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if (@inhouse_customers.respond_to? :each)
             @inhouse_customers.each do |inhouse_customer| %>
          <tr>
            <td data-title="">
                      <%= check_box_tag "inhouse_customer_ids[]", inhouse_customer.id %>
            </td>
            <td><%= link_to "#{inhouse_customer.id}", [:admin, inhouse_customer], class: "inhouse_customer-id" %></td>
            <td><%= inhouse_customer.email %></td>
            <td><%= inhouse_customer.name %></td>
            <td>
              <% if inhouse_customer.inhouse_group %>
                <a href="<%= "/admin/inhouse_groups/#{inhouse_customer.inhouse_group.id}" %>"><%= inhouse_customer.inhouse_group_id %> - <%= inhouse_customer.inhouse_group.name %></a>
              <% else %>
                Not Assigned
              <% end %>
            </td>
            <td><%= inhouse_customer.date %></td>
            <td><%= inhouse_customer.is_user %></td>
            <td><%= inhouse_customer.status %></td>
            <td><%= link_to 'Show', [:admin, inhouse_customer], class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Edit', edit_admin_inhouse_customer_path(inhouse_customer), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Destroy', [:admin, inhouse_customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
          </tr>
          <% end %>
        <% else %>
          <% inhouse_customer = @inhouse_customers %>
          <tr>
            <td data-title="">
                      <%= check_box_tag "inhouse_customer_ids[]", inhouse_customer.id %>
            </td>
            <td><%= link_to "#{inhouse_customer.id}", [:admin, inhouse_customer], class: "inhouse_customer-id" %></td>
            <td><%= inhouse_customer.email %></td>
            <td><%= inhouse_customer.name %></td>
            <td>
              <% if inhouse_customer.inhouse_group %>
                <a href="<%= "/admin/inhouse_groups/#{inhouse_customer.inhouse_group.id}" %>"><%= inhouse_customer.inhouse_group_id %> - <%= inhouse_customer.inhouse_group.name %></a>
              <% else %>
                Not Assigned
              <% end %>
            </td>
            <td><%= inhouse_customer.date %></td>
            <td><%= inhouse_customer.is_user %></td>
            <td><%= inhouse_customer.status %></td>
            <td><%= link_to 'Show', [:admin, inhouse_customer], class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Edit', edit_admin_inhouse_customer_path(inhouse_customer), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Destroy', [:admin, inhouse_customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="form-group col-md-4">
      <p>Add Inhouse Customers to this Inhouse Group:</p>
      <%= collection_select :inhouse_group, :id, InhouseGroup.all, :id, :name, { prompt: "Please Choose" }, {class: "form-control"} %>
    </div>
    <div class="col-md-4">
      <p>&nbsp;</p>
      <%= submit_tag "Assign Checked to selected Inhouse Customer Group", class: "btn btn-info" %>
    </div>

    <% end %>
  </div>
</div>
