<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title"><h3>Your Quote Cart in Progress</h3>
  </div>    

  <div class="panel-body">
         
        <% if (@quoteholder.lines.empty?) %>
        <div class="row">
            <div class="col-xs-12">
                You cart is empty!
            </div>
        </div>
        <% end %>
        


    <% @quoteholder.lines.each do |line| %>

        
        <div class="row bottom10">
            <div class="col-xs-12 larger">
               Quote Product: <span class="bold"><%= line.quote_product.name.upcase if line.quote_product_id %></span>
            </div>
        </div>

        <div class="row">
            
          
            

            <div class="col-xs-2">
                <% if line.color_id %>
                    <%= image_tag(line.color.image_url, class: "img-responsive") if line.color_id %>
                <% end %>    
            </div>
    
            <div class="col-xs-2">
                <% if line.series_id %>
                  <div class="quotespace border-top">
                    <strong>SERIES:</strong>
                    <%= line.series.name %>
                  </div>  
                <% end %>    


                <% if line.color_id %>
                <div class="quotespace border-bottom">
                    <strong>COLOR:</strong>
                    <%= line.color.name %>
                  </div>  
                <% end %>


                <% if line.cover_id %>
                  <div class="quotespace border-bottom    ">
                    <strong>FINISH COVER:</strong><br>
                    <%= line.cover.name %>
                  </div>  
                <% end %>
            </div>
            

            <!-- If this column is Value Vinyl-->

            <% if (line.quote_product_id == 13) %>  
              <% if line.size %>
            <div class="col-xs-3">
                <strong>DIMENSIONS</strong><br>
                <%= line.size.dimension %>
            </div>
              <% end %>  
            <% else %>  
                        

            
              
            <div class="col-xs-3">
              <% if line.shape %>  
                <div class="quotespace">
                  <strong>TABLE SHAPE:</strong>
                  <%= line.shape.name %>
                </div>
              <% end %>   

              <% if line.length %>  
                <div class="quotespace">
                  <strong>LENGTH:</strong>
                  <%= line.length %>"  
                </div>
              <% end %>   

              <% if line.width %>  
                <div class="quotespace">
                  <strong>WIDTH:</strong>
                  <%= line.width %>"
                </div>
              <% end %>  
              
              <% if line.height %>
                <div class="quotespace">
                  <strong>TABLE HEIGHT:</strong>
                  <%= line.height %>"
                </div>
              <% end %>

              <% if line.umbrella %>
                <div class="quotespace">
                  <strong>UMBRELLA?</strong>
                  <%= boolean_to_words(line.umbrella) %>
                </div>
              <% end %>

              <% if line.velcro %>
                <div class="quotespace">
                  <strong>BOOTH WITH VELCRO?</strong>
                  <%= boolean_to_words(line.velcro) %>
                </div>
              <% end %>

              <% if line.yards %>
                <div class="quotespace">
                  <strong>Yards Long:</strong>
                  <%= line.yards %>
                </div>
              <% end %>
            </div>
            <% end %>



            <div class="col-xs-2 text-center">
              <% if line.quantity %>
                <strong>QUANTITY</strong>
                <div><%= line.quantity %></div>
              <% end %>  
            </div>

            <div class="col-xs-2 text-right">
              <% if line.price %>
                <strong>PRICE:</strong><br>
                  <% if line.price == 0 %>
                    Submit for Pricing
                  <% else %>  
                    <%= number_to_currency(line.price) %>
                  <% end %> 
                <br><br>
                <strong>TOTAL PRICE:</strong><br>
                  <% if line.price == 0 %>
                    Submit for Pricing
                  <% else %>  
                    <%= number_to_currency(line.total_price) %>
                  <% end %>

              <% end %>  
            </div>

        </div>     

        <hr>
        <% end %>
        
      
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Sub-Total:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quoteholder.total_price) %>
          </div>
        </div>    
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Shipping:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            $0.00
          </div>
        </div>   
        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Sales Tax:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            $0.00
          </div>
        </div>   

        <div class="row">
          <div class="col-xs-2 col-xs-offset-8 text-right">
            <strong>Total:</strong> 
          </div>
          <div class="col-xs-2 text-right">
            <%= number_to_currency(@quoteholder.total_price) %>
          </div>
        </div>   
        
        <hr>  
<%= link_to "Submit Quote for Pricing Now", new_quote_path, class: "btn btn-success" %>

<%= link_to "Add Another Item to Quote", '/request_quote', class: "btn btn-primary" %>
<%= link_to 'Remove All Quote Items', @quoteholder, class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you Sure?' } %>
