<%= form_for(@laminate) do |f| %>

  <% if @laminate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laminate.errors.count, "error") %> prohibited this laminate from being saved:</h2>

      <ul>
      <% @laminate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">  

    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="field">
            <%= f.label :cover %>
            <%= f.select(:cover, options_for_select([['Regular Drape'], ['Fitted (Hat Box)'], ['Elastic Contour'], ['Fitted-to-Floor (Hat Box)'], ['Regular Drape-to-Floor']  ]), { :prompt => "Please Choose"})           %>      
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="field">
          <%= f.label :shape %>
          <%= f.select(:shape, options_for_select([['Round', 'Round'],  ['Rectangle', 'Rectangle'], ['Square', 'Square']]), { :prompt => "Please Choose"}) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="js-dependent-fields" data-select-id="laminate_shape" data-option-value="Rectangle|Square">
        <div class="col-sm-12 col-md-5">
          <div class="field">
            <%= f.label :width %>
            <%= f.number_field :width %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="js-dependent-fields" data-select-id="laminate_shape" data-option-value="Rectangle">
        <div class="col-sm-12 col-md-5">
          <div class="field">
            <%= f.label :length %>
            <%= f.number_field :length %>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="js-dependent-fields" data-select-id="laminate_shape" data-option-value="Round">
        <div class="col-sm-12 col-md-5">
          <div class="field">
            <%= f.label :diameter %>
            <%= f.number_field :diameter %>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">  
      <div class="js-dependent-fields" data-select-id="laminate_cover" data-option-value="Fitted-to-Floor (Hat Box)|Regular Drape-to-Floor">
        <div class="col-sm-12 col-md-5">
          <div class="field">
            <%= f.label :height %>
            <%= f.number_field :height %>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="js-dependent-fields" data-select-id="laminate_cover" data-option-value="Regular Drape|Fitted (Hat Box)">
        <div class="col-sm-12 col-md-5">
          <div class="field">
            <%= f.label :drop %>
            <% grouped_options = [
  ['Regular Drape',  
     ['6 inch', '8 inch (We Recommend this length for this Regular Drape Cover)', '10 inch'], '8 inch (We Recommend this length for this Regular Drape Cover)'],
  ['Fitted (Hat Box)',  
     ['4 inch', '6 inch (We Recommend this length for the Fitted (Hat Box) Cover)', '8 inch']]
  ] %>
          <%= f.select("drop", grouped_options_for_select(grouped_options)) %>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="field">
          <%= f.label :series_id %>
          <%= f.collection_select(:series_id,  Series.where("style_id = 3").order("name"), :id, :name, {include_blank: true} ) %>
        </div>
      </div>
    </div>  

    <div class="row"> 
      <div class="col-sm-12 col-md-6">
        <div class="field">
          <%= f.label :color_id %>
          <%= f.grouped_collection_select(:color_id, Series.order(:name), :colors, :name, :id, :name, include_blank: true ) %>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="field">
          <%= f.label :umbrella %>
          <%= f.check_box :umbrella %>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="field">
          <%= f.label :velcro %>
          <%= f.check_box :velcro %>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="field">
          <%= f.label :quantity %>
          <%= f.number_field :quantity %>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="field">
          <%= f.hidden_field :price, :value => 0  %>
        </div>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
