<h1>Listing laminates</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Shape</th>
      <th>Width</th>
      <th>Length</th>
      <th>Height</th>
      <th>Drop</th>
      <th>Series</th>
      <th>Color</th>
      <th>Umbrella</th>
      <th>Velcro</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @laminates.each do |laminate| %>
      <tr>
        <td><%= laminate.cover %></td>
        <td><%= laminate.shape %></td>
        <td><%= laminate.width %></td>
        <td><%= laminate.length %></td>
        <td><%= laminate.height %></td>
        <td><%= laminate.drop %></td>
        <td><%= laminate.series %></td>
        <td><%= laminate.color %></td>
        <td><%= laminate.umbrella %></td>
        <td><%= laminate.velcro %></td>
        <td><%= laminate.quantity %></td>
        <td><%= laminate.price %></td>
        <td><%= link_to 'Show', laminate %></td>
        <td><%= link_to 'Edit', edit_laminate_path(laminate) %></td>
        <td><%= link_to 'Destroy', laminate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laminate', new_laminate_path %>
