<p id="notice"><%= notice %></p>

<p>
  <strong>Cover:</strong>
  <%= @laminate.cover %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @laminate.shape %>
</p>

<p>
  <strong>Width:</strong>
  <%= @laminate.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @laminate.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @laminate.height %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @laminate.drop %>
</p>

<p>
  <strong>Series:</strong>
  <%= @laminate.series %>
</p>

<p>
  <strong>Color:</strong>
  <%= @laminate.color %>
</p>

<p>
  <strong>Umbrella:</strong>
  <%= @laminate.umbrella %>
</p>

<p>
  <strong>Velcro:</strong>
  <%= @laminate.velcro %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @laminate.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laminate.price %>
</p>

<%= link_to 'Edit', edit_laminate_path(@laminate) %> |
<%= link_to 'Back', laminates_path %>
