<%= simple_form_for(@color) do |f| %>
  <% if @color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% @color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= #f.label :series_id 
    %><br>
    <%= # f.collection_select(:series_id, @series, :id, :name) 
    %>

  <%= f.association :series %> 

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
      
      <%= f.input :tag_list, :as => :check_boxes, multiple: true, label_html: { class: 'color-checkbox' }, :collection => ActsAsTaggableOn::Tag.all.map(&:name)  %>
  
    <%= #f.check_box :tag_list, { :multiple => true }, 'Any', nil 
    %>
    <%= #f.check_box :tag_list, { :multiple => true }, 'Black', nil 
    %>
    <%= #f.check_box :tag_list, { :multiple => true }, 'Blue', nil 
    %>
    <%= #f.check_box :tag_list, { :multiple => true }, 'Brown', nil 
    %>
      <%= 
    # f.select :tag_list, options_for_select(["Any", "Black", "Blue", "Brown", "Burgundy", "Cream", "Gold", "Green", "Grey", "Multi", "Orange", "Peach", "Pink", "Purple", "Red", "Salmon", "Tan", "Turquoise", "White", "Yellow" ]), {}, {:multiple => true, :class => "", :style => "width:250px;height:350px;" } 
    %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
