<%= simple_form_for(@nonslipcut) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.input :inches_wide %>
    <%= f.input :inches_long %>
    <%= f.input :price, :as => "hidden", input_html: { value: 0 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
