<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @nonslipcut.quantity %>
</p>

<p>
  <strong>Inches wide:</strong>
  <%= @nonslipcut.inches_wide %>
</p>

<p>
  <strong>Inches long:</strong>
  <%= @nonslipcut.inches_long %>
</p>

<p>
  <strong>Price:</strong>
  <%= @nonslipcut.price %>
</p>

<%= link_to 'Edit', edit_nonslipcut_path(@nonslipcut) %> |
<%= link_to 'Back', nonslipcuts_path %>
