<h1>Listing frogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @frogs.each do |frog| %>
      <tr>
        <td><%= frog.name %></td>
        <td><%= frog.size %></td>
        <td><%= link_to 'Show', frog %></td>
        <td><%= link_to 'Edit', edit_frog_path(frog) %></td>
        <td><%= link_to 'Destroy', frog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frog', new_frog_path %>
