<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frog.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @frog.size %>
</p>

<%= link_to 'Edit', edit_frog_path(@frog) %> |
<%= link_to 'Back', frogs_path %>
