<%= form_for([:admin, @inhouse_group], html: { class: 'form-horizontal inhouse_group' }) do |f| %>
  <% if @inhouse_group.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@inhouse_group.errors.count, "error") %> prohibited this inhouse_group from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @inhouse_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email_message_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email_message_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_sent_on, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :last_sent_on, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
