<%= form_for([:admin, @admin_email_message]) do |f| %>
  <% if @admin_email_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_email_message.errors.count, "error") %> prohibited this email_message from being saved:</h2>

      <ul>
      <% @admin_email_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <br>
  <div class="field">
    <%= f.label :headers %><br>
    <%= f.text_field :headers %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content, label: "HTML Content" %><br>
    <%= f.text_area :content, rows: 12, cols: 100 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :text_content, label: "Text Only Content" %><br>
    <%= f.text_area :text_content, rows: 12, cols: 100 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :mandril_tag, label: "Tags" %><br>
    <%= f.text_field :mandril_tags %>
  </div>
  <br>
  <div class="field">
    <%= f.label :template, "Template Name" %><br>
    <%= f.text_field :template %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save Email Message", :class => "btn btn-primary" %>
  </div>
<% end %>
