<p id="notice"><%= notice %></p>

<p>
  <strong>New users:</strong>
  <%= @report.new_users %>
</p>

<p>
  <strong>Number of orders:</strong>
  <%= @report.number_of_orders %>
</p>

<p>
  <strong>Number of quotes:</strong>
  <%= @report.number_of_quotes %>
</p>

<p>
  <strong>Number of purchases:</strong>
  <%= @report.number_of_purchases %>
</p>

<p>
  <strong>Amount of quotes:</strong>
  <%= @report.amount_of_quotes %>
</p>

<p>
  <strong>Amount of purchases:</strong>
  <%= @report.amount_of_purchases %>
</p>

<p>
  <strong>Catalogs ordered:</strong>
  <%= @report.catalogs_ordered %>
</p>

<p>
  <strong>Month:</strong>
  <%= @report.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @report.year %>
</p>

<%= link_to 'Edit', edit_admin_report_path(@report) %> |
<%= link_to 'Back', admin_reports_path %>
