<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscriber.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subscriber.active %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
