<h1>Listing americlears</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Yards</th>
      <th>Wide</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @americlears.each do |americlear| %>
      <tr>
        <td><%= americlear.quantity %></td>
        <td><%= americlear.yards %></td>
        <td><%= americlear.wide %></td>
        <td><%= americlear.price %></td>
        <td><%= link_to 'Show', americlear %></td>
        <td><%= link_to 'Edit', edit_americlear_path(americlear) %></td>
        <td><%= link_to 'Destroy', americlear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Americlear', new_americlear_path %>
