<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @americlear.quantity %>
</p>

<p>
  <strong>Yards:</strong>
  <%= @americlear.yards %>
</p>

<p>
  <strong>Wide:</strong>
  <%= @americlear.wide %>
</p>

<p>
  <strong>Price:</strong>
  <%= @americlear.price %>
</p>

<%= link_to 'Edit', edit_americlear_path(@americlear) %> |
<%= link_to 'Back', americlears_path %>
