<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
              <a href="/admin/index"><i class="fa fa-dashboard"></i>  Dashboard</a>
            </li>
            <li>
              <a href="/admin/prospects"> <i class="fa fa-bullhorn"></i> Prospects</a>
            </li>
            <li class="active">
              <%= @prospect.id %>
            </li>
        </ol>
        <h1 class="page-header">Prospect #<%= @prospect.id %></h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Prospect Id</th>
          <th>Prospect Email</th>
          <th>Prospect Name</th>
          <th>Subscribed?</th>
          <!-- <th>Validated</th> -->
          <th>Group</th>
          <th>Date Joined On</th>
          <th>Active?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td></td>
        <td><%= @prospect.id %></td>
        <td><%= @prospect.email %></td>
        <td><%= @prospect.name %></td>
        <td><%= @prospect.status %></td>
        <!-- <td><%= @prospect.validated %></td> -->
        <td>
          <% if @prospect.prospect_group %>
            <a href=""><%= link_to @prospect.try(:prospect_group).try(:name), admin_prospect_group_path(@prospect.prospect_group) %>
            </a>
          <% end %>
        </td>
        <td><%= @prospect.date_joined_on %></td>
        <td data-title="Active">
          <% if @prospect.active? %>
            <span class="active_prospect"><%= @prospect.active %></span>
          <% else %>
            <span class="inactive_prospect"><%= @prospect.active %></span>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admin_prospect_path(@prospect) %></td>
        <td><%= link_to 'Destroy', admin_prospect_path(@prospect), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </table>
  </div>
</div>

<br>
<p><a href="/admin/prospects">Show All Prospects</a></p>