<h1><!-- <%= @category.name %> --></h1>

  <div class="entry">
    <div class="row">

    <% if (params[:id] == '1') %>
    
      <div class="row">
        <div class="col-sm-9">
          <h1 class="addorange styletype">Custom-Made Table Covers are our Specialty</h1>
          <div class="stylesub">Beautiful Vinyl and Laminated Fabrics in Hundreds of Colors </div>
          <div>
            <p class="splashtext top20">Yes, you can get tablecloths, <a href="/categories/5" class="blacklink">runners</a>, and <a href="/categories/5" class="blacklink">toppers</a> sewn to the exact size and shape you need without spending a fortune. Simply hose your patterns from our Premium, Classic or Designer collections and supply us with table measurements. Welll stitch up perfect-fitting coverings   for every table—and even add umbrella holes, elastic, or Velcro, if needed. No minimums are required for custom work, and most orders ship in 2-3 weeks. Roll goods ship in 24 hours.</p>
            <p class="splashtext">Looking for ready-made vinyl table covers? Check out our Value line. <span class="bold">For do-it-yourselfers, fabrics are also available by the roll or by the cut.</span></p>
          </div>
        </div>
        <div id="vinyl-land" class="col-sm-3 border-left addorange">
          <ul>
            <li>Low or No Minimums</li>
            <li>Custom-Made Options</li>
            <li>Free Catalog</li>
            <li>Fast Delivery</li>
            <li>Free Quotes</li>
          </ul>

          <div>
          <%= link_to('/how_to_order', :class => "no-under") do %>
            <%= image_tag("swatch-image.jpg", :class => "img-responsive pull-right", alt:"Free Swatches", :id => 'home-swatches') %>
          <% end %>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">
          <div class="cat-title"></div>
          <div class="cat-subtitle"></div>
          <div>
            <p class="splashtext"></p>
            <p class="splashtext"s></p>
          </div>
        </div>
        <div class="col-sm-3">

        </div>
      </div>

      <div class="row">

      <% @category.products.order(:id).each do |product| %>
          
              <% product.styles.order(:sort).each do |style| %>  
            
              <div class="col-xs-6 col-sm-3">  

                  <div class="style-link">
                  <%= link_to(style, :class => "no-under") do %>
                    
                    <%= image_tag(style.image_url, :class => "img-responsive") %>

                  <% end %>

                  <%= style.description.html_safe %>

                  </div>

              </div>
              <% end %>
            
        
      <% end %> <!-- end category/product loop -->  
      
      </div>

    <div class="border-top">
      <div id="covers">
        <div><span class="bgtext">TABLE COVER TYPES &nbsp; <a href="/how_to_measure" class="lefty">Measuring Instructions  <span class="glyphicon glyphicon-play"></span></a></span>   </div><%= image_tag('vertical-illustrations.png', :class => "img-responsive bgimg") %></div>
    </div>

    <!-- end if cat 1 -->  
    <% elsif (params[:id] == '2') %>

      <div class="row">
        <div class="col-sm-8  border-right">
          <h1 class="addmaroon"><span class="cat-title">Non-Slip Pads Keep Table Covers and Rugs in Place</span></h1>
          <div class="stylename addblack">Cushioned Padding Increases Comfort and Safety</div>
          <div>
            <p class="splashtext top20">Americo non-slip padding can be used under table covers or rugs to keep prevent slippage and add cushioning. Available by the piece (no minimums) or by the roll, non-slip pads offer:</p>
            <div class="row">
              <ul class="splashtext">
                
                <div class="col-xs-12 col-sm-6">
                  <li>Superior slip protection</li>                
                </div>  
                <div class="col-xs-12 col-sm-6">                
                    <li>Luxurious feel</li>
                </div>  
                <div class="col-xs-12 col-sm-6">                
                    <li>Noise reduction</li>  
                </div>  
                <div class="col-xs-12 col-sm-6">                
                    <li>Less dish breakage on tables</li>
                </div>  

              </ul>

            </div>

            <p class="stylename top10 addblack">Vinyl Padding is Ideal Under Woven Table Linens</p>
            <p class="splashtext">To give linen table cloths a soft underlayment and slip resistance, try our 9808 vinyl. This heavy-duty vinyl can be custom-sewn to your specifications. Or, order it by the piece or by the roll.</p>
          </div>
          
          <hr>

          <div class="row top10 splashtext">
            <div class="col-xs-3"><a href="#" class=""><%= image_tag('non-slip-pad-rugs.jpg', :class => "img-responsive") %></a></div>
            <div class="col-xs-4">
              <div class="addmaroon bold">NON-SLIP PAD</div>
              <p>Flame Retardant 
                <br>Cuts with Scissors 
                <br>Will not Fray or Roll</p>
            </div>
            
            <div class="col-xs-5">
              <div class="addmaroon bold">TECHNICAL SPECS</div>
              <p>Roll Length: 33 yards
                <br>Roll Widths: 36”, 48” &amp; 72”
                <br>Flame Retardant
                <br><a href="/technical_specs">Additional specs</a></p>
              </p>
            </div>

          </div>
          <div class="row top10 splashtext">
            <div class="col-xs-12 addblack">  
              <%= link_to('ADD SAMPLE TO CART', line_items_path(series_id: 81, color_id: 8), :class => "btn btn-primary btn-xs", method: :post ) %> 
              
              <%= link_to('GET QUOTE', '/request_quote', :class => "btn btn-primary btn-xs", method: :post ) %>
            </div>
          </div>  
          <hr>

          <div class="row top10 splashtext">
            <div class="col-xs-3"><a href="#" class=""><%= image_tag('classic-vinyl-non-slip-pad.jpg', :class => "img-responsive") %></a></div>
            <div class="col-xs-4">
              <div class="addmaroon bold">CLASSIC VINYL PAD</div>
              <p><u>9808-White</u>
                <br>Cuts with Scissors 
                <br>Will not Fray or Roll</p>
            </div>
            <div class="col-xs-5">
              <div class="addmaroon bold">TECHNICAL SPECS</div>
              <p>Roll Length: 25 yards
                <br>Roll Widths: 54”
                <br>10-mil PVC vinyl
                <br><a href="/technical_specs">Additional specs</a></p>
            </div>
          </div>  

          <div class="row top10 splashtext">
            <div class="col-xs-12 addblack">  
              <%= link_to('ADD SAMPLE TO CART', line_items_path(series_id: 3, color_id: 3), :class => "btn btn-primary btn-xs", method: :post ) %> 
              
              <%= link_to('GET QUOTE', '/request_quote', :class => "btn btn-primary btn-xs", method: :post ) %>

        
            </div>
          </div>  

        </div>

        <div id="" class="col-sm-4">
          <%= image_tag("non-slip-padding-table.jpg", :class => "img-responsive", alt: "Free Swatches", :id => 'non-slip' ) %>
          <div class="addmaroon top10 bold">ORDERING TIP</div>
          <div class="">For your convenience, Americo non-slip padding can be custom cut to any length or purchased by the roll. To determine how much you need, calculate a 4” overhang on all sides of the table. Padding is easily cut with scissors and edges will not roll or fray.</div>
          <ul class="top20 bold bottom25">
            <li class="bold">Roll Length: 33 yards</li>
            <li class="bold">Roll Widths: 36", 48" &amp; 72"</li>
          </ul>
          <%= image_tag("swatch-image.jpg", :class => "img-responsive pull-left", alt: "Free Swatches", :id => 'home-swatches' ) %>
          <%= image_tag("free-catalog.jpg", :class => "img-responsive pull-right", alt: "Free Catalog" ) %>
        </div>
      </div>

    <!-- end if cat 2 -->  
    <% elsif (params[:id] == '3') %>


    <div class="row">
      <div class="col-sm-12">

        <div class="slider-wrapper theme-default">
          <div id="slider" class="nivoSlider">
              <%= image_tag("fabric-lamination-slider.jpg", alt: "sliderimg", :title => "#laminatedfabriccaption", :data => { :thumb => 'fabric-lamination-slider.jpg' } ) %> 

          </div>
          <div id="laminatedfabriccaption" class="nivo-html-caption" style="display:none">
            <div class="nivo-1">
        
            </div>
            <div class="nivo-1a">
               <strong>Americlear lamination</strong> transforms designer fabrics into durable, no-launder material that's ideal for tablecloths, upholstery, drapes and more.
            </div>
          </div>
        </div>
      </div>
    </div>  


    <div class="row">
      <div class="col-sm-9  border-right">
        <h1 class="addmaroon">Laminating Makes Woven Fabrics Virtually Carefree</h1>
        <div class="stylesub">Americlear Fabric Lamination Provides Ultimate Protection</div>
          <div>
            <p class="splashtext top20">Don’t shy away from using decorator fabrics in high-use areas. Instead, protect favorite fabrics with Americlear lamination. This superior, heat-set technique applies a translucent film to woven material to create a long-lasting laminated fabric that never needs washing. Spot cleaning with soapy water removes everyday grime and most stains.</p>
            
            <p class="splashtext">Americlear lamination comes in matte or glossy finishes that can make fabric colors appear richer and more vibrant. For greatest stain resistance, laminate the front of the fabric. Back of fabric lamination is also available for creating a good moisture barrier. As for durability, in abrasion tests Americlear lamination exceeds the highest standards for heavy duty textiles with no wear-through of the film.</p>

            <p class="splashtext">Lamination may not be suitable for certain weaves, textures and patterns. We recommend ordering a sample Americlear lamination to ensure you like the results.</p>
          </div>
          
          <div class="row top10 border-top">
            <div class="col-xs-4"><a href="/americlear_laminations_sample" class="larger">Ordering Information</a></div>
            <div class="col-xs-4"><a href="/technical_specs" class="larger">Technical Specs</a></div>
            <div class="col-xs-4"><a href="/request_quote" class="larger">Request A Quote</a></div>
          </div>  

          <div class="row top10 bottom border-top">
            <div class="col-xs-2 col-xs-offset-1"><%= image_tag('americlear-lam-2068.png', :class => "img-responsive") %></div>
            <div class="col-xs-8 addgreen top10 lamtext"><p><strong>Americo's Pre-Laminated Designer Fabrics</strong> can help you achieve your creative vision. These striking fabrics are great for table coverings, upholstery project or drapes. Available by the roll or as custom-sewn tablecloths, overlays or runners.<br>
            <a href="/styles/3" class="">View swatches and specs <span class="glyphicon glyphicon-play"></span></a></p></div>
            
          </div>  

        </div>
        <div id="vinyl-land" class="col-sm-3">
          <ul>
            <li class="addgold">Custom or Pre-laminated</li>
            <li class="addgold">Matte and Glossy Finishes</li>
            <li class="addgold">Easy, Laundry-Free Care</li>
            <li class="addgold">Free Samples</li>
            <li class="addgold">Free Quotes</li>
          </ul>

          <%= link_to('/free_swatches', :class => "img-responsive", alt: "Free Swatches", :id => 'home-swatches') do %><%= image_tag("swatch-image.jpg") %><% end %>
          <%= link_to('/request_catalog', :class => "img-responsive", alt: "Free Swatches", :id => 'home-swatches') do %><%= image_tag("free-catalog.jpg") %><% end %>

        </div>
      </div>


      <% @category.products.each do |product| %>
 
        <div class="col-sm-6">
          <div class="well">
            <%= link_to(product) do %>
              <h4><%= product.title %></h4>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <%= image_tag(product.image_url, :class => "img-responsive") %>
              </div>
              <div class="col-sm-9">
                <%= sanitize(product.description) %>
              </div>
            </div>

            <div class="row">         
              <% product.styles.each do |style| %>  
              <div class="col-sm-4">
                <%= link_to(style) do %>
                  <%= style.name %>
                  <%= image_tag(style.image_url, :class => "img-responsive") %>
                <% end %>
              </div>
              <% end %>
            </div>  
          </div>
        </div>
        
      <% end %> <!-- end category/product loop -->  


    <!-- end if cat 3 -->  
    <% elsif (params[:id] == '5') %>


  <div class="row">
    <div class="col-sm-12">

      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <%= image_tag("accessories-placemats-slider.jpg", alt: "sliderimg", :title => "#placematcaption", :data => { :thumb => 'accessories-placemats-slider.jpg' } ) %> 
            <%= image_tag("accessories-runner-slider.jpg", alt: "sliderimg2", :title => "#runnercaption", :data => { :thumb => 'accessories-runner-slider.jpg' } ) %>
            <%= image_tag("accessories-topper-slider.jpg", alt: "sliderimg3", :title => "#toppercaption", :data => { :thumb => 'accessories-topper-slider.jpg' } ) %>

        </div>
        <div id="placematcaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
  
          </div>
          <div class="nivo-1a">
             <strong>Vinyl placemats</strong> provide more options for creating the right tablescape in your dining area.
          </div>
        </div>

        <div id="runnercaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
  
          </div>
          <div class="nivo-1a">
             <strong>Made-to-order table runners</strong> let you transform your tables by adding a splash of seasonal color.
          </div>
        </div>

        <div id="toppercaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
  
          </div>
          <div class="nivo-1a">
             <strong>Custom table toppers </strong> are an easy way to add pizzazz to your decor ... and they’re laundry-free , too!
          </div>
        </div>

      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-xs-12 col-sm-9  border-right addgray">

      <h1 class="addarmy">Accessorize with Placemats, Table Toppers or Table Runners</h1>
      <div class="stylesub addblack">Design Possibilities are Only Limited by Your Imagination</div>
      <div>
        <p class="splashtext top20">Because we manufacture our own vinyls, we can quickly and easily make custom table runners or table toppers, as well as placemats. Why settle for one look, when you can easily change your decor from season to season or even for pecial events. Simply layer any basic table cover with a decorative runner, a snazzy overlay, or colorful placemats.</p>
        <p class="addarmy larger bold">Placemats in Hundreds of Colors and Patterns</p>
        <p class="splashtext">Reversible placemats are 16.5” x 11.5” with smartly mitered corners. Both sides are the same color and pattern. Simply choose your favorite styles from our <a href="/styles/1">Classic</a> or <a href="/styles/2">Premium</a> vinyl collections.<br><span class="addblack">Minimum order is 72 pieces per color.</span></p>
      </div>
      
      <div class="row top10 splashtext">
        <div class="col-xs-12 col-sm-8">
          <a href="#" class=""><%= image_tag('vinyl-placemats.jpg', :class => "img-responsive") %></a>
        </div>
            
        <div class="col-xs-12 col-sm-4">
          <div class="bold addgold">CLASSIC VINYLS</div>
          <p>29 Designs | 172 Colors
          <br>Hard-working, but affordable
          <br>10-mil PVC vinyl
          <br>Good for commercial use</p>

          <div class="bold addarmy">PREMIUM VINYLS</div>
          <p>26 Designs | 270 Colors
          <br>Heavy duty, versatile fabric
          <br>13-mil PVC vinyl
          <br>Some designs suitable for upholstery</p>
        </div>
      </div>  
      
      
      <div class="row top20">
        <div class="col-xs-12"> 
          <div class="addarmy larger bold">Custom-Made Table Runners and Table Toppers</div>
          <div><p class="splashtext top10">Add the perfect finish to a great table setting with one of our custom-made table runners or table toppers. Simply select any fabric from the collections below, send us your table dimensions and tables, and we’ll get to work. Please see Measuring Instructions before ordering.</p></div>
        </div>
      </div> <!-- end row -->
   

      <div class="row top10">
        <div class="col-xs-4">
          <a href="/styles/1" class=""><%= image_tag('accessories-topper.jpg', :class => "img-responsive") %></a>
          <div class="bold stylebox"><a href="styles/1" class="addgold">CLASSIC VINYLS</a></div>
          <p>29 Designs | 172 Colors
          <br>Hard-working, but affordable
          <br>10-mil PVC vinyl
          <br>Good for commercial use</p>
        </div>
        
        <div class="col-xs-4">
          <a href="/styles/2" class=""><%= image_tag('accessories-runner.jpg', :class => "img-responsive") %></a>
          <div class="bold stylebox"><a href="styles/2" class="addarmy">PREMIUM VINYLS</a></div>
          <p>26 Designs | 270 Colors
          <br>Heavy duty, versatile fabric
          <br>13-mil PVC vinyl
          <br>Some designs suitable for upholstery</p>
        </div>
        
        <div class="col-xs-4">
          <a href="/styles/3" class=""><%= image_tag('accessories-laminate.jpg', :class => "img-responsive") %></a>
          <div class="bold stylebox"><a href="styles/3" class="addpurple">DESIGNER LAMINATES</a></div>
          <p>7 Designs | 26 Colors
          <br>Long lasting, easy care fabrics
          <br>6-mil clear PVC film
          <br>Good for upholstery, too</p>
          </p>
        </div>
      </div>  

      <div class="row top10">
        <div class="col-xs-12">
          <div class="addarmy larger bold">Specs for Table Runners and Table Toppers</div>
          <p class="splashtext top10">All runners and toppers will be precision cut and sewn with a 1/4" hem.</p>
          <p>
          <ul>
            <li class="splashtext">Standard drop for table toppers and overlays is 8”.</i>
            <li class="splashtext">Standard drop for table runners is 8”.</li>
            <li class="splashtext">Table runners come in 3 widths: 12”, 16” and 24”.”</li>
            <li class="splashtext">Runners are sewn with squared edges and are not reversible.</li>
          </ul>
          </p>
        </div>
      </div> <!-- end row -->
          
        </div>
        <div id="vinyl-land" class="col-sm-2 hidden-xs">
          <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg", :class => "img-responsive pull-right top40", alt: "Free Swatches", :id => 'home-swatches' ) %><% end %>

          <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg", :class => "img-responsive pull-right top40", alt: "Free Catalog", :id => 'free-catalog' ) %><% end %>
        </div>
      </div>
     
    <% end %>  <!-- end if cat 5 -->  

    </div>
  </div>
<div></div>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <% @category.products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_category_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Category', new_category_path %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
-->
