<% @category.products.each do |product| %>
 
        <div class="col-sm-6">
          <div class="well">
            <%= link_to(product) do %>
              <h4><%= product.title %></h4>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <%= image_tag(product.image_url, :class => "img-responsive") %>
              </div>
              <div class="col-sm-9">
                <%= sanitize(product.description) %>
              </div>
            </div>

            <div class="row">         
              <% product.styles.each do |style| %>  
              <div class="col-sm-4">
                <%= link_to(style) do %>
                  <%= style.name %>
                  <%= image_tag(style.image_url, :class => "img-responsive") %>
                <% end %>
              </div>
              <% end %>
            </div>  
          </div>
        </div>
        
      <% end %> <!-- end category/product loop -->  
