
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-tags"></i> Users
            </li>
        </ol>

        <h1 class="pull-left">
            Users <i>(<%= @all_users_count %> current Users)</i>
        </h1>
        <div class="pull-right top5">
          Search for User:<br>
          <%= bootstrap_form_tag url: "/admin/users", method: :get, layout: :inline do %>
            <%= text_field_tag :email, params[:email], class: "form-control", id: "users_email", placeholder: "Search by Email", :data => {autocomplete_source: retrieve_for_autocomplete_admin_users_path } %>
            <%= submit_tag "Search", name: 'search', class: "btn btn-info" %>
          <% end %>
        </div>
    </div>
</div>

<!-- /.row -->
<% if params[:email] == nil || params[:email] == "" %>
  <%= paginate @users %>
<% end %>

<div class="row">
  <div class="no-more-tables">
    <div class="table-responsive">
      <%= bootstrap_form_tag url: update_groups_for_admin_users_url, method: :patch do |f| %>
        <table class="table table-hover table-striped">

          <thead>
              <tr>
                <th></th>
                <th>User ID</th>
                <th><%= sortable :email, "Email" %></th>
                <th>User Group ID</th>
                <th>Last Email Message</th>
                <th>Last Sent On</th>
                <th>Subscribed?</th>
                <th>Created at</th>
                <th>Last Sign in IP</th>
                <th>Last Sign in Date</th>
              </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td data-title="">
                  <%= check_box_tag "user_ids[]", user.id %>
                </td>
                <td data-title="User Id"><%= link_to "#{user.id}", [:admin, user], class: "user-link" %></td>
                <td data-title="Email"><%= user.email %></td>
                <td data-title="User Group Id"><%= link_to "#{user.user_group_id}", [:admin, user.user_group] %></td>
                <td data-title="Last Message"><%= user.try(:email_message).try(:subject) %></td>
                <td data-title="Last Sent On"><%= user.try(:last_sent_on) %></td>
                <td data-title="Subscribed" class="subscribed"><%= user.subscribed %></td>
                <td data-title="Created At"><%= user.created_at.strftime("%-m-%d-%Y") %></td>
                <td data-title="Last IP"><%= user.last_sign_in_ip %></td>
                <td data-title="Last Sign In"><%= user.last_sign_in_at %></td>
              </tr>
            <% end  %>

          </tbody>
        </table>
        <div class="form-group col-md-4">
          <p>Add Users to this User Group:</p>
          <%= collection_select :user_group, :id, UserGroup.all, :id, :name, { prompt: "Please Choose" }, {class: "form-control"} %>
        </div>
        <div class="col-md-4">
          <p>&nbsp;</p>
          <%= submit_tag "Assign Checked to selected User Group", class: "btn btn-primary" %>
        </div>

        <div class="col-md-4">
          <p>&nbsp;</p>
          <%= submit_tag "Remove Checked from User Group", class: "btn btn-danger" %>

        </div>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
<!-- /.row -->

<% if params[:email] == nil %>
  <%= paginate @users %>
<% end %>
