
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-tags"></i> Users
            </li>
        </ol>

        <h1 class="page-header">
            Users
        </h1>
    </div>
</div>
<!-- /.row -->

<%= paginate @users %>

<div class="row">
  <div class="no-more-tables">
    <div class="table-responsive">
      <%= bootstrap_form_tag url: assign_groups_for_admin_users_url, method: :patch do |f| %>
        <table class="table table-hover table-striped">

          <thead>
              <tr>
                <th></th>
                <th>User ID</th>
                <th>Email</th>
                <th>User Group ID</th>
                <th>Created at</th>
                <th>Last Sign in IP</th>
                <th>Last Sign in Date</th>
              </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td data-title="">
                  <%= check_box_tag "user_ids[]", user.id %>
                </td>
                <td data-title="User Id"><%= link_to "#{user.id}", [:admin, user], class: "user-link" %></td>
                <td data-title="Email"><%= user.email %></td>
                <td data-title="User Group Id"><%= link_to "#{user.user_group_id}", [:admin, user.user_group] %></td>
                <td data-title="Created At"><%= user.created_at.strftime("%-m-%d-%Y") %></td>
                <td data-title=""><%= user.last_sign_in_ip %></td>
                <td data-title=""><%= user.last_sign_in_at %></td>
              </tr>
            <% end  %>

          </tbody>
        </table>
        <%= collection_select :user_group, :id, UserGroup.all, :id, :name %>
      <br><br>
      <%= submit_tag "Assign Checked to User Group" %>
      <% end %>
    </div>
  </div>
</div>
<!-- /.row -->

<%= paginate @users %>


