    <% if line_item == @current_item %>
     <div class="row text-center" id="current_item">
    <% else %>
     <div class="row text-center">
    <% end %>  
      
        
        <div class="col-xs-2">
          <%= image_tag(line_item.color.image_url, :class => "cartimage img-responsive text-center") %>
        </div>
   
        <div class="col-xs-2">
          <%= line_item.series.name %>
        </div>

        <div class="col-xs-2">
          <%= line_item.color.name %>
        </div>
  
        <div class="col-xs-1">
          <%= line_item.quantity %>
        </div>

        <div class="col-xs-3">
          <%= button_to 'X', line_item, method: :delete, 
            data: { confirm: 'Are you sure?' } %>
        </div>
        

      
    </div>
<hr class="cartline"> 