<%= simple_form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.association :style, collection: Style.order('name') %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => "6", :cols => "60" %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, :size => "60" %>
  </div>
  <div class="field">
    <%= f.label :lead %><br>
    <%= f.text_field :lead %>
  </div>
  <div class="field">
    <%= f.label :callout %><br>
    <%= f.text_field :callout%>
  </div>
  
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, :size => 60  %>
  </div>

  <div class="field">
    <%= f.label :swapimage %><br>
    <%= f.text_field :swapimage, :size => 60  %>
  </div>
  
  <div class="field">
    <%= f.label :smallimage %><br>
    <%= f.text_field :smallimage, :size => 60  %>
  </div>

  <div class="field">
    <%= f.input :vertical %>
  </div>

  <div class="field">
    <%= f.input :horizontal %>
  </div>

  <div class="field">
    <%= f.input :side %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
