 <!--
            <div class="row">
              <% swatch.colors.each do |color| %>  
              <div class="col-sm-2">
                <%= link_to(color) do %>
                  <%= color.name %>
                <% end %>
                <%= image_tag(color.image_url, :class => "img-responsive" ) %>
                <%= button_to 'Add to Cart', line_items_path(series_id: swatch.id, color_id: color.id) %>    
              </div>
              <% end %>
            </div>

                <%= 
                #sanitize(swatch.description) 
                %>

            -->  

                  <!-- link/button to popup --> 
              <%= link_to(swatch.image_url, :class => "no-under") do %>    
                <span class="glyphicon glyphicon-zoom-in"></span> 
              <% end %>