<% if (@series.style.id == 1) %>
<% thistitle = "CLASSIC VINYL"
   thiscolor = "addgold"  %>

<% elsif (@series.style.id == 2) %>
<% thistitle = "PREMIUM VINYL"
   thiscolor = "addarmy"  %>

<% elsif (@series.style.id == 3) %>
<% thistitle = "DESIGNER VINYL  "
   thiscolor = "addpurple"  %>

<% elsif (@series.style.id == 7) %>
<% thistitle = "DISTINCTIONS COLLECTIONS"
   thiscolor = "addorange"  %>

<% elsif (@series.style.id == 8) %>
<% thistitle = "VALUE VINYL"
   thiscolor = "addgold"  %>

<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <div class="<%= thiscolor %>"><span class="seriesname"><%= @series.name %></span> <span class="twoem">&ndash; <%= @series.colors.count %>  colors available </div>
    <div class="seriessub bold">
    	<%= thistitle %> 
    	<% if (@series.style.id == 2) %>
          <% if (@series.id > 56) %>
            <% if (@series.id < 73) %>
		      | <span class="distinctions addorange">DISTINCTIONS COLLECTION</span>
       	    <% end %> 
       	  <% end %>  
        <% end  %>
    </div>   
  </div>
</div>

<div class="row add-bottom top10">
  <div class="col-sm-6">
    <% if (@series.style.id == 7) %>
        <%= image_tag(@series.image_url, alt: @series.name, :id => "bannerimage", :title => @series.id, :class => "img-responsive" ) %>
        <%= image_tag(@series.swapimage, alt: @series.name, :id => "banner2", :title => @series.id, :class => "hidden img-responsive" ) %>
    <% else %>    
    	<%= image_tag(@series.image_url, alt: @series.name, :title => @series.id, :class => "img-responsive" ) %>
    <% end %>    
    <div class="shown">Shown: <%= @series.callout %></div>
  </div>

  <div class="col-sm-6">
  	<div class="serieslead <%= thiscolor %>"><%= @series.lead %></div>
  	<div class="splashtext styledesc addgrey top10 seriesdesc"><%= @series.description %></div>

  	<% if (@series.style.id == 1) %>
  	<div>
  	  <ul class="sideseries">
  	  	<li>Easy care vinyls – simply wipe and go.</li>
  	  	<li>Custom cuts. Table covers are cut to finished size any shape. (see types below)</li>
  	  	<li>Minimum order is just 5 yards.</li>
  	  	<li>Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</li>
  	  	<li>Finished edge sewn with 1⁄4” single turn helm</li>
  	  </ul>
      <p><a href="/technical_specs" class="addgray underline">Technical specs.</a></p>
    </div>

    <% elsif (@series.style.id == 2) %>
  	<div class="top10">
  	  <ul class="sideseries">
  	  	<li>Easy care vinyls – simply wipe and go.</li>
  	  	<li>Custom cuts. Table covers are cut to finished size any shape. (see types below)</li>
  	  	<li>Minimum order is just 5 yards.</li>
  	  	<li>Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</li>
  	  	<li>Finished edge sewn with 1⁄4” single turn helm</li>
  	  	<li><a href="/technical_specs" class="addgray underline">Technical specs.</a></li>
  	  </ul>
    </div>

    <% elsif (@series.style.id == 3) %>
  	<div>
  	  <ul class="sideseries">
  	  	<li>Heavy-duty, no-launder fabric is suitable for upholstery</li>
  	  	<li>Table covers are custom sewn to fit your tables. (See types below.)</li>
  	  	<li>Finished edge with 1⁄4” single turn hem</li>
  	  	<li>Offered by the piece (minimum 5 yards) or by the roll (25 yards x 54”)</li>
  	  	<li><a href="/technical_specs" class="addgray underline">Technical specs.</a></li>
  	  </ul>
    </div>
	<% end %>
  	
	<div class="row">
      <% if (@series.style.id == 3) %>
          
       	  <div class="col-xs-12 top40 padtop40">
            <a href="/styles/3"><span class="addblack"><strong>Back to ALL DESIGNER LAMINATES</strong></span> <span class="glyphicon glyphicon-play"></span></a> 
          </div>   

      <% elsif (@series.style.id == 2) %>
          <% if (@series.id > 56) %>
            <% if (@series.id < 73) %>
		    <div class="col-xs-12">
            
       	  	  <div class="bold addorange style-head top10">
       	  	  	This Style Also Suitable<br>for <u>Upholstery</u> Projects!
       	  	  </div>
       	  	  <div class="bold">
       	  	  	<span class="glyphicon glyphicon-exclamation-sign"></span>
       	  	  	<span class="addorange">Color Not recommended for upholstery.</span>
       	  	  </div>    	
       	  	</div>
            <% end %> 
       	  <% end %>
       	  <div class="col-xs-12 top20">
            <a href="/styles/2"><span class="addblack"><strong>Back to ALL PREMIUM Vinyls</strong></span> <span class="glyphicon glyphicon-play"></span></a> 
          </div>   
      <% end  %>

	  <div class="col-sm-6">
        <% if (@series.style.id == 7) %>
          <div class="splashtext upcallout"><%= @series.callout %></div>
          <div class="pull-right top10">
	        <div id="upholimage"><%= image_tag(@series.smallimage, :class => "img-responsive" )  %></div>
	        <div><a href="#", id="linkswapper" class="linkswapper">VIEW LARGER  <span class="glyphicon glyphicon-zoom-in"></span></a></div>
          </div>
            
        <% elsif (@series.style.id == 1) %>
          
          <div class="top40 padtop40">
            <a href="/styles/1"><span class="addblack"><strong>Back to ALL CLASSIC Vinyls</strong></span> <span class="glyphicon glyphicon-play"></span></a> 
          </div>   
            <!--
          <div class="splashtext callout top25"><%= @series.callout %></div>
          <div class="noforget"><strong>Don't Forget</strong> the<br>Non-Slip Padding</div>  
          -->      	
        <% end %>

      </div>

	  <div class="col-sm-6 ">
        <!-- if this is the 9800 page -->
	    <% if (@series.style.id == 1) %>
	  	 <div class="noforget top40"><strong>Don't Forget</strong> the<br>Non-Slip Padding</div>
		  
       
	    <% elsif (@series.style.id == 3) %>
	<!--
	  	<div>
	  	  <p>REPEAT INFORMATION</p>
	  	    <div class="row">
			  <div class="col-sm-6">
			  	Vertical:
			  </div>
			  <div class="col-sm-6">
			    4.5"
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-6">
			  	Horizontal:
			  </div>
			  <div class="col-sm-6">
			  	9"
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-6">
			  	Side:
			  </div>
			  <div class="col-sm-6">
			  	4.5" Half Step
			  </div>
			</div>
		  <p>FOR INTERIOR USE ONLY</p>				  
        </div>

		<div class="top20">
          <p>Custom cuts available! Minimum order is just 5 yards. Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</p>	
        </div>
        -->

	    <% elsif (@series.style.id == 7)  %>

	    <% if (@series.id != 23)  %>
        <!-- 6111-6126 -->
	  	<div>
	  	  <p>REPEAT INFORMATION</p>
	  	    <div class="row">
			  <div class="col-sm-6">
			  	Vertical:
			  </div>
			  <div class="col-sm-6">
			    <%= (@series.vertical)  %>
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-6">
			  	Horizontal:
			  </div>
			  <div class="col-sm-6">
			  	<%= (@series.horizontal)  %>
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-6">
			  	Side:
			  </div>
			  <div class="col-sm-6">
			  	<%= (@series.side)  %>
			  </div>
			</div>
		  <p>FOR INTERIOR USE ONLY</p>				  

        </div>
        <% end %> 
		<div class="top20">
          <p>Custom cuts available! Minimum order is just 5 yards. Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</p>	
        </div>

		
		<div>
          <!-- <p><a href="#">Also available for table covers. <span class="glyphicon glyphicon-play"></span></a></p> -->	
        </div>
        
	    <% end %> <!-- end of ID=7 --> 

	  </div>


	</div>
  </div>
</div> 


<div class="row">    
    <div class="col-xs-12"> 
      <div class="style-title">
      	
      	<div class="<%= thiscolor %>">
          <%= @series.name %> Series |  Available for placemats, runners or overlays, too. <a class="blacklink smaller" href="/categories/5">Learn More</a>
      	</div>
       
      </div>
      
    </div>
   
  </div>


<div class="row">
  <div class="col-xs-9 col-sm-10">   
    <div class="row  top20">  
  	  <% color_array = @series.colors.order("name") %>
  	  <% color_array.each do |swatch| %>
  	  
        <div class="col-xs-6 col-sm-3 bottom25">
          <%= image_tag(swatch.image_url, :class => "img-responsive imgbottompad" ) %>
          <div class="row">
			<div class="col-xs-9">
				<div class="addblack"><strong><% if (swatch.notforupholstery?) %>  <span class="glyphicon glyphicon-exclamation-sign"></span> <% end %><% swatch.series.name %>  <%= swatch.name %></strong></div>
				<div class="addblack">
					<%= link_to('ORDER SWATCH', line_items_path(series_id: swatch.series.id, color_id: swatch.id), :class => "btn btn-primary btn-xs", method: :post ) %> 
				</div>
			</div>
			<div class="col-xs-3">
                <!-- Button trigger modal -->
				<button class="btn btn-default btn-med pullinleft10" data-toggle="modal" data-target="#myModal<%= swatch.id %>">
				  <span class="glyphicon glyphicon-zoom-in"></span>	
				</button>
	        </div>

			<!-- Modal -->
			<div class="modal fade" id="myModal<%= swatch.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel"><%= swatch.series.name %> - <%= swatch.name %></h4>
			      </div>
			      <div class="modal-body">
			      
			        <div class="row">
			        	<div class="col-xs-9">
			        		<%= image_tag(swatch.image_url, :class => "img-responsive" )   %>
		        		</div>
		        		<div class="col-xs-3">
		        		    <div class="addblack bottom15">MATERIAL</div>
		        		    <div class="addblack bottom25"><%= swatch.series.style.name %></div>
		        		    <div class="addblack bottom15">COLOR</div>
		        		    <div class="addblack bottom25"><%= swatch.name %></div>
			        		
		        		</div>
		        		
			        </div>

			        <div class="row">
			        	<div class="col-xs-12">
			        		<div class="bottom15"><%= swatch.series.callout %></div>
			        		<div class="bottom15"><%= swatch.series.description %></div>
			        		<div class="">Custom cuts available! Minimum order is just 5 yards. Or order by the roll. Each 54”-wide roll holds 25 yards of fabric.</div>
		        		</div>
		        		
		        			
			        </div>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        

					<%= link_to('Order Swatch', line_items_path(series_id: swatch.series.id, color_id: swatch.id), :class => "btn btn-primary", method: :post ) %>  
			        
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
          </div> 
        </div>
      <% end %>
     
    </div> 
  </div> 
	  
    
  <div class="col-xs-3 col-sm-2">   
    <div>
	  <%= link_to('/how_to_order', :class => "no-under") do %>
	    <%= image_tag("swatch-image.png", :class => "top40", alt:"Free Swatches") %>
	  <% end %>
	</div>
	<div>
	   <%= link_to('/request_catalog', :class => "no-under") do %>
	    <%= image_tag("free-catalog.png", :class => "top40", alt:"Free Catalog") %>
	  <% end %>
	</div>  
	<div class="top40">
	   <%= link_to('/categories/2', :class => "no-under onesix addarmy") do %>
	    <strong>Don't Forget</strong><br>to order the<br>Non-Slip Pads
	  <% end %>
	</div>  
  </div>     


</div> 

<!--
<p>
  <strong>Style:</strong>
  <%= @series.style_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @series.image_url %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %> | 
<%= link_to 'New', new_series_path %>

-->