<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-tags"></i> Quotes
            </li>
        </ol>

        <h1 class="page-header">
            <% if (params[:status] == "Submitted") %>
              Pending
            <% end %>
            Quotes
            <% if (params[:status] == "Submitted") %>
              <small>(with Status: Submitted)</small>
            <% end %>
        </h1>
    </div>
</div>
<!-- /.row -->

<%= paginate @quotes %>

<div class="row">
    <div class="no-more-tables">
      <table class="col-md-12 table table-hover table-striped table-condensed">
        <thead>
            <tr>
              <th>Quote ID</th>
              <th>Status</th>
              <th>Customer</th>
              <th>User</th>
              <th>City</th>
              <th>State</th>
              <th>Date</th>
              <th class="text-right">Total</th>
            </tr>
        </thead>

        <tbody>
          <% @quotes.each do |quote| %>
            <tr>
                <td data-title="Quote ID"><%= link_to "#{quote.id}", [:admin, quote], class: "quote-link" %></td>
                <td data-title="Status"><span class="<%= quote.current_color %> label-status"><%= quote.status %></span></td>
                <td data-title="Customer"><%= quote.firstname %> <%= quote.lastname %></td>
                <td data-title="User"><a href="/admin/users/<%= quote.user_id %>"><%= quote.email %></a></td>
                <td data-title="City"><%= quote.ship_city %></td>
                <td data-title="State"><%= quote.ship_state %></td>
                <td data-title="Created At"><%= quote.created_at.strftime("%-m-%d-%Y") %></td>
                <td data-title="Total" class="text-right"><%= number_to_currency(quote.total) %></td>
            </tr>
          <% end  %>

        </tbody>
      </table>
  </div>
</div>
<!-- /.row -->

<%= paginate @quotes %>







