<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
              <a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
              <a href="/admin/quotes"><i class="fa fa-tags"></i> Quotes</a>
            </li>
            <li class="active">
               #<%= @quote.id %>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

  <%= render 'layouts/messages' %>

<div class="row" id="user-bg-row-quote">
  <div class="col-lg-12">
    <p class=""><a href="/admin/users/<%= @quote.user_id %>" class="user-email-link"><%= @quote.email %></a></p></div>
  </div>
</div>

<div class="bs-callout bs-callout-primary">

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h1>QUOTE #<%= @quote.id %></h1>
    </div>

    <div class="col-md-6 col-lg-6 top25">
      <h4 class="pull-right"><%= @quote.created_at.strftime("%B %d, %Y") %></h4>
    </div>
  </div>

  <div class="row top10">
    <div class="col-xs-12">
    	 <p><strong>Status:</strong> <%= best_in_place @quote, :status, :as => :select, :collection => { "Submitted" => "Submitted", "Priced" => "Priced", "Purchased" => "Purchased", "Offline-Purchased" => "Offline-Purchased" }, :class => ["#{@quote.current_color}", "label-status"] %>
         &nbsp;
        <%= link_to url_for(params) do %>
          <i class='fa fa-refresh'></i>
        <% end %>
      </p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-dark">
        <div class="panel-heading">
          CUSTOMER DETAILS
        </div>
        <div class="panel-body">
          <% unless @quote.company.blank? %>
            <strong><%= @quote.company %></strong><br>
          <% end %>
           <% unless @quote.tax_id.blank? %>
          Tax ID: <%= @quote.tax_id %><br><br>
          <% end %>
          <%= @quote.firstname %> <%= @quote.lastname %><br/>
          <%= @quote.email %><br>
          Tel: <%= best_in_place @quote, :telephone, :as => :input %>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          SHIPPING ADDRESS
        </div>
        <div class="panel-body">
          <% unless @quote.company.blank? %>
            <strong><%= @quote.company %></strong><br>
          <% end %>

          <%= best_in_place @quote, :firstname, :as => :input %> <%= best_in_place @quote, :lastname, :as => :input %>
          <br><%= best_in_place @quote, :ship_street_address, :as => :input %>
          <br><%= best_in_place @quote, :ship_city, :as => :input %>, <%= best_in_place @quote, :ship_state, :as => :input %>  <%= best_in_place @quote, :ship_zipcode, :as => :input %>
          <br><%= best_in_place @quote, :ship_country, :as => :input %>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-gray">
        <div class="panel-body">

  	      <%= render "conditional_lines" %>

  	      <div class="row">
  				  <div class="col-xs-2 col-xs-offset-8 text-right">
  				    Sub-Total:
  				  </div>
  				  <div class="col-xs-2 text-right">
  				    <%= number_to_currency(@quote.subtotal) %>
  				  </div>
  				</div>
  				<div class="row">
  				  <div class="col-xs-2 col-xs-offset-8 text-right">
  				    Shipping:
  				  </div>
  				  <div class="col-xs-2 text-right">

  				    <%= best_in_place @quote, :shipping, :as => :input, :dislay_with => :number_to_currency %>

  				  </div>
  				</div>

  				<div class="row">
  				  <div class="col-xs-2 col-xs-offset-8 text-right">
  				    Sales Tax:
  				  </div>
  				  <div class="col-xs-2 text-right">
  				    <%= best_in_place @quote, :sales_tax, :dislay_with => :number_to_currency %>
  				  </div>
  				</div>
          <hr>
  				<div class="row invoice-title">
  				  <div class="col-xs-2 col-xs-offset-8 text-right">
  				    <strong>Total:</strong>
  				  </div>
  				  <div class="col-xs-2 text-right">
  				    <%= number_to_currency(@quote.total) %>
  				  </div>
  				</div>
        </div>
      </div>

      <div class="row">
  		  <div class="col-xs-12 text-right">
  		  	<div class="btn-group">
  		    <%= link_to recalculate_admin_quote_path, :class => "btn btn-primary btn-med"  do %>
  		      <i class="glyphicon glyphicon-wrench"></i> Recalculate Quote Totals
  		    <% end %>
  		    <%= link_to send_priced_email_admin_quote_path, :class => "btn btn-danger btn-med"  do %>
  		      <i class="glyphicon glyphicon-paper-plane"></i> Pricing Complete - Send Email to Notify Customer Now
  		    <% end %>
  		    </div>
  		  </div>
  		</div>
    </div>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-xs-12 col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Questions to the Customer regarding this quote: </strong>
      </div>
      <div class="panel-body">
        <%= best_in_place @quote, :question, :as => :textarea, :nil => "Click here to type a question..." %>
        <%= link_to send_question_email_admin_quote_path, :class => "question-btn btn btn-success btn-med pull-right"  do %>
           <i class="glyphicon glyphicon-paper-plane"></i> Send Customer Question Now
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-xs-12">
    <h4>WARNING: Do not click these links, they are for testing only.</h4>
    <br><br>
      <%= link_to "Send priced email preview to special recipients", template_trial_admin_quote_path(@quote.id) %>
    <br><br>
      <%= link_to "Send question email to special recipients", quote_question_admin_quote_path(@quote.id, @user) %>
    <br><br>
      <%= link_to "Send quote followup detail to special recipients",  quote_followup_detail_admin_quote_path(@quote.id) %>
  </div>
</div>

<br>
<br>