<footer class="footer">
  <div class="row">
    <div class="col-sm-3 col-lg-3 footer-border">
      <ul>
        <li class="dark"><strong>OUR PRODUCTS</strong></li>
        <li><%= link_to "Vinyl Table Covers",   "#" %></li>
        <li><%= link_to "Laminated Fabric",   "#" %></li>
        <li><%= link_to "Upholstery Fabrics",   "#" %></li>
        <li><%= link_to "Roll Goods",   "#" %></li>
        <li><%= link_to "No-Slip Pads",   "#" %></li>
        <li><%= link_to "Placemats",   "#" %></li>
        <li><%= link_to "Tablecover Overlays",   "#" %></li>
    </div>
    <div class="col-sm-3 col-lg-3 footer-border">
      <ul>
        <li class="dark"><strong>WAYS TO BUY</strong></li>
        <li><%= link_to "Request Swatches",   "#" %></li>
        <li><%= link_to "Request A Quote",   "#" %></li>
        <li><%= link_to "Place An Order",   "#" %></li>
        <li><%= link_to "e-Catalog",   "#" %></li>
        <li><%= link_to "Measuring Instructions",   "#" %></li>
        <li><%= link_to "Laminate or Vinyl",   "#" %></li>
        <li><%= link_to "How to Order",   "#" %></li>
      </ul>
    </div>
    <div class="col-sm-3 col-lg-3 footer-border">
      <ul>
        <li class="dark"><strong>LET US HELP YOU</strong></li>
        <li><%= link_to "Customer Service",   "#" %></li>
        <li><%= link_to "Contact Us",   "#" %></li>
        <li><%= link_to "Request A Catalog",   "#" %></li>
        <li><%= link_to "Free Samples",   "#" %></li>
        <li><%= link_to "Shipping + Delivery",   "#" %></li>
        <li><%= link_to "Order Information",   "#" %></li>
      </ul>
    </div>
    <div class="col-sm-3 col-lg-3">
      <ul>
        <li class="dark"><strong>ABOUT AMERICO</strong></li>
        <li><%= link_to "About Us",   about_path %></li>
        <li><%= link_to "Satisfied Customers", "#" %></li>
        <li><%= link_to "Site Map", "#" %></li>
        <li><%= link_to "Safety and Technical Specs", "#" %></li>
        <li><%= link_to "Cleaning Instructions", "#" %></li>
        <li><%= link_to "Privacy Policy", "#" %></li>
      </ul>
    </div>
   
  </div>
  <div class="row top25">
    <div class="col-sm-12 col-lg-12">
      <span class="dark">Hours of Operation: 7:30 - 5:00 CST Monday - Friday</span><br />
      Call Toll Free: 800-626-2350 | 870-735-4848 | Fax: 870-735-4129<br />
      601 East Barton, West Memphis, AR 72301 |  &copy; 2014 Americo Inc. All rights Reserved. 
    </div>
  </div>
  
</footer>