<%= subscriber_form %>

<footer>

  <div class="row footer">
    
    <div class="col-sm-3 col-md-3 ">
      <ul>
        <li class="dark"><strong>OUR PRODUCTS</strong></li>
        <li><%= link_to "Vinyl Table Covers",   "/categories/1" %></li>
        <li><%= link_to "Laminated Fabric",   "/categories/3" %></li>
        <li><%= link_to "Upholstery Fabrics",   "/styles/7" %></li>
        <li><%= link_to "Roll Goods",   "/roll_goods" %></li>
        <li><%= link_to "No-Slip Pads",   "/categories/2" %></li>
        <li><%= link_to "Placemats",   "/categories/5" %></li>
        <li><%= link_to "Tablecover Overlays",   "/categories/5" %></li>
        <li><%= link_to "Runners",   "/categories/5" %></li>
    </div>
    <div class="col-sm-3 col-md-3">
      <ul>
        <li class="dark"><strong>WAYS TO BUY</strong></li>
        <li><%= link_to "Request Swatches",   "/free_swatches" %></li>
        <li><%= link_to "Request A Quote",   "/request_quote" %></li>
        <li><%= link_to "Request A Catalog",   "/request_catalog" %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Place an Order", "/users/#{current_user.id}", class: "top-link" %></li>
        <% end %>
        <li><%= link_to "Measuring Instructions",   "/how_to_measure" %></li>

        <li><%= link_to "e-Catalog",   "/" %></li>
        
      </ul>
    </div>
    <div class="col-sm-3 col-md-3">
      <ul>
        <li class="dark"><strong>LET US HELP YOU</strong></li>
        <li><%= link_to "Contact Us",   contact_path  %></li>
        <li><%= link_to "How to Order",   "/how_to_order" %></li>
        <li><%= link_to "Terms and Conditions",   "/terms_and_conditions" %></li>
        <li><%= link_to "Cleaning Instructions", "/cleaning_instructions" %></li>
        <li><%= link_to "Frequently Asked Questions",   "/frequently_asked_questions" %></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-3">
      <ul>
        <li class="dark"><strong>ABOUT AMERICO</strong></li>
        <li><%= link_to "About Us",   about_path %></li>
        <li><%= link_to "Satisfied Customers", "/satisfied_customers" %></li>
        <li><%= link_to "Technical Specs", "/technical_specs" %></li>
        <li><%= link_to "Privacy Policy", "/privacy_policy" %></li>
        <li><%= link_to "Site Map", "/sitemap" %></li>
      </ul>
    </div>
   
  </div>
  <div class="row footer">
    <div class="col-xs-12">
      <ul>
        <li><span class="dark">Hours of Operation: 8:00 - 5:00 CST Monday - Friday</span></li>
        <li>Call Toll Free: 800-626-2350 | 870-735-4848 | Fax: 870-735-4129</li>
        <li>601 East Barton, West Memphis, AR 72301 |  &copy; 2014 Americo Inc. All rights Reserved. </li>
    </div>
  </div>
  
<%= debug(params) %>

<%= params.inspect %>
<%= debug(session) %>
