<%= subscriber_form %>

<footer>

  <div class="row footer">
    
    <div class="col-sm-6 col-md-3  footer-border">
      <ul>
        <li class="dark"><strong>OUR PRODUCTS</strong></li>
        <li><%= link_to "Vinyl Table Covers",   "#" %></li>
        <li><%= link_to "Laminated Fabric",   "#" %></li>
        <li><%= link_to "Upholstery Fabrics",   "#" %></li>
        <li><%= link_to "Roll Goods",   "#" %></li>
        <li><%= link_to "No-Slip Pads",   "#" %></li>
        <li><%= link_to "Placemats",   "#" %></li>
        <li><%= link_to "Tablecover Overlays",   "#" %></li>
    </div>
    <div class="col-sm-6 col-md-3 footer-border">
      <ul>
        <li class="dark"><strong>WAYS TO BUY</strong></li>
        <li><%= link_to "Request Swatches",   "#" %></li>
        <li><%= link_to "Request A Quote",   "#" %></li>
        <li><%= link_to "Request A Catalog",   "#" %></li>
        <li><%= link_to "Place An Order",   "#" %></li>
        <li><%= link_to "Measuring Instructions",   "#" %></li>
        <li><%= link_to "e-Catalog",   "#" %></li>
        
      </ul>
    </div>
    <div class="col-sm-6 col-md-3 footer-border">
      <ul>
        <li class="dark"><strong>LET US HELP YOU</strong></li>
        <li><%= link_to "Contact Us",   contact_path  %></li>
        <li><%= link_to "How to Order",   "#" %></li>
        <li><%= link_to "Terms and Conditions",   "#" %></li>
        <li><%= link_to "Cleaning Instructions", "#" %></li>
        <li><%= link_to "Frequently Asked Questions",   "#" %></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <ul>
        <li class="dark"><strong>ABOUT AMERICO</strong></li>
        <li><%= link_to "About Us",   about_path %></li>
        <li><%= link_to "Satisfied Customers", "#" %></li>
        <li><%= link_to "Technical Specs", "#" %></li>
        <li><%= link_to "Privacy Policy", "#" %></li>
        <li><%= link_to "Site Map", "#" %></li>
      </ul>
    </div>
   
  </div>
  <div class="row footer">
    <div class="col-xs-12">
      <ul>
        <li><span class="dark">Hours of Operation: 7:30 - 5:00 CST Monday - Friday</span></li>
        <li>Call Toll Free: 800-626-2350 | 870-735-4848 | Fax: 870-735-4129</li>
        <li>601 East Barton, West Memphis, AR 72301 |  &copy; 2014 Americo Inc. All rights Reserved. </li>
    </div>
  </div>
  
</footer>


