<header>
  <% if user_signed_in? %>
  <div class="row" id="userheader">
    <div class="col-xs-12">  
      Logged in as <strong><%= current_user.email %></strong>. 
      <%= link_to 'My Dashboard', user_path(current_user), :class => "btn btn-primary btn-xs" %>
      <%= link_to 'Edit profile settings', edit_user_registration_path, :class => "btn btn-info btn-xs" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-danger btn-xs" %>     
    </div>
  </div>
  <% end %>


  <div class="row" id="siteheader">
    <div class="col-xs-12 col-sm-6 col-md-3">  
      <%= link_to '/', id: "logo" do %>
        <%= image_tag('logo.png', :class => "img-responsive") %>
      <% end %>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-2 homephone">  
      800-626-2350        
    </div>
    
    <div class="col-xs-12 col-sm-12  col-md-7">   
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 border-right hl-link no-left-pad">  
          <ul>
           
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "userlink" %></li>
                
            <% else %>
              <li><%= link_to "SIGN IN", new_user_session_path, :class => "userlink" %></li>
              <li><%= link_to "MY ACCOUNT", new_user_session_path, :class => "userlink" %></li>
            <% end %>
          </ul>         
        </div>
        
        <div class="col-xs-6 col-sm-3 col-md-3 border-right">  
          <ul>
            <% if user_signed_in? %>
              <li><a class="dropdown-toggle userlink" href="/users/<%= current_user.id %>">MY ACCOUNT </a></li>
              <li><%= link_to "Place an Order", "/place_an_order", class: "top-link" %></li>

            <% else %>
              <li><%= link_to "Create Account", new_user_registration_path, class: "userlink" %></li>

            <% end %>
            <li><%= link_to "Request a Quote", "/request_quote", class: "top-link" %></li>
          </ul>    
        </div>
        
        <div class="col-xs-6 col-sm-3 col-md-3 border-right top-link">  
          <ul>
            <li><a href="/how_to_measure" class="top-link">How to Measure</a></li>
            <li><a href="/request_catalog" class="top-link">FREE Catalog</a></li>
            <li><a href="/free_swatches" class="top-link">FREE Swatches</a></li>
          </ul>        
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          
          <div class="dropdown pull-right">  
            <% if @cart %>
            <div class="cartcount styledesc bold addred"><%= @cart.line_items.count %></div>
            <% end %>
          <%= link_to '#', id: "minidropcart", :class => "dropdown-toggle", data: { toggle: "dropdown" } do 
             # link_to 'carts/:id', id: "minidropcart", class: "dropdown-toggle", data: { toggle: "dropdown", target: "#" } do 
            %>
            <%= image_tag('header_cart.png') %>         
             <% end %>  
            <div class="dropdown-menu" role="menu" style="padding: 10px;min-width:320px;" aria-labelledby="minidropcart" id="side">
              <% if user_signed_in? %>
                  <% if @cart %>
                    <% if (@cart.line_items.empty?) %>
                      Your Shopping Cart is Currently Empty
                    <% end %>
                  <% end %> 
              <% end %>

              <% if @cart %>
                <div id="cart">
                <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                  <%= render @cart %>   
                <% end %>
                </div> <!-- end cart id div -->
              <% end %>               
            </div>

            <div class="addblack top10">
            
              <% if @cart %>

                <% if (@cart.line_items.empty?) %>
                  Your cart is Empty
                <% else %>              
                  Your cart has <%= @cart.line_items.count %>   <%= "item".pluralize(@cart.line_items.count) %> 
                <% end %>
              
              <% end %>  

            </div>
          </div>
          
        </div>

      </div>    
    </div>

  </div>

</header>  
 

<div class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">


      
      <%= 
      #content_tag :li, :class => ('active' if current_page?(root_path)) do 
      %>
            
      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/categories", :action => "show", :id => "1" )) do %>
      <%= link_to "Vinyl Table Covers",     "/categories/1" %>
      <% end %>
     
      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/styles", :action => "show", :id => "7" )) do %>
      <%= link_to "Vinyl Upholstery Fabric", "/styles/7" %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/categories", :action => "show", :id => "3" )) do %>
      <%= link_to "Laminated Fabric", "/categories/3" %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/categories", :action => "show", :id => "2" )) do %>
      <%= link_to "Non-Slip Padding",  "/categories/2" %>    
      <% end %>

      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/categories", :action => "show", :id => "5" )) do %>
      <%= link_to "Accessories",      "/categories/5" %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/static_pages", :action => "photo_gallery" )) do %>
      <%= link_to "Photo Gallery",    "/gallery" %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current_page?(:controller => "/static_pages", :action => "about" )) do %>
      <%= link_to "About Us",          "/about" %>
      <% end %>


    </ul>
  </nav>
</div><!-- /.navbar-collapse -->
