<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
          <!--sidebar-->
          <div class="sidebar-nav-fixed" id="side">
            <% if @cart %>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>   
              <% end %>
            <% end %> 
          <ul class="nav nav-list">
            <li><a href="/store">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="divider"></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Example</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
          </ul>
          </div>
      </div><!--/span4-->
      <div class="span8">
         <!--2nd column-->
         <div id="rightCol">
          <%= render 'layouts/messages' %>
          
          <% if user_signed_in? %>
          <div class="pull-right">
            <p>Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path %></p>
          </ul>  
          <% end %>

           <%= yield %>

          </div><!--/rightCol-->
      </div><!--/span8-->
    </div>

    <%= render 'layouts/footer' %>
  
  </div>  

</body>
</html>