<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
          <!--sidebar-->
          <div class="sidebar-nav-fixed" id="side">
             <div id="cart">
               <%= render @cart %>   
             </div>

          <ul class="nav nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#">Responsive</a></li>
            <li><a href="#">Example</a></li>
            <li class="divider"></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Example</a></li>
            <li><a href="#">Example</a></li>
            <li><a href="#">Resources</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          </div>
      </div>
      <div class="span10">
         <!--2nd column-->
         <div id="rightCol">
          <%= render 'layouts/messages' %>
          
          <% if user_signed_in? %>
          <div class="pull-right">
            <p>Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path %></p>
          </ul>  
          <% end %>

           <%= yield %>

          </div><!--/rightCol-->
      </div><!--/span10-->
    </div>

    <%= render 'layouts/footer' %>
  
  </div>  

</body>
</html>